openapi: 3.2.0
info:
  version: 1.0.4
  title: External Clinical Configured Vitals API
  description: 'External Clinical API


    **Internal IDs**

    The following terms are used to reference IDs that identify resources in AlayaCare:

    - id

    - created_by

    - client_id

    - risk_id

    - medication_id

    - admin_id

    - vital_id


    **External IDs**

    The following terms are used to reference IDs that identify resources systems external to AlayaCare:

    - external_id

    - external_client_id


    External IDs are required to be unique.'
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/clinical
tags:
- name: Configured Vitals
paths:
  /vitals/configured:
    get:
      tags:
      - Configured Vitals
      summary: Get a list of clients with vitals configured
      responses:
        200:
          description: A list of client IDs
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: array
                    items:
                      type: integer
                      description: AlayaCare client ID
                      example: 1234
        401:
          $ref: '#/components/responses/AuthChallenge'
        400:
          $ref: '#/components/responses/InvalidRequest'
      operationId: getVitalsConfigured
      x-operation-id-source: derived
components:
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
  responses:
    InvalidRequest:
      description: Invalid data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Invalid request
    AuthChallenge:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Please verify your access level for this url.
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
