openapi: 3.2.0
info:
  title: External Employee Employee Notes API
  version: 1.0.8
  description: '**AlayaCare IDs:**

    The following terms are used to reference IDs that identify resources in AlayaCare:

    - employee_id

    - contact_id


    **External IDs**

    The following terms are used to reference IDs that identify resources systems external to AlayaCare:

    - external_employee_id

    - external_contact_id


    External IDs are required to be unique.'
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/employees
tags:
- name: Employee Notes
paths:
  /employee_notes/{employee_id}:
    parameters:
    - name: employee_id
      description: AlayaCare ID of the employee
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Employee Notes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      - name: note_type
        description: Filter on the employee note type category
        in: query
        schema:
          type: string
      - name: created_at
        description: 'Filter employee notes by creation date greater or equal than specified value.

          Expected format is ISO 8601.

          Ex: `2018-02-03T08:00:00-05:00`

          '
        in: query
        schema:
          type: string
          format: date-time
      summary: Get a list of employee notes by the employee's AlayaCare ID
      responses:
        '200':
          description: A list of employee notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeNotesDetailsList'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
      operationId: getEmployeeNotesByEmployeeId
      x-operation-id-source: derived
    post:
      summary: Create an employee note by the employee's AlayaCare ID
      tags:
      - Employee Notes
      description: '* A subset of HTML is accepted in the content. Supported HTML is based upon the following library: https://bleach.readthedocs.io/en/latest/

        * Note `status` is optional, if omitted the employee note will be created with status set to `Active`.'
      responses:
        201:
          description: Employee note created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeNotesDetails'
        401:
          $ref: '#/components/responses/ErrorResponseAuthentication'
        400:
          $ref: '#/components/responses/ErrorResponseCreateNoteInvalidRequest'
        404:
          $ref: '#/components/responses/ErrorResponseEmployeeNotFound'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeNotesCreate'
        description: Employee note data in JSON format
        required: true
      operationId: postEmployeeNotesByEmployeeId
      x-operation-id-source: derived
  /employee_notes/by_id/{external_employee_id}:
    parameters:
    - name: external_employee_id
      description: External ID of the employee
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Employee Notes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      - name: note_type
        description: Filter on the employee note type category
        in: query
        schema:
          type: string
      - name: created_at
        description: 'Filter employee notes by creation date greater or equal than specified value.

          Expected format is ISO 8601.

          Ex: `2018-02-03T08:00:00-05:00`

          '
        in: query
        schema:
          type: string
          format: date-time
      summary: Get a list of employee notes by the employee's external ID
      responses:
        '200':
          description: A list of employee notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeNotesDetailsList'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
      operationId: getEmployeeNotesByIdByExternalEmployeeId
      x-operation-id-source: derived
    post:
      summary: Create an employee note by the employee's external ID
      tags:
      - Employee Notes
      description: '* A subset of HTML is accepted in the content. Supported HTML is based upon the following library: https://bleach.readthedocs.io/en/latest/

        * Note `status` is optional, if omitted the employee note will be created with status set to `Active`.'
      responses:
        201:
          description: Employee note created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeNotesDetails'
        401:
          $ref: '#/components/responses/ErrorResponseAuthentication'
        400:
          $ref: '#/components/responses/ErrorResponseCreateNoteInvalidRequest'
        404:
          $ref: '#/components/responses/ErrorResponseEmployeeNotFound'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeNotesCreate'
        description: Employee note data in JSON format
        required: true
      operationId: postEmployeeNotesByIdByExternalEmployeeId
      x-operation-id-source: derived
components:
  parameters:
    page:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
    count:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        type: integer
        default: 100
  responses:
    ErrorResponseEmployeeNotFound:
      description: Employee not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Employee not found.
    ErrorResponseCreateNoteInvalidRequest:
      description: Invalid data submitted for creation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400,
            message: Invalid note type
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  schemas:
    EmployeeNotesCreate:
      description: Employee note data required for creation.
      type: object
      properties:
        status:
          type: string
          default: active
          description: Status of the employee note. Either `active` or `archived`.
          example: active
          enum:
          - active
          - archived
        note_type:
          type: string
          description: Note type category of the employee note
          example: employee_general
        content:
          type: string
          description: Content of the employee note. A subset of HTML is accepted.
          example: Employee requested additional training.
      required:
      - note_type
      - content
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
      required:
      - count
      - page
      - total_pages
      - items
    EmployeeNotesDetails:
      description: An employee note
      type: object
      properties:
        id:
          type: integer
          description: ID of the employee note
          example: 123
        status:
          type: string
          default: active
          description: Status of the employee note. Either `active` or `archived`.
          example: active
          enum:
          - active
          - archived
        note_type:
          type: string
          description: Note type category of the employee note
          example: employee_general
        content:
          type: string
          description: Content of the employee note. A subset of HTML is accepted.
          example: Employee requested additional training.
        created_at:
          type: string
          format: date-time
          description: Date employee note was created (ISO 8601)
          example: '2018-07-08T13:30:00+00:00'
        created_by:
          type: integer
          description: AlayaCare ID of the employee who created the employee note.
          example: 1001
    EmployeeNotesDetailsList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of employee notes
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeNotesDetails'
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
