openapi: 3.2.0
info:
  title: External Employee Designations API
  version: 1.0.8
  description: '**AlayaCare IDs:**

    The following terms are used to reference IDs that identify resources in AlayaCare:

    - employee_id

    - contact_id


    **External IDs**

    The following terms are used to reference IDs that identify resources systems external to AlayaCare:

    - external_employee_id

    - external_contact_id


    External IDs are required to be unique.'
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/employees
tags:
- name: Designations
paths:
  /designations:
    get:
      tags:
      - Designations
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      summary: Get a list of available employee designations
      responses:
        '200':
          description: A list of designations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesignationList'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
      operationId: getDesignations
      x-operation-id-source: derived
components:
  parameters:
    page:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
    count:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        type: integer
        default: 100
  schemas:
    Designation:
      description: AlayaCare designation.
      type: object
      properties:
        designation:
          type: string
          description: AlayaCare designation
          example: RN
      required:
      - designation
    DesignationList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of designations
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Designation'
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
      required:
      - count
      - page
      - total_pages
      - items
  responses:
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
