openapi: 3.2.0
info:
  title: Alayacare Note Types API
  version: '1.0'
  description: 'Operations tagged Note Types across 2 of this provider''s published API definitions: alayacare-clinical-openapi.yml, alayacare-employee-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/clinical
- url: https://homecare.alayacare.ca/ext/api/v2/employees
tags:
- name: Note Types
paths:
  /note_types:
    parameters:
    - name: filter
      description: Substring search on note types
      in: query
      schema:
        type: string
    get:
      tags:
      - Note Types
      summary: A list of progress note types
      responses:
        200:
          description: A list of progress notes types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteTypesList'
        401:
          $ref: '#/components/responses/AuthChallenge'
    servers:
    - url: https://homecare.alayacare.ca/ext/api/v2/clinical
components:
  responses:
    AuthChallenge:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Please verify your access level for this url.
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  schemas:
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
        items:
          type: array
          items:
            type: object
      required:
      - count
      - page
      - total_pages
      - items
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    NoteTypesList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of a client's progress notes
      properties:
        items:
          type: array
          items:
            properties:
              note_type:
                type: string
                description: Progress note type
                example: progress_nursing
    PaginatedList_2:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
      required:
      - count
      - page
      - total_pages
      - items
    NoteTypesList_2:
      allOf:
      - $ref: '#/components/schemas/PaginatedList_2'
      description: Paginated list of a employee note types
      properties:
        items:
          type: array
          items:
            properties:
              note_type:
                type: string
                description: Employee note type code
                example: employee_general
              name:
                type: string
                description: Employee note type display name
                example: General
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
x-refined-from:
- alayacare-clinical-openapi.yml
- alayacare-employee-openapi.yml
