openapi: 3.2.0
info:
  version: 1.0.17
  title: AlayaCare Scheduler Visit notes API
  description: '**External IDs:**

    The following terms are used to reference ids that identify resources in systems external to AlayaCare:

    - client_id

    - employee_id

    - service_id

    - funder_id

    - visit_id

    - facility_id


    External IDs are required to be unique. No other assumptions are made regarding their format; they are treated as strings.


    **AlayaCare IDs:**

    The following terms are used to reference ids that identify resources in AlayaCare:

    - alayacare_client_id

    - alayacare_employee_id

    - alayacare_service_id

    - alayacare_funder_id

    - alayacare_visit_id

    - alayacare_facility_id


    **Remarks**

    All dates must be in ISO 8601 format with timezone data

    '
  contact:
    name: AlayaCare
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/scheduler
tags:
- name: Visit notes
paths:
  /visits/{alayacare_visit_id}/notes:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      required: true
      schema:
        type: integer
    post:
      tags:
      - Visit notes
      summary: Add note to a visit using AlayaCare ID
      responses:
        '201':
          description: Visit note successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visit'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/components/responses/ErrorResponseVisitNotFound'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitNoteCreate'
        description: Visit note data in JSON format
        required: true
  /visits/by_id/{visit_id}/notes:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Visit notes
      summary: Add note to a visit using External ID
      responses:
        '201':
          description: Visit note successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visit'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/components/responses/ErrorResponseVisitNotFound'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitNoteCreate'
        description: Visit note data in JSON format
        required: true
components:
  responses:
    ErrorResponseVisitNotFound:
      description: Visit not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Visit not found
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          example: 400
          description: Response code
        message:
          type: string
          example: Invalid request
          description: Detailed error message
      required:
      - code
      - message
    VisitTag:
      type: string
      description: Name of tag.
      example: First visit
    VisitCancelCode:
      description: Visit cancellation code
      type:
      - object
      - 'null'
      properties:
        id:
          type: integer
          description: AlayaCare cancel code ID
          example: 1
        code:
          type: string
          description: Cancel code
          example: CLNT_REQ_RESCHEDULE
        description:
          type:
          - string
          - 'null'
          description: Cancel code description
          example: Client requested reschedule
      required:
      - id
      - code
    Visit:
      allOf:
      - $ref: '#/components/schemas/BaseVisit'
      properties:
        alayacare_client_id:
          type: integer
          description: AlayaCare client ID
          example: 1001
        client_id:
          type:
          - string
          - 'null'
          description: External client ID
          example: sor_client_id_1
      required:
      - alayacare_client_id
    VisitNoteCreate:
      description: Visit note
      type: object
      properties:
        text:
          type: string
          description: Content of the visit note
          maxLength: 1000
          example: A sample visit note.
      required:
      - text
    BaseVisit:
      type: object
      properties:
        alayacare_employee_id:
          type:
          - integer
          - 'null'
          description: AlayaCare employee ID
          example: 101
        alayacare_service_id:
          type: integer
          description: AlayaCare service ID
          example: 1
        alayacare_visit_id:
          type: integer
          description: AlayaCare visit ID
          example: 10001
        employee_id:
          type:
          - string
          - 'null'
          description: External employee ID
          example: sor_employee_id_1
        service_id:
          type:
          - string
          - 'null'
          description: External service ID
          example: sor_service_id_1
        visit_id:
          type:
          - string
          - 'null'
          description: External visit ID
          example: sor_visit_id_1
        status:
          type: string
          description: Status of the visit based on status hierarchy from AlayaCare web application.
          example: scheduled
          enum:
          - scheduled
          - vacant
          - on_hold
          - cancelled
          - offered
          - clocked
          - late
          - completed
          - missed
          - approved
        start_at:
          type: string
          format: date-time
          description: Visit start time (ISO 8601)
          example: '2017-07-08T13:30:00+00:00'
        end_at:
          type: string
          format: date-time
          description: Visit end time (ISO 8601)
          example: '2017-07-08T14:00:00+00:00'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/VisitNote'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/VisitTag'
        cancelled:
          type: boolean
          description: Indicates if visit is cancelled
        cancel_code:
          $ref: '#/components/schemas/VisitCancelCode'
      required:
      - alayacare_service_id
      - alayacare_visit_id
      - start_at
      - end_at
      - cancelled
      - cancel_code
    VisitNote:
      allOf:
      - $ref: '#/components/schemas/VisitNoteCreate'
      properties:
        created_at:
          type: string
          format: date-time
          description: Creation time of the note
          example: '2017-07-08T13:30:00+00:00'
      required:
      - created_at
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
