openapi: 3.2.0
info:
  title: External Tasks 2.0 Comments API
  version: 1.0.0
  description: "**Internal IDs:**\nThe following terms are used to reference IDs that identify resources in AlayaCare:\n- client_id\n- comment_id\n- employee_id\n- form_id\n- subtask_id\n- task_id\n- \n**External IDs**\nExternal IDs are required to be unique.\nNo other assumptions are made regarding their form; they are treated as strings.\n\nThe following terms are used to reference IDs that identify resources in systems external to AlayaCare:\n- external_client_id\n- external_employee_id\n\n**Remarks**\n- All dates must be in ISO 8601 format.\n- Required fields marked with `*` cannot be null.\n- Currently filtering by date is timezone-naive and will assume any filters to be provided in the timezone of branch associated to the task.\n"
servers:
- url: https://homecare.alayacare.com
  description: Production server
- url: https://homecare.staging.alayacare.com
  description: Staging server
- url: https://homecare.uat.alayacare.com
  description: UAT server
security:
- BasicAuth: []
tags:
- name: Comments
paths:
  /tasks/{task_id}/comments:
    get:
      summary: Retrieve all comments for a task
      description: Retrieve all comments for a task.
      tags:
      - Comments
      parameters:
      - $ref: '#/components/parameters/task_id'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCommentList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      summary: Add a comment to a task
      description: Add a comment to a task.
      tags:
      - Comments
      parameters:
      - $ref: '#/components/parameters/task_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskComment'
        description: Task Comment
        required: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCommentList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  /tasks/{task_id}/comments/{comment_id}:
    get:
      summary: Retrieve specific comment for a task
      description: Retrieve a specific comment for a task.
      tags:
      - Comments
      parameters:
      - $ref: '#/components/parameters/task_id'
      - $ref: '#/components/parameters/comment_id'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    put:
      summary: Update a specific comment for a task
      description: Update a specific comment for a task.
      tags:
      - Comments
      parameters:
      - $ref: '#/components/parameters/task_id'
      - $ref: '#/components/parameters/comment_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskComment'
        description: Task Comment
        required: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    delete:
      summary: Delete a specific comment for a task
      description: Delete a comment for a task.
      tags:
      - Comments
      parameters:
      - $ref: '#/components/parameters/task_id'
      - $ref: '#/components/parameters/comment_id'
      responses:
        '204':
          description: success, no content
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
components:
  responses:
    404NotFound:
      description: Entity not found
    403Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers: {}
    401Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers: {}
    400BadRequest:
      description: Bad request
  schemas:
    ErrorResponse:
      title: Error response
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
            required:
            - message
      required:
      - message
      - request_id
    Person:
      type: object
      description: Encapsulates the bare details of a person
      properties:
        id:
          type: integer
          nullable: false
          description: Primary ID (Employee ID, User ID etc.) of person
        external_id:
          type: string
          nullable: true
          description: External ID of person
        guid:
          type: integer
          nullable: true
          description: GUID
        profile_id:
          type: integer
          nullable: true
          description: Profile ID
        last_name:
          type: string
          description: Last Name/Family Name
        first_name:
          type: string
          description: First Name
        full_name:
          type: string
          description: Full Name
        status:
          type: string
          description: Status of person
        deep_link:
          type: string
          description: Deep link to person
        profile_photo_url:
          type: string
          description: URL to profile photo
    TaskCommentList:
      type: object
      items:
        $ref: '#/components/schemas/TaskComment'
    TaskComment:
      type: object
      description: Comments on a task.
      title: Task Comment
      properties:
        comment_id:
          type: integer
          example: 1
          description: Primary Key
        comment:
          type: string
          example: Comment
        created_at:
          type: string
          format: datetime
          example: '2023-02-02T19:00:45.000Z'
          description: When the comment was created
        created_by:
          $ref: '#/components/schemas/Person'
          description: Who created the comment.
        updated_at:
          type: string
          format: datetime
          example: '2023-02-02T19:00:58.000Z'
          description: When the comment was most recently updated.
        updated_by:
          $ref: '#/components/schemas/Person'
          description: Who updated the comment
  parameters:
    task_id:
      name: task_id
      in: path
      required: true
      schema:
        type: integer
      description: The task identifier
    comment_id:
      name: comment_id
      in: path
      required: true
      schema:
        type: integer
      description: The uniqut task comment identifier
      example: 11111
