openapi: 3.2.0
info:
  version: 1.0.2
  title: Care Plan 2.0 Tags API
  description: 'External Clinical API


    **Internal IDs**

    The following terms are used to reference IDs that identify resources in AlayaCare:

    - id

    - created_by

    - client_id

    - employee_id

    - plan_id

    - diagnosis_id

    - goal_id

    - intervention_id


    **External IDs**

    The following terms are used to reference IDs that identify resources systems external to AlayaCare:

    - external_employee_id

    - external_client_id

    - external_service_id


    External IDs are required to be unique.'
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/clinical
tags:
- name: Tags
paths:
  /careplans/tags:
    get:
      tags:
      - Tags
      summary: Get a list of all care plan tags
      description: '- Care plan tags are configured'
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: The list of care plan tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarePlanTags'
        '401':
          $ref: '#/components/responses/AuthChallenge'
        '403':
          $ref: '#/components/responses/ErrorInsufficientAccess'
        '404':
          $ref: '#/components/responses/ErrorResponseInvalidTagId'
      operationId: getCareplansTags
      x-operation-id-source: derived
components:
  parameters:
    page:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
    count:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        type: integer
        default: 100
  responses:
    ErrorInsufficientAccess:
      description: You do not have the required permissions to perform this action
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status_code: 403
            message: Access required
    ErrorResponseInvalidTagId:
      description: Field 'tag_id' is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status_code: 404
            message: Field 'tag_id' is invalid
    AuthChallenge:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status_code: 401
            message: Please verify your access level for this url.
  schemas:
    CarePlanTagList:
      description: List of care plan tags
      type: object
      properties:
        id:
          description: Tag ID
          type: integer
          example: 2
        name:
          description: Tag name
          type: string
          example: Review care plan
    CarePlanTags:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of care plan tags
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CarePlanTagList'
    ErrorResponse:
      description: Error response
      type: object
      properties:
        status_code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
      required:
      - count
      - page
      - total_pages
      - items
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
