openapi: 3.2.0
info:
  title: Alayacare Profile API
  version: '1.0'
  description: 'Operations tagged Profile across 4 of this provider''s published API definitions: alayacare-client-openapi.yml, alayacare-employee-openapi.yml, alayacare-scheduler-openapi.yml, alayacare-services-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: '{server}/ext/api/v2/patients'
  variables:
    server:
      default: https://demo3.alayacare.ca
- url: https://homecare.alayacare.ca/ext/api/v2/employees
- url: https://homecare.alayacare.ca/ext/api/v2/scheduler
- url: https://homecare.uat.alayacare.ca/ext/api/v2/scheduler
- url: https://homecare.staging.alayacare.ca/ext/api/v2/scheduler
tags:
- name: Profile
  description: Profile attribute related endpoints.
paths:
  /profile/client:
    get:
      tags:
      - Profile
      summary: Get a list of client profile attributes
      operationId: listClientProfileAttributes
      description: Returns a paginated list of client profile attributes.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/filter_partial_search'
      responses:
        '200':
          description: A list of profile attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAttributeList'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
    servers:
    - url: '{server}/ext/api/v2/patients'
      variables:
        server:
          default: https://demo3.alayacare.ca
  /profile/client_contact:
    get:
      tags:
      - Profile
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/filter_partial_search'
      summary: Get a list of client contact profile attributes
      operationId: listClientContactProfileAttributes
      description: Returns a paginated list of client contact profile attributes.
      responses:
        '200':
          description: A list of profile attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAttributeList'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
    servers:
    - url: '{server}/ext/api/v2/patients'
      variables:
        server:
          default: https://demo3.alayacare.ca
  /profile/employee:
    parameters:
    - $ref: '#/components/parameters/page'
    - $ref: '#/components/parameters/count'
    get:
      tags:
      - Profile
      summary: Get a list of employee profile attributes
      responses:
        '200':
          description: A list of profile attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAttributeList_2'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication_2'
    servers:
    - url: https://homecare.alayacare.ca/ext/api/v2/employees
  /profile/employee_contact:
    get:
      tags:
      - Profile
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      summary: Get a list of employee contact profile attributes
      responses:
        '200':
          description: A list of profile attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAttributeList_2'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication_2'
    servers:
    - url: https://homecare.alayacare.ca/ext/api/v2/employees
  /profile/service:
    get:
      tags:
      - Profile
      summary: Get a list of service profile attributes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/filter_partial_search_2'
      responses:
        '200':
          description: A list of profile attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileAttributeList_3'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication_3'
    servers:
    - url: https://homecare.alayacare.ca/ext/api/v2/scheduler
components:
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          example: 400
          description: Response code
        message:
          type: string
          example: Invalid request
          description: Detailed error message
      required:
      - code
      - message
    ProfileAttribute:
      type: object
      properties:
        tag:
          description: Attribute key in the demographics object
          type: string
          example: first_name
        description:
          description: Attribute description as it shows in the web application
          type: string
          example: First Name
    ProfileAttributeList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      - type: object
        description: Paginated list of profile attributes
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/ProfileAttribute'
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages available
          example: 1
        items:
          type: array
          items:
            type: object
      required:
      - count
      - page
      - total_pages
      - items
    ErrorResponse_2:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    ProfileAttributeList_2:
      allOf:
      - $ref: '#/components/schemas/PaginatedList_2'
      description: Paginated list of profile attributes
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProfileAttribute'
    PaginatedList_2:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
      required:
      - count
      - page
      - total_pages
      - items
    ProfileAttributeList_3:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of profile attributes
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProfileAttribute'
    ProfileAttributeList_4:
      allOf:
      - $ref: '#/components/schemas/PaginatedList_3'
      description: Paginated list of profile attributes
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProfileAttribute'
    PaginatedList_3:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
        items:
          type: array
          items:
            type: object
      required:
      - count
      - page
      - total_pages
      - items
  parameters:
    count:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        type: integer
        default: 100
    page:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
    filter_partial_search:
      name: filter_partial_search
      description: 'Substring search on profile tag and description values.

        Ex: `name`

        '
      in: query
      required: false
      schema:
        type: string
    filter_partial_search_2:
      name: filter (partial search)
      description: 'Substring search on profile tag and description values.

        Ex: `name`

        '
      in: query
      required: false
      schema:
        type: string
    count_2:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        default: 100
        type: integer
        minimum: 0
    page_2:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        default: 1
        type: integer
        minimum: 1
    filter_partial_search_3:
      name: filter (partial search)
      description: 'Substring search on profile tag and description values.

        Ex: `name`

        '
      in: query
      required: false
      schema:
        type: string
  responses:
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            response:
              value:
                code: 401
                message: Authorization required.
    ErrorResponseAuthentication_2:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
          example:
            code: 401
            message: Authorization required.
    ErrorResponseAuthentication_3:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
    ErrorResponseAuthentication_4:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  securitySchemes:
    basic_auth:
      type: http
      description: Basic HTTP auth over https
      scheme: basic
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- alayacare-client-openapi.yml
- alayacare-employee-openapi.yml
- alayacare-scheduler-openapi.yml
- alayacare-services-openapi.yml
