openapi: 3.2.0
info:
  version: 1.0.4
  title: External Clinical Care Plan Interventions API
  description: 'External Clinical API


    **Internal IDs**

    The following terms are used to reference IDs that identify resources in AlayaCare:

    - id

    - created_by

    - client_id

    - risk_id

    - medication_id

    - admin_id

    - vital_id


    **External IDs**

    The following terms are used to reference IDs that identify resources systems external to AlayaCare:

    - external_id

    - external_client_id


    External IDs are required to be unique.'
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/clinical
tags:
- name: Care Plan Interventions
paths:
  /interventions/client/{client_id}:
    parameters:
    - name: client_id
      in: path
      required: true
      description: AlayaCare client ID
      schema:
        type: integer
    get:
      tags:
      - Care Plan Interventions
      summary: Get a list of a client's care plan interventions using AlayaCare client ID
      description: '- `service_id` and `external_service_id` are mutually exclusive, specifying both is an invalid request.'
      parameters:
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/external_service_id'
      - name: status
        description: Filter by status of the intervention
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - completed
          - archived
      responses:
        200:
          description: A list of interventions for a client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterventionList'
        400:
          $ref: '#/components/responses/ErrorResponseAdlsInvalidRequest'
        401:
          $ref: '#/components/responses/AuthChallenge'
        403:
          $ref: '#/components/responses/ErrorResponseCareplanFeatureFlagState'
        404:
          $ref: '#/components/responses/ClientNotFound'
      operationId: getInterventionsClientByClientId
      x-operation-id-source: derived
  /interventions/client/by_id/{external_client_id}:
    parameters:
    - name: external_client_id
      in: path
      required: true
      description: External client ID
      schema:
        type: string
    get:
      tags:
      - Care Plan Interventions
      summary: Get a list of a client's interventions using external client ID
      description: '- `service_id` and `external_service_id` are mutually exclusive, specifying both is an invalid request.'
      parameters:
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/external_service_id'
      - name: status
        description: Filter by status of the intervention
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - completed
          - archived
      responses:
        200:
          description: A list of interventions for a client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterventionList'
        400:
          $ref: '#/components/responses/ErrorResponseAdlsInvalidRequest'
        401:
          $ref: '#/components/responses/AuthChallenge'
        403:
          $ref: '#/components/responses/ErrorResponseCareplanFeatureFlagState'
        404:
          $ref: '#/components/responses/ClientNotFound'
      operationId: getInterventionsClientByIdByExternalClientId
      x-operation-id-source: derived
components:
  parameters:
    service_id:
      name: service_id
      in: query
      required: false
      description: Filter by alayacare service ID
      schema:
        type: integer
    external_service_id:
      name: external_service_id
      in: query
      required: false
      description: Filter by external service ID
      schema:
        type: string
  schemas:
    InterventionService:
      description: Intervention service
      type: object
      properties:
        id:
          type: integer
          description: AlayaCare service ID
          example: 1
        external_id:
          type:
          - string
          - 'null'
          description: External service ID
          example: sor_service_external_id_1
    InterventionList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of interventions
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Intervention'
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
        items:
          type: array
          items:
            type: object
      required:
      - count
      - page
      - total_pages
      - items
    Intervention:
      type: object
      description: Care plan intervention
      properties:
        name:
          type: string
          description: Intervention name
          example: brush teeth
        description:
          type: string
          description: Intervention description
          example: brush teeth
        status:
          type: string
          description: Status of the intervention
          enum:
          - draft
          - active
          - completed
          - archived
        type:
          type: string
          description: One of the types defined in the setting "Care Documentation > Care Plan Intervention Types"
          example: Nursing
        start_date:
          type: string
          description: Intervention start date
          example: '2018-01-01'
        end_date:
          type: string
          description: Intervention end date
          example: '2018-01-01'
        services:
          type: array
          items:
            $ref: '#/components/schemas/InterventionService'
  responses:
    ClientNotFound:
      description: Not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Client not found.
    ErrorResponseCareplanFeatureFlagState:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: You do not have the required permissions to perform this action.
    AuthChallenge:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Please verify your access level for this url.
    ErrorResponseAdlsInvalidRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: service_id and external_service_id are mutually exclusive
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
