openapi: 3.2.0
info:
  version: 1.1.0
  title: AlayaCare Services Service Tags API
  description: '**External IDs:**


    The following terms are used to reference ids that identify resources in

    systems external to AlayaCare:


    - client_id

    - employee_id

    - service_id

    - funder_id

    - visit_id

    - facility_id


    External IDs are required to be unique.


    No other assumptions are made regarding their format; they are treated as

    strings.



    **AlayaCare IDs:**


    The following terms are used to reference ids that identify resources in

    AlayaCare:


    - alayacare_client_id

    - alayacare_employee_id

    - alayacare_service_id

    - alayacare_funder_id

    - alayacare_visit_id

    - alayacare_facility_id



    **Remarks**


    - All dates must be in ISO 8601 format with timezone data

    '
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/scheduler
- url: https://homecare.uat.alayacare.ca/ext/api/v2/scheduler
- url: https://homecare.staging.alayacare.ca/ext/api/v2/scheduler
security:
- basicAuth: []
tags:
- name: Service Tags
paths:
  /services/tags:
    parameters:
    - $ref: '#/components/parameters/page'
    - $ref: '#/components/parameters/count'
    get:
      tags:
      - Service Tags
      summary: Get list of service tags
      description: 'Get a list of service tags

        '
      responses:
        '200':
          description: The list of service tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTagList'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
components:
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          example: 400
          description: Response code
        message:
          type: string
          example: Invalid request
          description: Detailed error message
      required:
      - code
      - message
    ServiceTagList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of service tags
      properties:
        items:
          type: array
          example:
          - Diabetes service
          - Hospice care
          items:
            type: string
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
        items:
          type: array
          items:
            type: object
      required:
      - count
      - page
      - total_pages
      - items
  parameters:
    page:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        default: 1
        type: integer
        minimum: 1
    count:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        default: 100
        type: integer
        minimum: 0
  responses:
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
