openapi: 3.2.0
info:
  version: 1.0.17
  title: AlayaCare Scheduler Visit Verification API
  description: '**External IDs:**

    The following terms are used to reference ids that identify resources in systems external to AlayaCare:

    - client_id

    - employee_id

    - service_id

    - funder_id

    - visit_id

    - facility_id


    External IDs are required to be unique. No other assumptions are made regarding their format; they are treated as strings.


    **AlayaCare IDs:**

    The following terms are used to reference ids that identify resources in AlayaCare:

    - alayacare_client_id

    - alayacare_employee_id

    - alayacare_service_id

    - alayacare_funder_id

    - alayacare_visit_id

    - alayacare_facility_id


    **Remarks**

    All dates must be in ISO 8601 format with timezone data

    '
  contact:
    name: AlayaCare
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/scheduler
tags:
- name: Visit Verification
paths:
  /visit_verification/visits/{alayacare_visit_id}:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Visit Verification
      summary: Get extended visit verification information using AlayaCare ID
      responses:
        '200':
          description: Visit details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitVerificationDetails'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '403':
          $ref: '#/components/responses/ErrorResponseUnauthorized'
        '404':
          $ref: '#/components/responses/ErrorResponseVisitNotFound'
components:
  responses:
    ErrorResponseVisitNotFound:
      description: Visit not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Visit not found
    ErrorResponseUnauthorized:
      description: Authorization required due to release flag state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: You do not have the required permissions to perform this action.
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  schemas:
    VisitVerificationDetails:
      description: Extended Visit Verification information
      type: object
      properties:
        id:
          type: integer
          description: Visit ID
          example: 1000
        pay:
          type: object
          properties:
            quantity:
              type: number
              example: 1.23
            units:
              type: string
              enum:
              - hours
              - visits
              - amount
            rate:
              type: number
              example: 10.0
        bill:
          type: object
          properties:
            quantity:
              type: number
              example: 1.0
            units:
              type: string
              enum:
              - hours
              - visits
              - rate
            rate:
              type: number
              example: 5.0
        status:
          type: string
          enum:
          - scheduled
          - vacant
          - on_hold
          - cancelled
          - offered
          - clocked
          - late
          - completed
          - missed
        approval_status:
          type: string
          enum:
          - approved
          - not_approved
          - in_violation
          - rejected
        exceptions:
          type: array
          items:
            $ref: '#/components/schemas/VisitVerificationException'
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          example: 400
          description: Response code
        message:
          type: string
          example: Invalid request
          description: Detailed error message
      required:
      - code
      - message
    VisitVerificationException:
      type: object
      properties:
        reason_code:
          type: string
          example: reason_code
        reason_name:
          type: string
          example: Stuck in traffic
        reason_category:
          type: string
          example: Reason Category
        resolution_code:
          type: string
          example: resolution_code
        resolution_name:
          type: string
          example: Validated with comments
        comments:
          type: string
          example: Arrived under acceptable time frame
        is_acknowledged:
          type: boolean
          example: false
        status:
          type: string
          enum:
          - resolved
          - unresolved
        details:
          type: string
          example: Work session information unavailable
          description: Visit exception details
        name:
          type: string
          example: Client overlapping work sessions
          description: Exception type name
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
