openapi: 3.2.0
info:
  version: 1.0.17
  title: AlayaCare Scheduler Activities of Daily Living (ADL) API
  description: '**External IDs:**

    The following terms are used to reference ids that identify resources in systems external to AlayaCare:

    - client_id

    - employee_id

    - service_id

    - funder_id

    - visit_id

    - facility_id


    External IDs are required to be unique.'
  contact:
    name: AlayaCare
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/scheduler
tags:
- name: Activities of Daily Living (ADL)
paths:
  /adls/client/{alayacare_client_id}:
    parameters:
    - name: alayacare_client_id
      in: path
      required: true
      description: AlayaCare client ID
      schema:
        type: string
    get:
      tags:
      - Activities of Daily Living (ADL)
      summary: Get a list of a client's ADLs using AlayaCare client ID
      description: '- `service_id` and `alayacare_service_id` are mutually exclusive, specifying both is an invalid request.'
      parameters:
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/alayacare_service_id'
      responses:
        '200':
          description: A list of ADLs for a client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyActivityList'
        '400':
          $ref: '#/components/responses/ErrorResponseAdlsInvalidRequest'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '403':
          $ref: '#/components/responses/ErrorResponseCareplanFeatureFlagState'
        '404':
          $ref: '#/components/responses/ErrorResponseClientNotFound'
      operationId: getAdlsClientByAlayacareClientId
      x-operation-id-source: derived
  /adls/client/by_id/{client_id}:
    parameters:
    - name: client_id
      in: path
      required: true
      description: External client ID
      schema:
        type: string
    get:
      tags:
      - Activities of Daily Living (ADL)
      summary: Get a list of a client's ADLs using external client ID
      description: '- `service_id` and `alayacare_service_id` are mutually exclusive, specifying both is an invalid request.'
      parameters:
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/alayacare_service_id'
      responses:
        '200':
          description: A list of ADLs for a client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyActivityList'
        '400':
          $ref: '#/components/responses/ErrorResponseAdlsInvalidRequest'
        '403':
          $ref: '#/components/responses/ErrorResponseCareplanFeatureFlagState'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/components/responses/ErrorResponseClientNotFound'
      operationId: getAdlsClientByIdByClientId
      x-operation-id-source: derived
components:
  parameters:
    service_id:
      name: service_id
      in: query
      required: false
      description: Filter by external service ID
      schema:
        type: string
    alayacare_service_id:
      name: alayacare_service_id
      in: query
      required: false
      description: Filter by AlayaCare service ID
      schema:
        type: integer
  schemas:
    DailyActivityList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of ADLs
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DailyActivity'
    DailyActivityService:
      description: Daily activity service
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: External service ID
          example: sor_service_external_id_1
        alayacare_id:
          type: integer
          description: AlayaCare service ID
          example: 1
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          example: 400
          description: Response code
        message:
          type: string
          example: Invalid request
          description: Detailed error message
      required:
      - code
      - message
    DailyActivity:
      type: object
      properties:
        category:
          $ref: '#/components/schemas/DailyActivityCategory'
        name:
          type: string
          description: Activity name.
          example: brush teeth
        rrule:
          type: string
          description: Recurrence rule applied to the daily activity.
          example: FREQ=WEEKLY;DTSTART=20180204T180000Z;UNTIL=20180304T180000Z;WKST=MO;BYDAY=MO,WE,FR
        services:
          type: array
          items:
            $ref: '#/components/schemas/DailyActivityService'
      required:
      - category
      - name
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages available
          example: 1
        items:
          type: array
          items:
            type: object
      required:
      - count
      - page
      - total_pages
      - items
    DailyActivityCategory:
      description: Daily activity category
      type: string
      enum:
      - adl_personal_care
      - adl_mobility
      - adl_equipment
      - adl_nutrition
      - adl_household_management
      - adl_support
      - adl_medication
  responses:
    ErrorResponseClientNotFound:
      description: Client not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Client not found
    ErrorResponseCareplanFeatureFlagState:
      description: Authorization required due to feature flag state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: You do not have the required permissions to perform this action.
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
    ErrorResponseAdlsInvalidRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: service_id and alayacare_service_id are mutually exclusive
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
