swagger: '2.0'
info:
  version: '1.0.17'
  title: AlayaCare Scheduler API
  description: |
    **External IDs:**
    The following terms are used to reference ids that identify resources in systems external to AlayaCare:
    - client_id
    - employee_id
    - service_id
    - funder_id
    - visit_id
    - facility_id

    External IDs are required to be unique. No other assumptions are made regarding their format; they are treated as strings.

    **AlayaCare IDs:**
    The following terms are used to reference ids that identify resources in AlayaCare:
    - alayacare_client_id
    - alayacare_employee_id
    - alayacare_service_id
    - alayacare_funder_id
    - alayacare_visit_id
    - alayacare_facility_id

    **Remarks**
    All dates must be in ISO 8601 format with timezone data
  contact:
    name: AlayaCare

host: homecare.alayacare.ca
basePath: /ext/api/v2/scheduler
securityDefinitions:
  basic_auth:
    type: basic
    description: Basic HTTP auth over https
schemes:
- https
consumes:
- application/json
produces:
- application/json

paths:
  /cancelcodes:
    get:
      tags: [Visits]
      summary: Get a list of cancel codes
      parameters:
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/count'
      - $ref: '#/parameters/branch_id'
      responses:
        "200":
          description: A list of cancel codes
          schema:
            $ref: '#/definitions/VisitCancelCodeList'

  /visits:
    get:
      tags: [Visits]
      summary: Get list of visits
      description: |
        **Note:** This endpoint returns only patient/client visits (where the client is a patient). To retrieve facility visits, use the `/facility_visits` endpoint instead.
        - `client_id` and `alayacare_client_id` are mutually exclusive, specifying both is an invalid request.
        - `employee_id` and `alayacare_employee_id` are mutually exclusive, specifying both is an invalid request.
        - `service_id` and `alayacare_service_id` are mutually exclusive, specifying both is an invalid request.
        - If the `start_date_from` filter is not specified, it will default to **now**.
        - If the `start_date_to` filter is not specified, it will default to **7 days from now**.
      parameters:
      - name: tags
        in: query
        required: false
        type: array
        items:
          type: string
        description: |
          Filter on a list of tags and return values for at least one matching tag. Filter by multiple tag names using **OR**.
      - name: start_date_from
        in: query
        required: false
        type: string
        format: 'date-time'
        description: |
          Filter by visit start date time greater or equal than specified value.
          If not specified will default to now.
          Expected format is ISO 8601 converted to UTC timezone.
          `start_at` can be used as this filter name
          Ex: `2018-02-03T08:00:00-05:00`
      - name: start_date_to
        in: query
        required: false
        type: string
        format: date-time
        description: |
          Filter by visit start date time less than or equal than specified value.
          If not specified will default to 7 days from now.
          Expected format is ISO 8601 converted to UTC timezone.
          `end_at` can be used as this filter name
          Ex: `2019-02-18T08:00:00-05:00`
      - name: end_date_from
        in: query
        required: false
        type: string
        format: 'date-time'
        description: |
          Filter by visit end date time greater or equal than specified value.
          Expected format is ISO 8601 converted to UTC timezone.
          Ex: `2019-02-03T08:00:00-05:00`
      - name: end_date_to
        in: query
        required: false
        type: string
        format: date-time
        description: |
          Filter by visit end date time less than or equal than specified value.
          Expected format is ISO 8601 converted to UTC timezone.
          Ex: `2018-02-18T08:00:00-05:00`
      - name: is_cancelled
        in: query
        required: false
        type: boolean
        description: |
          If true, returns only visits with a valid cancel code, not including 'On Hold'.
          If false, returns only visits with 'On Hold' codes or *no* cancel code.
      - name: is_on_hold
        in: query
        required: false
        type: boolean
        description: |
          If true, returns only visits with an 'On Hold' cancel code.
          If false, returns only visits with *no* cancel code or with a cancel code other than 'On Hold'.
      - name: is_vacant
        in: query
        required: false
        type: boolean
        description: |
          If true, returns only visits with *no* employee assigned.
          If false, returns only visits with an employee assigned.
      - name: status
        in: query
        required: false
        type: string
        description: Status of the visit based on status hierarchy from AlayaCare web application, one or more using **OR**.
        enum:
          - scheduled
          - vacant
          - on_hold
          - cancelled
          - offered
          - clocked
          - late
          - completed
          - missed
          - approved
      - $ref: '#/parameters/branch_id'
      - $ref: '#/parameters/client_id'
      - $ref: '#/parameters/alayacare_client_id'
      - $ref: '#/parameters/employee_id'
      - $ref: '#/parameters/alayacare_employee_id'
      - $ref: '#/parameters/service_id'
      - $ref: '#/parameters/alayacare_service_id'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/count'
      responses:
        "200":
          description: A list of visits
          schema:
            $ref: '#/definitions/VisitList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
    post:
      tags: [Visits]
      summary: Create a new visit
      description: |
        - `client_id` or `alayacare_client_id` is required, not specifying one is an invalid request.
        - `client_id` and `alayacare_client_id` are mutually exclusive, specifying both is an invalid request.
        - `employee_id` and `alayacare_employee_id` are mutually exclusive, specifying both is an invalid request..
        - `service_id` and `alayacare_service_id` are mutually exclusive, specifying both is an invalid request..
        **Remarks**
        A visit can be created without specifying the service if the client has a single **active** service.
        If no employee is specified a vacant visit will be created.
        A cancelled visit (`cancelled`= `true`) must include a cancel code ID.
      parameters:
        - name: body
          description: Visit data in JSON format.
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitCreate'
      responses:
        "201":
          description: Visit successfully created.
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitCreateInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /visits/{alayacare_visit_id}:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      type: integer
      required: true
    get:
      tags: [Visits]
      summary: Get visit details using AlayaCare ID
      description: |
        **Note:** This endpoint returns only patient/client visits (where the client is a patient).
        If the visit belongs to a facility, this endpoint will return a `404`. Use `GET /facility_visits/{alayacare_visit_id}` instead.
      responses:
        "200":
          description: Visit details
          schema:
            $ref: '#/definitions/VisitDetails'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    put:
      tags: [Visits]
      summary: Update visit details using AlayaCare ID
      description: |
        **Note:** This endpoint only supports patient/client visits. To update a facility visit, use `PUT /facility_visits/{alayacare_visit_id}` instead.

        A cancelled visit (`cancelled`= `true`) must include a cancel code ID.
      parameters:
        - name: body
          description: Visit data in JSON format
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitUpdate'
      responses:
        "200":
          description: Visit successfully updated
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitUpdateInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    delete:
      tags: [Visits]
      summary: Delete visit using AlayaCare ID
      responses:
        "204":
          description: Visit successfully deleted
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visits/by_id/{visit_id}:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      type: string
      required: true
    get:
      tags: [Visits]
      summary: Get visit details using external ID
      responses:
        "200":
          description: Visit details
          schema:
            $ref: '#/definitions/VisitDetails'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    put:
      tags: [Visits]
      summary: Update visit details using external ID
      description: A cancelled visit (`cancelled`= `true`) must include a cancel code ID.
      parameters:
        - name: body
          description: Visit data in JSON format
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitUpdate'
      responses:
        "200":
          description: Visit successfully updated
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitUpdateInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    delete:
      tags: [Visits]
      summary: Delete visit using external ID
      responses:
        "204":
          description: Visit successfully deleted
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'


  /visits/lock:
    put:
      tags: [Visits]
      summary: Lock list of visits using Alayacare visit ID or external visit ID
      description: |
        **Remarks**
        - Only Approved visits can be locked using `alayacare_visit_id` or `visit_id`.
        - Visits cannot be **unlocked**.
      parameters:
        - name: body
          description: Visit data in JSON format
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitIDList'
      responses:
        "200":
          description: Visit successfully locked
        "207":
          $ref: '#/responses/ErrorResponsePartialVisitLock'
        "400":
          $ref: '#/responses/ErrorResponseVisitLockInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /visits/{alayacare_visit_id}/delivery_date:
    parameters:
      - name: alayacare_visit_id
        description: AlayaCare visit ID
        in: path
        type: integer
        required: true
    get:
      tags: [Visits]
      summary: Get the delivery date of a visit given the ID
      responses:
        "200":
          description: Delivery date for visit
          schema:
            $ref: '#/definitions/DeliveryDateInformation'
        "404":
          $ref: '#/responses/ErrorResponseDeliveryDateNotFound'

  /visits/{client_id}/next_visit_id:
    parameters:
      - name: client_id
        description: Client ID
        in: path
        type: integer
        required: true
      - name: with_canceled
        description: |
          If false, get the next visit without a cancel code
        in: query
        required: false
        default: true
        type: boolean
      - name: date_utc
        description: Date to filter the next visit. If not specified, date is now.
        in: query
        required: false
        type: string
        format: date-time
    get:
      tags: [Visits]
      summary: Get the next visit ID for a client
      responses:
        "200":
          description: Next visit ID for client
          schema:
            $ref: '#/definitions/NextVisitId'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visits/tags:
    get:
      tags: [Visit tags]
      summary: Get all available tags for visits
      responses:
        "200":
          description: A list of available tags for visits
          schema:
            $ref: '#/definitions/VisitTagList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /visits/{alayacare_visit_id}/tags:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      type: integer
      required: true
    post:
      tags: [Visit tags]
      summary: Add tags to a visit using AlayaCare ID
      parameters:
        - name: body
          description: An array of visit tags
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitTagCreate'
      responses:
        "201":
          description: Visit tags successfully added.
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitTagInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    put:
      tags: [Visit tags]
      summary: Update tags of a visit using AlayaCare ID
      description: Tags sent in the payload will overwrite existing tags on the visit
      parameters:
        - name: body
          description: An array of visit tags
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitTagCreate'
      responses:
        "200":
          description: Visit tags successfully updated
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitTagInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visits/by_id/{visit_id}/tags:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      type: string
      required: true
    post:
      tags: [Visit tags]
      summary: Add tags to a visit using External ID
      parameters:
        - name: body
          description: An array of visit tags
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitTagCreate'
      responses:
        "201":
          description: Visit tags successfully added.
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitTagInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    put:
      tags: [Visit tags]
      summary: Update tags of a visit using External ID
      description: Tags sent in the payload will overwrite existing tags on the visit
      responses:
        "200":
          description: Visit tags successfully updated
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitTagInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visits/{alayacare_visit_id}/notes:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      type: integer
      required: true
    post:
      tags: [Visit notes]
      summary: Add note to a visit using AlayaCare ID
      parameters:
        - name: body
          description: Visit note data in JSON format
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitNoteCreate'
      responses:
        "201":
          description: Visit note successfully created.
          schema:
            $ref: '#/definitions/Visit'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visits/by_id/{visit_id}/notes:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      type: string
      required: true
    post:
      tags: [Visit notes]
      summary: Add note to a visit using External ID
      parameters:
        - name: body
          description: Visit note data in JSON format
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitNoteCreate'
      responses:
        "201":
          description: Visit note successfully created.
          schema:
            $ref: '#/definitions/Visit'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visits/{alayacare_visit_id}/interventions:
    get:
      tags: [Visit interventions]
      summary: Get a list of interventions for a visit using it's Alayacare ID
      parameters:
        - name: alayacare_visit_id
          description: The ID of the visit
          type: integer
          in: path
          required: true
        - name: is_required
          description: Filter for interventions that are required to finish a visit
          type: boolean
          in: query
          required: false
        - name: has_comment
          description: Filter for interventions that have a comment or
            not_completed_reason_name
          type: boolean
          in: query
          required: false
        - name: is_completed
          description: Filter for interventions that have been completed
          type: boolean
          in: query
          required: false
      responses:
        "200":
          description: Visit details
          schema:
            $ref: '#/definitions/VisitInterventionsList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "403":
          $ref: '#/responses/ErrorResponseCareplanFeatureFlagState'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

    put:
      tags: [Visit interventions]
      summary: Link Interventions to a visit
      description: |
        - The full list of Interventions must be provided in the request body, it will override the previously available list.
        - Only active `interventions` on the patient active Careplan can be added
        - Only the admin user can update the visit interventions when the work session is not open.
      parameters:
        - name: body
          description: List of interventions to apply to a visit
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitInterventionsUpdate'
        - name: alayacare_visit_id
          description: The ID of the visit
          type: integer
          in: path
          required: true

      responses:
        "200":
          description: A list of interventions for a visit
          schema:
            $ref: '#/definitions/VisitInterventionsList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "403":
          $ref: '#/responses/ErrorResponseCareplanFeatureFlagState'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'


  /visits/{alayacare_visit_id}/interventions/ivr:
    put:
      tags: [Visit interventions]
      summary: Update interventions in a visit using it's Alayacare ID
      description: |
        - The full list of Interventions must be provided in the request body, it will override the previously available list.
        - User credentials MUST have an admin role.
        - (Employee internal id) MUST be informed on the url path as a param, like this: '?completions_by={employee_internal_id}'.
        - Position should be always 0. It does not cover the interventions tries.
        - The Employee '?completions_by={employee_internal_id} must be clocked-in to the visit.
      parameters:
        - name: body
          description: List of interventions to apply to a visit
          in: body
          required: true
          schema:
            $ref: '#/definitions/IvrVisitInterventions'
        - name: alayacare_visit_id
          description: The ID of the visit
          type: integer
          in: path
          required: true
        - name: completions_by
          description: Employee internal id
          type: integer
          in: query
          required: true

      responses:
        "204":
          description: Success with no content. Interventions were updated.
        "400":
          description: |
            Make sure that:
            - completions_by is informed.
            - the Visit is assigned for the same (employee internal id) informed at completions_by query param.
            - the Visit is clocked-in.
            - the Employee is clocked-in to the visit.
            - position is 0.
            - intervention already exists.

        "403":
          description: Make sure that your api credentials have an admin role.
        "404":
          description: Make sure that visit_id is valid.


  /visits/by_id/{visit_id}/interventions:
    get:
      tags: [Visit interventions]
      summary: Get a list of interventions for a visit using it's Alayacare external ID
      parameters:
        - name: visit_id
          description: The ID of the visit
          type: integer
          in: path
          required: true
        - name: is_required
          description: Filter for interventions that are required to finish a visit
          type: boolean
          in: query
          required: false
        - name: has_comment
          description: Filter for interventions that have a comment
          type: boolean
          in: query
          required: false
        - name: is_completed
          description: Filter for interventions that have been completed
          type: boolean
          in: query
          required: false
      responses:
        "200":
          description: A list of interventions for a visit
          schema:
            $ref: '#/definitions/VisitInterventionsList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "403":
          $ref: '#/responses/ErrorResponseCareplanFeatureFlagState'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

    put:
      tags: [Visit interventions]
      summary: Update interventions in a visit using it's Alayacare external ID
      description: |
        - The full list of Interventions must be provided in the request body, it will override the previously available list.
        - Only active `interventions` on the patient active careplan can be added
        - Only the admin user can update the visit interventions when the work session is not open..
      parameters:
        - name: body
          description: List of interventions to apply to a visit
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitInterventionsUpdate'
        - name: visit_id
          description: The ID of the visit
          type: integer
          in: path
          required: true

      responses:
        "200":
          description: A list of interventions for a visit
          schema:
            $ref: '#/definitions/VisitInterventionsList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "403":
          $ref: '#/responses/ErrorResponseCareplanFeatureFlagState'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visits/{alayacare_visit_id}/accounting:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      type: integer
      required: true
    get:
      tags: [Visit accounting]
      summary: Get visit accounting
      responses:
        "200":
          description: Visit accounting.
          schema:
            $ref: '#/definitions/VisitAccounting'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visits/by_id/{visit_id}/accounting:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      type: integer
      required: true
    get:
      tags: [Visit accounting]
      summary: Get visit accounting
      responses:
        "200":
          description: Visit accounting.
          schema:
            $ref: '#/definitions/VisitAccounting'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /facility_visits/{alayacare_visit_id}/accounting:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      type: integer
      required: true
    get:
      tags: [Visit accounting]
      summary: Get visit accounting
      responses:
        "200":
          description: Visit accounting.
          schema:
            $ref: '#/definitions/VisitAccounting'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /facility_visits/by_id/{visit_id}/accounting:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      type: integer
      required: true
    get:
      tags: [Visit accounting]
      summary: Get visit accounting
      responses:
        "200":
          description: Visit accounting.
          schema:
            $ref: '#/definitions/VisitAccounting'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /visit_verification/visits/{alayacare_visit_id}:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      type: integer
      required: true
    get:
      tags: [Visit Verification]
      summary: Get extended visit verification information using AlayaCare ID
      responses:
        "200":
          description: Visit details
          schema:
            $ref: '#/definitions/VisitVerificationDetails'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "403":
          $ref: '#/responses/ErrorResponseUnauthorized'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /adls/client/{alayacare_client_id}:
    parameters:
    - name: alayacare_client_id
      in: path
      required: true
      type: string
      description: AlayaCare client ID
    get:
      tags: [Activities of Daily Living (ADL)]
      summary: Get a list of a client's ADLs using AlayaCare client ID
      description: |
        - `service_id` and `alayacare_service_id` are mutually exclusive, specifying both is an invalid request.
      parameters:
      - $ref: '#/parameters/service_id'
      - $ref: '#/parameters/alayacare_service_id'
      responses:
        "200":
          description: A list of ADLs for a client
          schema:
            $ref: '#/definitions/DailyActivityList'
        "400":
          $ref: '#/responses/ErrorResponseAdlsInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "403":
          $ref: '#/responses/ErrorResponseCareplanFeatureFlagState'
        "404":
          $ref: '#/responses/ErrorResponseClientNotFound'

  /adls/client/by_id/{client_id}:
    parameters:
    - name: client_id
      in: path
      required: true
      type: string
      description: External client ID
    get:
      tags: [Activities of Daily Living (ADL)]
      summary: Get a list of a client's ADLs using external client ID
      description: |
        - `service_id` and `alayacare_service_id` are mutually exclusive, specifying both is an invalid request.
      parameters:
      - $ref: '#/parameters/service_id'
      - $ref: '#/parameters/alayacare_service_id'
      responses:
        "200":
          description: A list of ADLs for a client
          schema:
            $ref: '#/definitions/DailyActivityList'
        "400":
          $ref: '#/responses/ErrorResponseAdlsInvalidRequest'
        "403":
          $ref: '#/responses/ErrorResponseCareplanFeatureFlagState'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseClientNotFound'

  /profile/service:
    get:
      tags: [Profile]
      summary: Get a list of service profile attributes
      parameters:
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/count'
      - $ref: '#/parameters/filter_partial_search'
      responses:
        '200':
          description: A list of profile attributes
          schema:
            $ref: '#/definitions/ProfileAttributeList'
        '401':
          $ref: '#/responses/ErrorResponseAuthentication'


  /service_codes:
    get:
      tags: [ Service Codes ]
      summary: Get list of service codes
      description: |
        Get a list of service codes
        - `client_id` and `alayacare_client_id` are mutually exclusive, specifying both is an invalid request.
        - `funder_id` and `alayacare_funder_id` are mutually exclusive, specifying both is an invalid request.
        -  Field `client_id` must be specified along with `funder_id`
      parameters:
        - name: client_id
          description: Filter by client id
          in: query
          type: integer
          required: false
        - name: alayacare_client_id
          description: Filter by external client id
          in: query
          type: string
          required: false
        - name: funder_id
          description: Filter by funder id
          in: query
          type: integer
          required: false
        - name: alayacare_funder_id
          description: Filter by external funder id
          in: query
          type: string
          required: false
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
      responses:
        "200":
          description: The list of service codes
          schema:
            $ref: '#/definitions/ServiceCodeList'
        "400":
          $ref: '#/responses/ErrorResponseMutuallyExclusive'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /facilities:
    get:
      tags: [Facilities]
      summary: Get a list of facilities
      description: Get a list of facilities
      parameters:
      - name: name
        description: Filter by facility name
        in: query
        type: string
        required: false
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/count'
      - $ref: '#/parameters/branch_id'
      responses:
        "200":
          description: The list of facilities
          schema:
            $ref: '#/definitions/FacilityList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /facility_visits:
    get:
      tags: [Facilities]
      summary: Get a list of facility visits
      description: |
        Returns visits where the client is a facility. For patient/client visits, use the `/visits` endpoint instead.
      parameters:
      - name: tags
        in: query
        required: false
        type: array
        items:
          type: string
        description: |
          Filter on a list of tags and return values for at least one matching tag. Filter by multiple tags using **OR**.
      - name: start_at
        in: query
        required: false
        type: string
        format: 'date-time'
        description: |
          Filter by visit start time greater or equal than specified value.
          If not specified will default to now.
          Expected format is ISO 8601.
          Ex: `2018-02-03T08:00:00-05:00`
      - name: end_at
        in: query
        required: false
        type: string
        format: date-time
        description: |
          Filter by visit start time less than or equal than specified value.
          If not specified will default to 7 days from now.
          Ex: `2018-02-18T08:00:00-05:00`
      - name: status
        in: query
        required: false
        type: string
        description: Status of the visit based on status hierarchy from AlayaCare web application, one or more using **OR**.
        enum:
          - scheduled
          - vacant
          - on_hold
          - cancelled
          - offered
          - clocked
          - late
          - completed
          - missed
          - approved
      - $ref: '#/parameters/facility_id'
      - $ref: '#/parameters/alayacare_facility_id'
      - $ref: '#/parameters/employee_id'
      - $ref: '#/parameters/alayacare_employee_id'
      - $ref: '#/parameters/service_id'
      - $ref: '#/parameters/alayacare_service_id'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/count'
      responses:
        "200":
          description: the list of facilities
          schema:
            $ref: '#/definitions/FacilityVisitList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

    post:
      tags: [Facilities]
      summary: Create a new facility visit
      description: |
        - `facility_id` or `alayacare_facility_id` is required, not specifying one is an invalid request.
        - `facility_id` and `alayacare_facility_id` are mutually exclusive, specifying both is an invalid request.
        - `employee_id` and `alayacare_employee_id` are mutually exclusive, specifying both is an invalid request.
        - `service_id` and `alayacare_service_id` are mutually exclusive, specifying both is an invalid request.
        **Remarks**
        A visit can be created without specifying the service if the facility has a single **active** service.
        If no employee is specified a vacant visit will be created.
        A cancelled visit (`cancelled`= `true`) must include a cancel code ID.
      parameters:
        - name: body
          description: Visit data in JSON format.
          in: body
          required: true
          schema:
            $ref: '#/definitions/FacilityVisitCreate'
      responses:
        "201":
          description: Visit successfully created.
          schema:
            $ref: '#/definitions/FacilityVisit'
        "400":
          $ref: '#/responses/ErrorResponseVisitCreateInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /facility_visits/{alayacare_visit_id}:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      type: integer
      required: true
    get:
      tags: [Facilities]
      summary: Get facility visit details
      description: |
        Returns details of a visit where the client is a facility. For patient/client visits, use `GET /visits/{alayacare_visit_id}` instead.
      responses:
        "200":
          description: Facility visit details
          schema:
            $ref: '#/definitions/FacilityVisitDetails'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    put:
      tags: [Facilities]
      summary: Update facility visit details
      description: |
        Updates a visit where the client is a facility. For patient/client visits, use `PUT /visits/{alayacare_visit_id}` instead.

        A cancelled visit (`cancelled` = `true`) must include a cancel code ID.
      parameters:
        - name: body
          description: Visit data in JSON format
          in: body
          required: true
          schema:
            $ref: '#/definitions/FacilityVisitUpdate'
      responses:
        "200":
          description: Visit successfully updated
          schema:
            $ref: '#/definitions/FacilityVisit'
        "400":
          $ref: '#/responses/ErrorResponseVisitUpdateInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /facility_visits/by_id/{visit_id}:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      type: string
      required: true
    get:
      tags: [Facilities]
      summary: Get facility visit details
      responses:
        "200":
          description: Facility visit details
          schema:
            $ref: '#/definitions/FacilityVisitDetails'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    put:
      tags: [Facilities]
      summary: Update facility visit details
      description: A cancelled visit (`cancelled` = `true`) must include a cancel code ID.
      parameters:
        - name: body
          description: Visit data in JSON format
          in: body
          required: true
          schema:
            $ref: '#/definitions/FacilityVisitUpdate'
      responses:
        "200":
          description: Visit successfully updated
          schema:
            $ref: '#/definitions/FacilityVisit'
        "400":
          $ref: '#/responses/ErrorResponseVisitUpdateInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /facility_visits/{alayacare_visit_id}/tags:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      type: integer
      required: true
    post:
      tags: [Visit tags]
      summary: Add tags to a Facility Visit using AlayaCare ID
      parameters:
        - name: body
          description: An array of visit tags
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitTagCreate'
      responses:
        "201":
          description: Visit tags successfully added.
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitTagInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    put:
      tags: [Visit tags]
      summary: Update tags of a Facility Visit using AlayaCare ID
      description: Tags sent in the payload will overwrite existing tags on the visit
      parameters:
        - name: body
          description: An array of visit tags
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitTagCreate'
      responses:
        "200":
          description: Visit tags successfully updated
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitTagInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /facility_visits/by_id/{visit_id}/tags:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      type: string
      required: true
    post:
      tags: [Visit tags]
      summary: Add tags to a visit using External ID
      parameters:
        - name: body
          description: An array of visit tags
          in: body
          required: true
          schema:
            $ref: '#/definitions/VisitTagCreate'
      responses:
        "201":
          description: Visit tags successfully added.
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitTagInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'
    put:
      tags: [Visit tags]
      summary: Update tags of a visit using External ID
      description: Tags sent in the payload will overwrite existing tags on the visit
      responses:
        "200":
          description: Visit tags successfully updated
          schema:
            $ref: '#/definitions/Visit'
        "400":
          $ref: '#/responses/ErrorResponseVisitTagInvalidRequest'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
        "404":
          $ref: '#/responses/ErrorResponseVisitNotFound'

  /evv_visits:
      get:
        tags: [EVV]
        summary: Get a list of evv visits
        description: Get a list of evv visits
        parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
        - name: start_date_from
          in: query
          required: true
          type: string
          format: 'date-time'
          description: |
            "Filter by visit start time greater or equal than specified value.
            Expected format is ISO 8601.
            Ex: `2018-02-03T08:00:00-05:00`"
        - name: start_date_to
          in: query
          required: true
          type: string
          format: date-time
          description: |
            Filter by visit start time less than or equal than specified value.
            Expected format is ISO 8601.
            Ex: `2018-02-18T08:00:00-05:00`
        - name: created_date_from
          in: query
          required: false
          type: string
          format: 'date-time'
          description: |
            "Filter by visit created time greater or equal than specified value.
            Expected format is ISO 8601.
            Ex: `2018-02-03T08:00:00-05:00`"
        - name: created_date_to
          in: query
          required: false
          type: string
          format: date-time
          description: |
            Filter by visit created time less than or equal than specified value.
            Expected format is ISO 8601.
            Ex: `2018-02-18T08:00:00-05:00`
        - name: updated_date_from
          in: query
          required: false
          type: string
          format: 'date-time'
          description: |
            "Filter by visit updated time greater or equal than specified value.
            Expected format is ISO 8601.
            Ex: `2018-02-03T08:00:00-05:00`"
        - name: updated_date_to
          in: query
          required: false
          type: string
          format: date-time
          description: |
            Filter by visit updated time less than or equal than specified value.
            Expected format is ISO 8601.
            Ex: `2018-02-18T08:00:00-05:00`
        - name: evv_status
          description: Status of the visit based on evv visit status hierarchy from AlayaCare web application
          in: query
          type: string
          required: false
          enum:
            - scheduled
            - deleted
            - missed
            - approved
            - billed
        - name: evv_vendor
          description: Filter by funder evv vendor
          in: query
          type: string
          required: false
          enum:
            - None
            - Sandata
            - eMedNY
            - Vesta
            - Tellus Rendered Services
            - hhax
        - $ref: '#/parameters/branch_id'
        - name: client_attributes
          description: Filter client attributes by name
          in: query
          type: string
          collectionFormat: multi
          required: false
        - name: employee_attributes
          description: Filter employee attributes by name
          in: query
          type: string
          collectionFormat: multi
          required: false
        - name: funder_attributes
          description: Filter funder attributes by name
          in: query
          type: string
          collectionFormat: multi
          required: false
        - name: service_attributes
          description: Filter service attributes by name
          in: query
          type: string
          collectionFormat: multi
          required: false
        - name: include
          description: Include extra information
          in: query
          type: string
          collectionFormat: multi
          required: false
          enum:
            - diagnoses
        responses:
          "200":
            description: List of evv visits
            schema:
              $ref: '#/definitions/EVVVisitList'
          "401":
            $ref: '#/responses/ErrorResponseAuthentication'

parameters:
  page:
    description: Filter by page number.
    name: page
    default: 1
    in: query
    required: false
    type: integer
  count:
    description: Number of items per page.
    name: count
    default: 100
    in: query
    required: false
    type: integer
  branch_id:
    description: |
      Filter by branch ID `(default: current user branch)`
    name: branch_id
    in: query
    required: false
    type: integer
  client_id:
    name: client_id
    in: query
    required: false
    type: string
    description: |
      Filter by external client ID
      External client ID is the client ID in the system of record.
      Ex. CRM client identifier
  alayacare_client_id:
    name: alayacare_client_id
    in: query
    required: false
    type: string
    description: Filter by AlayaCare client ID
  employee_id:
    name: employee_id
    in: query
    required: false
    type: string
    description: |
      Filter by external employee ID
      External employee ID is the employee ID in the system of record.
      Ex. HR employee number
  alayacare_employee_id:
    name: alayacare_employee_id
    in: query
    required: false
    type: integer
    description: Filter by AlayaCare employee ID
  service_id:
    name: service_id
    in: query
    required: false
    type: string
    description: Filter by external service ID
  alayacare_service_id:
    name: alayacare_service_id
    in: query
    required: false
    type: integer
    description: Filter by AlayaCare service ID
  facility_id:
    name: facility_id
    in: query
    required: false
    type: string
    description: |
      Filter by external facility ID
      External facility ID is the facility ID in the system of record.
      Ex. CRM facility identifier
  alayacare_facility_id:
    name: alayacare_facility_id
    in: query
    required: false
    type: string
    description: Filter by AlayaCare facility ID
  filter_partial_search:
    name: filter (partial search)
    description: |
      Substring search on profile tag and description values.
      Ex: `name`
    in: query
    type: string
    required: false

definitions:

  #General models

  Branch:
    description: AlayaCare branch
    type: object
    properties:
      id:
        type: integer
        description: Branch ID
        example: 1000
      name:
        type: string
        description: Branch name
        example: Toronto branch

  PayCode:
    type: object
    properties:
      id:
        type: integer
        description: Pay Code ID
        example: 1
      code:
        type: string
        description: Pay Code Code
        example: "1"
      description:
        type: string
        description: Pay Code Description
        example: "1"
      rate:
        type: number
        description: Rate
        example: 23.345
      unit:
        type: string
        description: Unit
        example: hours | visits | amount

  VisitAccounting:
    type: object
    properties:
      id:
        type: integer
        description: Visit ID
        example: 1
      hours_approved:
        type: number
        description: Hours Approved
        example: 1.00
      pay_code_regular:
        $ref: '#/definitions/PayCode'
      pay_code_overtime:
        $ref: '#/definitions/PayCode'

  FacilityList:
    type: object
    allOf:
      - $ref: "#/definitions/PaginatedList"
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Facility'

  Facility:
    description: AlayaCare facility
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare facility ID
        example: 1
      name:
        type: string
        description: AlayaCare facility name
        example: Toronto Facility
      profile:
        $ref: '#/definitions/FacilityProfile'
      branch:
        $ref: '#/definitions/Branch'
    required:
      - id
      - name

  FacilityProfile:
    description: |
      Collection of key/value pairs where keys are existing attributes in the agency profile, defined through
      the AlayaCare web application.
      On the example below default profile keys for the facility profile are used.
      Example profile attributes:
      + `name`: string
      + `city`: string
      + `title`: string
      + `state`: string
      + `contact_type`: string
      + `fax`: string
      + `company`: string
      + `phone_other`: string
      + `phone_main`: string
      + `address`: string
      + `country`: string
      + `zip`: string
      + `address_suite`: string
      + `remarks`: string
    type: object
    properties:
      name:
        description: Facility name
        type: string
        example: Alayacare

  ClientDetails:
    description: Visit client details
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare client ID
        example: 1001
      external_id:
        type: string
        description: External client ID
        example: sor_client_id_1
        x-nullable: true
      profile_id:
        type: integer
        description: AlayaCare client profile ID
        example: 7890
      full_name:
        type: string
        description: Client full name
        example: John Smith
      timezone:
        type: string
        description: Time Zone name in IANA format (iana.org/time-zones)
        example: America/Toronto
    required:
    - id
    - full_name

  ClientBranchDetails:
    description: Visit client details
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare client ID
        example: 1001
      external_id:
        type: string
        description: External client ID
        example: sor_client_id_1
        x-nullable: true
      profile_id:
        type: integer
        description: AlayaCare client profile ID
        example: 7890
      full_name:
        type: string
        description: Client full name
        example: John Smith
      timezone:
        type: string
        description: Time Zone name in IANA format (iana.org/time-zones)
        example: America/Toronto
      branch_id:
        type: integer
        description: AlayaCare branch ID
        example: 1000
    required:
    - id
    - full_name

  EmployeeDetails:
    description: Visit employee details
    type: object
    x-nullable: true
    properties:
      id:
        type: integer
        description: AlayaCare employee ID
        example: 1001
      external_id:
        type: string
        description: External employee ID
        example: sor_employee_id_1
        x-nullable: true
      profile_id:
        type: integer
        description: AlayaCare client profile ID
        example: 7891
      full_name:
        type: string
        description: Employee full name
        example: Jane Smith
      email:
        type: string
        description: Employee email
        example: employee_1@workplace.com
      timezone:
        type: string
        description: Time Zone name in IANA format (iana.org/time-zones)
        example: America/Toronto
    required:
    - id
    - full_name

  SuccessResponse:
    description: Success response.
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare ID
        example: 1001
      external_id:
        type: string
        description: External ID
        example: entity_external_id
    required:
    - id
    - external_id

  VisitUpdatePartialSuccessResponse:
    type: object
    properties:
      code:
        type: integer
        example: 207
        description: Response code
      message:
        type: string
        example: "Partial success when locking visits. Visits are not approved or could not be found"
        description: Detailed error message
      alayacare_visit_ids:
        type: array
        description: List of Alayacare visit IDs
        items:
          type: integer
          description: Alayacare visit ID.
          example: 1245
      visit_ids:
        type: array
        description: List of Alayacare external visit IDs
        items:
          type: string
          description: Alayacare external visit ID.
          example: 'ext_visit_1245'


  ErrorResponse:
    description: Error response
    type: object
    properties:
      code:
        type: integer
        example: 400
        description: Response code
      message:
        type: string
        example: 'Invalid request'
        description: Detailed error message
    required:
    - code
    - message

  #Visit models

  BaseVisit:
    type: object
    properties:
      alayacare_employee_id:
        type: integer
        description: AlayaCare employee ID
        example: 101
        x-nullable: true
      alayacare_service_id:
        type: integer
        description: AlayaCare service ID
        example: 1
      alayacare_visit_id:
        type: integer
        description: AlayaCare visit ID
        example: 10001
      employee_id:
        type: string
        description: External employee ID
        example: sor_employee_id_1
        x-nullable: true
      service_id:
        type: string
        description: External service ID
        example: sor_service_id_1
        x-nullable: true
      visit_id:
        type: string
        description: External visit ID
        example: sor_visit_id_1
        x-nullable: true
      status:
       type: string
       description: Status of the visit based on status hierarchy from AlayaCare web application.
       example: scheduled
       enum:
        - scheduled
        - vacant
        - on_hold
        - cancelled
        - offered
        - clocked
        - late
        - completed
        - missed
        - approved
      start_at:
        type: string
        format: 'date-time'
        description: Visit start time (ISO 8601)
        example: '2017-07-08T13:30:00+00:00'
      end_at:
        type: string
        format: 'date-time'
        description: Visit end time (ISO 8601)
        example: '2017-07-08T14:00:00+00:00'
      notes:
        type: array
        items:
          $ref: '#/definitions/VisitNote'
      tags:
        type: array
        items:
          $ref: '#/definitions/VisitTag'
      cancelled:
        type: boolean
        description: Indicates if visit is cancelled
      cancel_code:
        $ref: '#/definitions/VisitCancelCode'
    required:
    - alayacare_service_id
    - alayacare_visit_id
    - start_at
    - end_at
    - cancelled
    - cancel_code

  VisitListDetails:
    allOf:
    - $ref: "#/definitions/BaseVisit"
    properties:
      alayacare_client_id:
        type: integer
        description: AlayaCare client ID
        example: 1001
      client_id:
        type: string
        description: External client ID
        example: sor_client_id_1
        x-nullable: true
      break_minutes:
        type: integer
        description: Break minutes for the visit
        example: 10
        x-nullable: true
    required:
    - alayacare_client_id

  Visit:
    allOf:
    - $ref: "#/definitions/BaseVisit"
    properties:
      alayacare_client_id:
        type: integer
        description: AlayaCare client ID
        example: 1001
      client_id:
        type: string
        description: External client ID
        example: sor_client_id_1
        x-nullable: true
    required:
    - alayacare_client_id

  VisitIDList:
    type: object
    properties:
      alayacare_visit_ids:
        type: array
        description: List of Alayacare visit IDs (visit IDs should be listed separated by a coma)
        example: [ 1245, 1246]
        items:
          type: integer
          description: Alayacare visit ID.
          required:
          - alayacare_visit_ids
      visit_ids:
        type: array
        description: List of Alayacare external visit IDs
        example: ["ext_visit_1245", "ext_visit_1246"]
        items:
          type: string
          description: Alayacare external visit ID (External visit IDs should be listed separated by a coma).
          required:
          - visit_ids



  FacilityVisit:
    allOf:
    - $ref: "#/definitions/BaseVisit"
    properties:
      alayacare_facility_id:
        type: integer
        description: AlayaCare facility ID
        example: 1001
      facility_id:
        type: string
        description: External facility ID
        example: sor_facility_id_1
        x-nullable: true
      break_minutes:
        type: integer
        description: Break minutes for the visit
        example: 10
        x-nullable: true
    required:
    - alayacare_facility_id

  VisitList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of visits
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/VisitListDetails'

  FacilityVisitList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of visits
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/FacilityVisit'

  VisitServiceDetails:
    description: Visit service details
    type: object
    properties:
      id:
        description: AlayaCare service ID
        type: integer
        example: 1
      external_id:
        description: External service ID
        type: string
        example: sor_service_record_1
        x-nullable: true
      name:
        description: Service name
        type: string
        example: Wound Care
      service_code_id:
        description: AlayaCare service code id
        type: integer
        example: 1
      service_code_name:
        description: AlayaCare service code name
        type: string
        example: WOUND-CARE
    required:
    - id
    - name
    - service_code_id
    - service_code_name

  VisitFunderDetails:
    description: Visit funder details
    type: object
    properties:
      id:
        description: AlayaCare funder ID
        type: integer
        example: 1
      external_id:
        description: External funder ID
        type: string
        example: sor_funder_id_1
        x-nullable: true
      name:
        description: Funder name
        type: string
        example: Insurance Company
      code:
        description: Funder code
        type: string
        example: IC-1
      organization:
        description: Organization
        type: string
        example: Home Healthcare Agency
      organization_code:
        description:  Organization code
        type: string
        example: HHC-0101
      percentage:
        type: integer
        example: 100
    required:
    - id
    - name

  VisitTimekeeping:
    description: The state of the verified start and end times
    type: object
    properties:
      verified_start_time:
        description: Datetime string referring to the time the first clock in happened, or one manually overwritten
        type: string
        format: 'date-time'
        example: '2017-07-08T13:30:00+00:00'
      verified_end_time:
        description: Datetime string referring to the time the last clock out happened, or one manually overwritten
        type: string
        format: 'date-time'
        example: '2017-07-08T13:40:00+00:00'
      is_verified_start_time_overwritten:
        description: This is true in case the verified_start_time was overwritten by the user and false if is the default from the work-sessions
        type: boolean
        example: false
      is_verified_end_time_overwritten:
        description: This is true in case the verified_end_time was overwritten by the user and false if is the default from the work-sessions
        type: boolean
        example: false

  Location:
    description: User location information
    type: object
    x-nullable: true
    properties:
      lat:
        type: number
        description: latitude
        example: 45.518
      lng:
        type: number
        description: longitude
        example: -73.582

  VisitWorkSession:
    type: object
    description: Visit work session
    properties:
      clock_in:
        description: Work session start time
        type: string
        format: 'date-time'
        example: '2017-07-08T13:30:00+00:00'
      clock_out:
        description: Work session end time
        type: string
        format: 'date-time'
        example: '2017-07-08T14:30:00+00:00'
        x-nullable: true
      employee_id:
        description: Work session employee id
        type: integer
        example: 101
      clock_in_location:
        $ref: '#/definitions/Location'
      clock_out_location:
        $ref: '#/definitions/Location'

  VisitDailyActivity:
    type: object
    description: Activity of daily living
    properties:
      name:
        type: string
        description: ADL description
        example: Take out the trash
      completed:
        type: boolean
        description: Indicates if the ADL was completed during the visit
        example: false
      reason:
        type: string
        description: Reason why the ADL was not completed, in case it wasn't
        example: Not a garbage day
        x-nullable: true

  VisitTagList:
    allOf:
    - $ref: '#/definitions/PaginatedList'
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/VisitTag'

  VisitTagCreate:
    type: array
    description: An array of visit tags.
    items:
      $ref: '#/definitions/VisitTag'

  VisitTag:
    type: string
    description: Name of tag.
    example: 'First visit'

  VisitNoteCreate:
    description: Visit note
    type: object
    properties:
      text:
        type: string
        description: Content of the visit note
        maxLength: 1000
        example: A sample visit note.
    required:
    - text

  VisitInterventionsUpdate:
    description: Interventions
    type: object
    properties:
      interventions:
        type: string
        description: list of visit intervention ids
        example: "[1, 2, 3, 4]"


  VisitNote:
    allOf:
    - $ref: '#/definitions/VisitNoteCreate'
    properties:
      created_at:
        type: string
        format: 'date-time'
        description: Creation time of the note
        example: '2017-07-08T13:30:00+00:00'
    required:
    - created_at

  VisitFacilityDetails:
    description: Visit facility
    type: object
    x-nullable: true
    properties:
      id:
        type: integer
        description: AlayaCare facility ID
        example: 1
      name:
        type: string
        description: Facility name
        example: Clinic name
      external_id:
        type: string
        description: External facility ID
        example: sor_clinic_id_1
        x-nullable: true
      timezone:
        type: string
        description: Time Zone name in IANA format (iana.org/time-zones)
        example: America/Toronto
    required:
    - id
    - name

  VisitCancelCode:
    description: Visit cancellation code
    type: object
    x-nullable: true
    properties:
      id:
        type: integer
        description: AlayaCare cancel code ID
        example: 1
      code:
        type: string
        description: Cancel code
        example: CLNT_REQ_RESCHEDULE
      description:
        type: string
        description: Cancel code description
        example: Client requested reschedule
        x-nullable: true
    required:
    - id
    - code

  VisitCancelCodeList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of cancel codes
    properties:
      items:
        type: array
        items:
          allOf:
          - $ref: '#/definitions/VisitCancelCode'
          properties:
            branch:
              $ref: '#/definitions/Branch'

  VisitActivityCode:
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare activity code ID
        example: 1
      code:
        type: string
        description: Activity code
        example: '01- Assessment'
      description:
        type: string
        description: Activity code description
        example: New client assessment
    required:
    - id
    - code

  VisitSkill:
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare activity code ID
        example: 1
      description:
        type: string
        description: Skill description
        example: Driver License
    required:
    - id

  Address:
    type: object
    properties:
      order:
        type: integer
        description: Order of location in route
        example: 1
      is_home_address:
        type: boolean
        description: If address defined matches the client address from the client profile, this value is true. Otherwise, the value is false.
        example: True
      latitude:
        type: number
        description: Latitude of the address
        example: 45.5017
      longitude:
        type: number
        description: Longitude of the address
        example: 73.5673
      address_1:
        type: string
        description: First line of the address
        example: 4200 St Laurent Blvd
      address_2:
        type: string
        description: Second line of the address
        example: "800"
      city:
        type: string
        description: City
        example: Montreal
      state:
        type: string
        description: State or province
        example: QC
      zip_code:
        type: string
        description: ZIP or postal code
        example: H2W 2R2
      country:
        type: string
        description: Country
        example: Canada

  BaseVisitDetails:
    type: object
    properties:
      alayacare_employee_id:
        type: integer
        format: int64
        description: AlayaCare employee ID
        example: 101
        x-nullable: true
      alayacare_service_id:
        type: integer
        format: int64
        description: AlayaCare service ID
        example: 1
      alayacare_visit_id:
        type: integer
        format: int64
        description: AlayaCare visit ID
        example: 10001
      employee_id:
        type: string
        description: External employee ID
        example: sor_employee_id_1
        x-nullable: true
      service_id:
        type: string
        description: External service ID
        example: sor_service_id_1
        x-nullable: true
      visit_id:
        type: string
        description: External visit ID
        example: sor_visit_id_1
        x-nullable: true
      status:
       type: string
       description: Status of the visit based on status hierarchy from AlayaCare web application.
       example: scheduled
       enum:
        - scheduled
        - vacant
        - on_hold
        - cancelled
        - offered
        - clocked
        - late
        - completed
        - missed
        - approved
      start_at:
        type: string
        format: 'date-time'
        description: Visit start time (ISO 8601)
        example: '2017-07-08T13:30:00+00:00'
      end_at:
        type: string
        format: 'date-time'
        description: Visit end time (ISO 8601)
        example: '2017-07-08T14:00:00+00:00'
      cancelled:
        type: boolean
        description: Indicates if visit is cancelled
      employee:
        $ref: '#/definitions/EmployeeDetails'
      service:
        $ref: '#/definitions/VisitServiceDetails'
      funders:
        description: Visit funders
        type: array
        items:
          $ref: '#/definitions/VisitFunderDetails'
      work_sessions:
        type: array
        items:
          $ref: '#/definitions/VisitWorkSession'
      adls:
        type: array
        items:
          $ref: '#/definitions/VisitDailyActivity'
      notes:
        type: array
        items:
          $ref: '#/definitions/VisitNote'
      cancel_code:
        $ref: '#/definitions/VisitCancelCode'
      activity_codes:
        type: array
        items:
          $ref: '#/definitions/VisitActivityCode'
      skills:
        type: array
        items:
          $ref: '#/definitions/VisitSkill'
      tags:
        type: array
        items:
          $ref: '#/definitions/VisitTag'
      service_instructions:
        description: Service instructions
        type: string
        example: "Call in the morning to confirm each visit"
        x-nullable: true
      service_code_id:
        description: Visit override service code id.
        type: integer
        example: 1
        x-nullable: true
      service_code_name:
        description: Visit override service code name.
        type: string
        example: Default Appointment
        x-nullable: true
      route:
        type: array
        items:
          $ref: '#/definitions/Address'
    required:
    - alayacare_service_id
    - alayacare_visit_id
    - start_at
    - end_at
    - cancelled
    - employee
    - service
    - work_sessions
    - adls
    - notes
    - cancel_code
    - activity_codes
    - tags
    - service_instructions

  VisitDetails:
    allOf:
    - $ref: "#/definitions/BaseVisitDetails"
    properties:
      alayacare_visit_guid:
        type: integer
        format: int64
        description: AlayaCare visit GUID
        example: 10002
      alayacare_client_id:
        type: integer
        format: int64
        description: AlayaCare client ID
        example: 1001
      client_id:
        type: string
        description: External client ID
        example: sor_client_id_1
        x-nullable: true
      client:
        $ref: '#/definitions/ClientBranchDetails'
      facility:
        $ref: '#/definitions/VisitFacilityDetails'
      timekeeping:
        $ref: '#/definitions/VisitTimekeeping'
    required:
    - alayacare_client_id
    - client

  FacilityVisitDetails:
    allOf:
    - $ref: "#/definitions/BaseVisitDetails"
    properties:
      alayacare_facility_id:
        format: int64
        description: AlayaCare ID of the facility
        example: 1001
      facility_id:
        type: string
        description: External ID of the facility
        example: facility_ext_id
        x-nullable: true
      facility:
        $ref: '#/definitions/ClientDetails'
    required:
    - alayacare_facility_id
    - facility_id

  BaseVisitUpdate:
    description: AlayaCare visit entity data for updates
    type: object
    properties:
      visit_id:
        description: |
          External visit ID
          Allows correlating the visit in AlayaCare to visit data on an external system.
          If not specified AlayaCare visit ID would be used as default value.
        type: string
        example: sor_visit_id_1
        x-nullable: true
      employee_id:
        description: |
          External employee ID
          If no employee is specified a vacant visit will be created.
        type: string
        example: sor_employee_id_1
        x-nullable: true
      alayacare_employee_id:
        description: |
          AlayaCare employee ID
          If no employee is specified a vacant visit will be created.
        type: integer
        example: 101
      service_id:
        description: |
          External service ID
          Can be omitted if the client has a single active service.
        type: string
        example: sor_service_record_1
        x-nullable: true
      alayacare_service_id:
        description: |
          AlayaCare service ID
          Can be omitted if the client has a single active service.
        type: integer
        example: 1
      start_at:
        type: string
        format: 'date-time'
        description: Visit start time (ISO 8601)
        example: '2017-07-08T13:30:00+00:00'
      end_at:
        type: string
        format: 'date-time'
        description: Visit end time (ISO 8601)
        example: '2017-07-08T14:00:00+00:00'
      cancelled:
        type: boolean
        description: Indicates if visit is cancelled
        default: false
      cancel_code_id:
        type: integer
        description: |
          AlayaCare ID of the cancel code.
          Value must be `null` if visit is not cancelled.
        example: 101
        x-nullable: true
      service_instructions:
        description: Service instructions
        type: string
        example: "Call in the morning to confirm each visit"
        x-nullable: true

  VisitUpdate:
    allOf:
    - $ref: '#/definitions/BaseVisitUpdate'
    properties:
      client_id:
        description: External client ID
        type: string
        example: sor_client_id_1
      alayacare_client_id:
        description: AlayaCare client ID
        type: integer
        example: 1001

  FacilityVisitUpdate:
    allOf:
    - $ref: '#/definitions/BaseVisitUpdate'

  VisitCreate:
    allOf:
    - $ref: '#/definitions/VisitUpdate'
    description: AlayaCare visit entity data for creation
    required:
    - start_at
    - end_at

  FacilityVisitCreate:
    allOf:
    - $ref: '#/definitions/FacilityVisitUpdate'
    description: date for creating a facility visit
    properties:
      alayacare_facility_id:
        format: int64
        description: AlayaCare ID of the facility
        example: 1001
      facility_id:
        type: string
        description: External ID of the facility
        example: facility_ext_id
        x-nullable: true
    required:
    - start_at
    - end_at

  DeliveryDateInformation:
    properties:
      alayacare_visit_id:
        type: integer
        description: AlayaCare visit ID
        example: 17432
      delivery_date:
        type: string
        description: Delivery date for visit in UTC format
        example: "2022-12-13"

  #Visit Interventions models

  IvrVisitInterventions:
    description: A list of visit interventions
    type: object
    required:
    - intervention_id
    - completed
    - position

    properties:
      intervention_id:
        description: ID of the intervention configured in the client's careplan
        type: integer
        example: 101
      completed:
        description: Completion of the instance of the intervention in the visit
        type: boolean
        example: true
      comment:
        description: Comment entered in the visit intervention
        type: string
        example: 'Vitals recorded. Blood pressure normal.'
        x-nullable: true
      position:
        type: integer
        example: 1
      duration:
        description: Duration of the intervention in minutes
        type: integer
        example: 10
        x-nullable: true
      work_session_uuid:
        description: UUID of the work session
        type: string
        example: 'uuid'
        x-nullable: true

  VisitInterventionsList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of visits
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/VisitInterventions'

  VisitInterventions:
    description: A list of visit interventions
    type: object
    properties:
      intervention_id:
        type: integer
        description: ID of the intervention configured in the client's careplan
        example: 101
      completed:
        type: boolean
        example: true
        description: Completion of the instance of the intervention in the visit
      comment:
        type: string
        description: Comment entered in the visit intervention.
          Will return the `not_completed_reason_name` if it is set but there is
          no comment
        example: 'Vitals recorded. Blood pressure normal.'
      not_completed_reason_name:
        type: string
        description: Reason code for not completed the visit intervention
        example: 'client_declined'
      status:
        type: string
        enum: ['not_documented', 'not_done', 'done']
        description: The status of the visit intervention
      intervention:
        $ref: '#/definitions/Intervention'
      position:
        type: integer
        example: 1
      created_at:
        type: string
        format: 'date-time'
        description: Visit start time (ISO 8601)
        example: '2017-07-08T13:30:00+00:00'
      created_by:
        type: object
        description: User who created the intervention in the visit
        properties:
          id:
            type: integer
            example: 1001
          first_name:
            type: string
            example: John
          last_name:
            type: string
            example: Smith
      updated_at:
        type: string
        format: 'date-time'
        description: Visit updated time (ISO 8601)
        example: '2018-07-08T13:30:00+00:00'
      updated_by:
        type: object
        description: User who last updated the intervention in the visit
        properties:
          id:
            type: integer
            example: 1001
          first_name:
            type: string
            example: John
          last_name:
            type: string
            example: Smith
      visit_id:
        description: External ID of the visit
        type: string
        example: 'external_id_123'
      alayacare_visit_id:
        description: Alayacare ID of the visit
        type: integer
        example: 2384

  Intervention:
    type: object
    properties:
      careplan_id:
        type: integer
        description: ID of the client's careplan
        example: 709
      client_id:
        type: string
        description: Alayacare client external ID
        example: 'external_id_client_123'
      alayacare_client_id:
        type: integer
        description: Alayacare client ID
        example: 1001
      name:
        type: string
        description: Name of the intervention
        example: 'Blood pressure measurement'
      completions:
        type: array
        description: Date-time of completion of the intervention (ISO 8601)
        items:
          type: object
      is_required:
        type: boolean
        description: Intervention is required or not to clock out of the visit
      module:
        type: string
        description: Alayacare Module to which the intervention is attached
        example: 'Vitals'
      status:
        type: string
        description: Status of the intervention in the Careplan
        example: 'active'
        enum:
        - draft
        - active
        - completed
        - archived
      type:
        type: string
        description: One of the types defined in the setting "Care Documentation > Care Plan Intervention Types"
        example: Nursing

  #ADLs models

  DailyActivityCategory:
    description: Daily activity category
    type: string
    enum:
    - adl_personal_care
    - adl_mobility
    - adl_equipment
    - adl_nutrition
    - adl_household_management
    - adl_support
    - adl_medication


  DailyActivityService:
    description: Daily activity service
    type: object
    properties:
      id:
        type: string
        description: External service ID
        example: sor_service_external_id_1
        x-nullable: true
      alayacare_id:
        type: integer
        description: AlayaCare service ID
        example: 1

  DailyActivity:
    type: object
    properties:
      category:
        $ref: '#/definitions/DailyActivityCategory'
      name:
        type: string
        description: Activity name.
        example: brush teeth
      rrule:
        type: string
        description: Recurrence rule applied to the daily activity.
        example: 'FREQ=WEEKLY;DTSTART=20180204T180000Z;UNTIL=20180304T180000Z;WKST=MO;BYDAY=MO,WE,FR'
      services:
        type: array
        items:
          $ref: '#/definitions/DailyActivityService'
    required:
    - category
    - name

  DailyActivityList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of ADLs
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/DailyActivity'

  # Profile models

  ProfileAttribute:
    type: object
    properties:
      tag:
        description: Attribute key in the demographics object
        type: string
        example: first_name
      description:
        description: Attribute description as it shows in the web application
        type: string
        example: First Name

  ProfileAttributeList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of profile attributes
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/ProfileAttribute'


  # Service codes models
  ServiceCode:
    description: Details of service codes
    type: object
    properties:
      id:
        type: integer
        description: Service code id
        example: 1
      name:
        type: string
        description: Service Code name
        example: SC1
      branch:
        $ref: '#/definitions/Branch'

  ServiceCodeList:
    allOf:
      - $ref: "#/definitions/PaginatedList"
    description: Paginated list of service codes
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/ServiceCode'

  PaginatedList:
    description: Base model of all paginated lists
    type: object
    properties:
      count:
        type: integer
        description: Number of items in the response
        example: 1
      page:
        type: integer
        description: Current page number
        example: 1
      total_pages:
        type: integer
        description: Total number of pages available
        example: 1
      items:
        type: array
        items:
          type: object
    required:
    - count
    - page
    - total_pages
    - items

  EVVVisitList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of evv visits
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/EVVVisit'

  EVVVisit_Exception:
    type: object
    properties:
      id:
        type: integer
        description: Visit exception ID
      created_on:
        type: string
        format: 'date-time'
        description: Creation time of the visit exception
        example: '2017-07-08T13:30:00+00:00'
      code:
        type: string
        description: Exception type code
      category:
        type: string
        description: Exception type category
      name:
        type: string
        description: Exception type name
      is_acknowledged:
        type: boolean
        description: Exception has been acknowledged
        example: True
      status:
        type: string
        description: Visit exception status
      details:
        type: string
        description: Visit exception details
      comments:
        type: string
        description: Visit exception comments
      reason_code:
        type: string
        description: Visit exception reason code
      reason_name:
        type: string
        description: Visit exception reason name
      reason_category:
        type: string
        description: Visit exception reason category
      resolution_code:
        type: string
        description: Visit exception resolution code
      resolution_name:
        type: string
        description: Visit exception resolution name
      change_by:
        type: string
        description: Visit exception change made by

  EVVVisit_BillCode:
    type: object
    properties:
      code:
        type: string
        description: Bill code
        example: HSW
      description:
        type: string
        description: Bill code description
        example: HSW
      id:
        type: integer
        description: Bill code Id
      units:
        type: string
        description: Bill code units
      is_midnight_rule_applicable:
        type: boolean
        description: Whether or not the visits associated to this bill code will be split into two billable items in overnight schedules.

  EVVVisit_Attribute:
    type: object
    properties:
      tag:
        type: string
        description: Attribute tag
      value:
        type: string
        description: Attribute value

  EVVVisit_Note:
    type: object
    properties:
      created_on:
        type: string
        format: 'date-time'
        description: Creation time of the note
        example: '2017-07-08T13:30:00+00:00'
      text:
        type: string
        description: Content of the visit note
        maxLength: 1000
        example: A sample visit note.

  EVVVisit_Service:
    type: object
    properties:
      name:
        description: Service name
        type: string
        example: Wound Care
      start_date:
        description: Service start date
        type: string
        format: 'date-time'
        example: '2017-07-08T13:30:00+00:00'
      projected_end_date:
        description: Projected end date
        type: string
        format: 'date-time'
        example: '2022-08-08T13:30:00+00:00'
      service_code_id:
        description: AlayaCare service code id
        type: integer
        example: 1
      service_code_name:
        description: AlayaCare service code name
        type: string
        example: WOUND-CARE
      attributes:
        type: array
        description: Client attributes
        items:
          $ref: '#/definitions/EVVVisit_Attribute'
        example:
          - tag: "medicaid_prior_authorization_number"
            value: "100"
      status:
        description: Service current status
        type: string
        example: active
        enum:
          - active
          - discharged
          - on_hold
          - waiting_list

  EVVVisit_ClientFunderActiveServiceSchema:
    type: object
    properties:
      name:
        description: Service name
        type: string
        example: Wound Care
      status:
        description: Service Status
        type: string
        example: active
        enum:
          - active
          - discharged
          - on_hold
          - waiting_list
      start_date:
        description: Service start date
        type: string
        format: 'date-time'
        example: '2021-07-08T13:30:00+00:00'
      projected_end_date:
        description: Projected end date
        type: string
        format: 'date-time'
        example: '2022-07-08T13:30:00+00:00'

  EVVVisit_WorkSession:
    type: object
    description: Visit work session
    properties:
      clock_in:
        description: Work session start time
        type: string
        format: 'date-time'
        example: '2017-07-08T13:30:00+00:00'
      clock_out:
        description: Work session end time
        type: string
        format: 'date-time'
        example: '2017-07-08T14:30:00+00:00'
        x-nullable: true
      clock_in_location:
        $ref: '#/definitions/Location'
      clock_out_location:
        $ref: '#/definitions/Location'
      clock_in_phone:
        description: Work session Phone with IVR
        type: string
        example: '+1454515475'
      clock_out_phone:
        description: Work session Phone with IVR
        type: string
        example: '+1454515475'

  EVVVisit_Timekeeping:
    type: object
    description: It contains information related to the Visit Timekeeping object associated with the EVV Visit.
    properties:
      first_clock_in_time:
        type: string
        format: 'date-time'
        description: This field will always have the first clock-in time from the visit work sessions, regardless if it was overwritten or not.
        example:  '2017-07-08T14:30:00+00:00'
        x-nullable: true
      last_clock_out_time:
        type: string
        format: 'date-time'
        description: This field will always have the last clock-out time from the visit work sessions, regardless if it was overwritten or it's is null.
        example: '2017-07-08T15:30:00+00:00'
        x-nullable: true
      adjusted_start_time:
        type: string
        format: 'date-time'
        description: This field contains adjusted start time, if the end time isn't adjusted it will be populated with the first clock-in time, it will only be null if there's no worksession and no adjusted start time.
        example: '2017-07-08T14:30:00+00:00'
        x-nullable: true
      adjusted_end_time:
        type: string
        format: 'date-time'
        description: This field contains adjusted end time, if the end time isn't adjusted it will be populated with the last clock-out time, it will only be null if there's no worksession and no adjusted end time.
        example: '2017-07-08T15:45:00+00:00'
        x-nullable: true
      is_adjusted_start_time:
        type: boolean
        description: It will be true if the start time is adjusted.
        example: false
      is_adjusted_end_time:
        type: boolean
        description: It will be true if the end time is adjusted.
        example: true



  EVVVisit_Funder:
    type: object
    properties:
      ac_id:
        type: string
        description: AlayaCare ID for display in-app
        example: AC000000024
      attributes:
        type: array
        description: Funder attributes
        items:
          $ref: '#/definitions/EVVVisit_Attribute'
        example:
          - tag: "npi"
            value: "1407958499"
          - tag: "provider_api"
            value: "1"
          - tag: "aggregator_state"
            value: "GA"
          - tag: "evv_destination_state"
            value: "GA"
          - tag: "payer_id"
            value: "NJ_HZ"
          - tag: "payer_code"
            value: "NJHZ"
          - tag: "tax_id"
            value: "767469540"
          - tag: "provider_name"
            value:  "KPE DBA INDIA"
          - tag: "plan_id"
            value:  "12345"
          - tag: "provider_taxonomy_code"
            value: "38382829"
          - tag: "evv_vendor"
            value: "tellus_rs"
          - tag: "provider_id"
            value: "317066193"
          - tag: "business_entity_id"
            value: "203542"
          - tag: "hhax_payer_id"
            value: "123456"
      address:
        type: string
        description: Funder address
      address_suite:
        type: string
        description: Funder address suite
      code:
        description: Funder code
        type: string
        example: IC-1
      city:
        type: string
        description: Funder address city
      description:
        description: Funder description
        type: string
      name:
        description: Funder name
        type: string
        example: Insurance Company
      pull_billing_data_from_visit_notes:
        description: True if is founder fetch the billing information from notes.
        type: boolean
        example: True
      state:
        type: string
        description: Funder address state
      zip:
        type: string
        description: Funder address zip

  EVVVisit_Diagnoses:
    type: object
    properties:
      code:
        type: string
        description: Diagnosis name
        example: A028
      is_primary:
        type: boolean
        description: Diagnosis is primary or not primary
        example: True

  EVVVisit_Client:
    type: object
    properties:
      ac_id:
        type: string
        description: AlayaCare ID for display in-app
        example: AC000000024
      address:
        type: string
        description: Client address
      address_suite:
        type: string
        description: Client address suite
      attributes:
        type: array
        description: Client attributes
        items:
          $ref: '#/definitions/EVVVisit_Attribute'
        example:
          - tag: "country"
            value: "US"
          - tag: "email"
            value: "example@gmail.com"
          - tag: "member_id"
            value: "1407958499"
          - tag: "alternate_member_id"
            value: "16795F4A6A5"
          - tag: "mcp_number"
            value: "123456"
          - tag: "jurisdiction_id"
            value: "123456"
          - tag: "medicare_id"
            value: "123456789"
          - tag: "newborn_indicator"
            value: "0"
      birthday:
        type: string
        description:  Client birthday
      city:
        type: string
        description:  Client address city
      first_name:
        type: string
        description: Client first name
        example: John
      gender:
        type: string
        description: Employee gender
      last_name:
        type: string
        description: Client last name
        example: Smith
      phone:
        type: string
        description: Client phone
      phone_other:
        type: string
        description: Client other phone
      phone_personal:
        type: string
        description: Client personal phone
      state:
        type: string
        description: Client address state
      zip:
        type: string
        description: Client address zip
      timezone:
        type: string
        description: Timezone name in IANA format (iana.org/time-zones). If not set, returns the branch timezone.
        example: America/Toronto
      diagnoses:
        type: array
        description: Client diagnoses
        items:
          $ref: '#/definitions/EVVVisit_Diagnoses'

  EVVVisit_Employee:
    type: object
    properties:
      ac_id:
        type: string
        description: AlayaCare ID for display in-app
        example: AC000000024
      attributes:
        type: array
        description: Employee attributes
        items:
          $ref: '#/definitions/EVVVisit_Attribute'
        example:
          - tag: "SSN"
            value: "1407958499"
          - tag: "registration_id"
            value: "123"
          - tag: "rendering_provider_npi"
            value: "26NH18121900"
          - tag: "caregiver_type"
            value: "both"
          - tag: "start_date"
            value: "2020-05-25"
      birthday:
        type: string
        description:  Employee birthday
      email:
        type: string
        description: Employee email
      first_name:
        type: string
        description: Employee first name
        example: John
      gender:
        type: string
        description: Employee gender
      last_name:
        type: string
        description: Employee last name
        example: Smith
      phone:
        type: string
        description: Employee phone
      updated_by:
        type: object
        description: User who last updated the employee
        properties:
          id:
            type: integer
            example: 100
      updated_on:
        type: string
        format: "date-time"
        description: Datetime of last time the employee was updated

  EVVVisit_CancelCode:
    description: Visit cancellation code
    type: object
    x-nullable: true
    properties:
      id:
        type: integer
        description: AlayaCare cancel code ID
        example: 1
      code:
        type: string
        description: Cancel code
        example: CLNT_REQ_RESCHEDULE
      description:
        type: string
        description: Cancel code description
        example: Client requested reschedule
        x-nullable: true
      is_billable:
        type: boolean
        description: Cancel Code is billable or not billable
        example: True
    required:
    - id
    - code
    - is_billable

  EVVVisit_ReferringProvider:
    type: object
    properties:
      npi:
        type: string
        description: Referring Provider NPI
        example: "679363"
      first_name:
        type: string
        description: Referring Provider first name
      last_name:
        type: string
        description: Referring Provider last name

  EVVVisit_Interventions:
    type: object
    properties:
      name:
        type: string
        description: Visit's intervention name
        example: DINN

  EVVVisit_Authorizations:
    type: object
    properties:
      authorization_number:
        type: string
        description: Authorization Number
        example: "123456789"
      member_number:
        type: string
        description: Member Number
        example: "123456789"

  EVVVisit:
    type: object
    properties:
      alayacare_client_id:
        type: integer
        format: int64
        description: AlayaCare client ID
        example: 1001
      alayacare_employee_id:
        type: integer
        format: int64
        description: AlayaCare employee ID
        example: 101
        x-nullable: true
      alayacare_funder_id:
        description: AlayaCare funder ID
        type: integer
        example: 1
      alayacare_funder_state:
        description: AlayaCare funder state
        type: string
        example: NY
      alayacare_service_id:
        type: integer
        format: int64
        description: AlayaCare service ID
        example: 1
      alayacare_visit_id:
        type: integer
        format: int64
        description: AlayaCare visit ID
        example: 10001
      bill_code:
        $ref: '#/definitions/EVVVisit_BillCode'
      cancelled:
        type: boolean
        description: Indicates if visit is cancelled
      cancel_code:
        $ref: '#/definitions/EVVVisit_CancelCode'
      client:
        $ref: '#/definitions/EVVVisit_Client'
      client_id:
        type: string
        description: External client ID
        example: sor_client_id_1
        x-nullable: true
      created_by:
        type: string
        description: User who created the intervention in the visit
        example: system
      created_on:
        type: string
        format: 'date-time'
        description: Visit created time (ISO 8601)
        example: '2017-07-08T13:30:00+00:00'
      employee:
        $ref: '#/definitions/EVVVisit_Employee'
      employee_id:
        type: string
        description: External employee ID
        example: sor_employee_id_1
        x-nullable: true
      funder_id:
        type: string
        description: External funder ID
        example: sor_funder_id_1
        x-nullable: true
      service_id:
        type: string
        description: External service ID
        example: sor_service_id_1
        x-nullable: true
      visit_id:
        type: string
        description: External visit ID
        example: sor_visit_id_1
        x-nullable: true
      status:
       type: string
       description: Status of the visit based on status hierarchy from AlayaCare web application.
       example: scheduled
       enum:
        - scheduled
        - vacant
        - on_hold
        - cancelled
        - offered
        - clocked
        - late
        - completed
        - missed
        - approved
      evv_status:
        type: string
        description: EVV status pf the visit
        example: scheduled
        enum:
[...]
