openapi: 3.2.0
info:
  title: External Employee Departments API
  version: 1.0.8
  description: '**AlayaCare IDs:**

    The following terms are used to reference IDs that identify resources in AlayaCare:

    - employee_id

    - contact_id


    **External IDs**

    The following terms are used to reference IDs that identify resources systems external to AlayaCare:

    - external_employee_id

    - external_contact_id


    External IDs are required to be unique.'
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/employees
tags:
- name: Departments
paths:
  /departments:
    get:
      tags:
      - Departments
      summary: Get a list of available departments
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/branch_id'
      responses:
        '200':
          description: A list of departments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentList'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
      operationId: getDepartments
      x-operation-id-source: derived
components:
  parameters:
    page:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
    count:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        type: integer
        default: 100
    branch_id:
      description: Filter by branch ID
      name: branch_id
      in: query
      required: false
      schema:
        type: integer
  schemas:
    BranchSummary:
      description: Branch summary
      type: object
      properties:
        id:
          type: integer
          description: ID of the branch
          example: 1
        name:
          type: string
          description: Name of the branch
          example: Headquarters
    DepartmentListItem:
      allOf:
      - $ref: '#/components/schemas/Department'
      description: AlayaCare department.
      type: object
      properties:
        branch:
          $ref: '#/components/schemas/BranchSummary'
      required:
      - id
      - name
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    DepartmentList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of departments
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DepartmentListItem'
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
      required:
      - count
      - page
      - total_pages
      - items
    Department:
      description: AlayaCare department.
      type: object
      properties:
        id:
          type: integer
          description: AlayaCare department ID
          example: 1
        name:
          type: string
          description: AlayaCare department name
          example: Nursing
      required:
      - id
      - name
  responses:
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
