openapi: 3.2.0
info:
  version: 1.0.4
  title: External Clinical Latest Vitals API
  description: "External Clinical API\n\n**Internal IDs**\nThe following terms are used to reference IDs that identify resources in AlayaCare:\n- id\n- created_by\n- client_id\n- risk_id\n- medication_id\n- admin_id\n- vital_id\n\n**External IDs**\nThe following terms are used to reference IDs that identify resources systems external to AlayaCare:\n- external_id\n- external_client_id\n\nExternal IDs are required to be unique.\nNo other assumptions are made regarding their format they are treated as strings.\n\n**Remarks**\n- All dates must be in ISO 8601 format.\n- Required fields marked with `*` cannot be null.\n\n**Progress Notes**\n  API for creating and viewing client progress notes.\n\n**Risks**\nAPI for creating, viewing, updating, and removing client risks.\n\n**Medication**\n  API for creating, editing, and viewing medications and medication administrations.\n\n**Vitals**\n  API for creating, editing and viewing vitals.\n\nEach individual vital type is identified by a `name`. Dependent vitals are given the same `group`. Currently this is only used to link names `pressure_min` and `pressure_max` with the group `blood_pressure`, as these values should be recorded together.\n\nThe metadata of the vitals includes the configuration and thresholds, the default and available units, and any other required options for each vital type.\n"
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/clinical
tags:
- name: Latest Vitals
paths:
  /vitals/client/{client_id}/latest:
    parameters:
    - description: Client ID
      name: client_id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Latest Vitals
      summary: Get a list of the latest vital recordings by the client's AlayaCare ID
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      responses:
        200:
          description: A list of vitals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalLatestList'
        401:
          $ref: '#/components/responses/AuthChallenge'
        400:
          $ref: '#/components/responses/InvalidRequest'
  /vitals/client/by_id/{external_client_id}/latest:
    parameters:
    - description: External client ID
      name: external_client_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Latest Vitals
      summary: Get a list of the latest vital recordings by the client's external ID
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      responses:
        200:
          description: A list of vitals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalLatestList'
        401:
          $ref: '#/components/responses/AuthChallenge'
        400:
          $ref: '#/components/responses/InvalidRequest'
components:
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    VitalName:
      type: string
      description: The name identifying the vital type.
      enum:
      - blood_glucose
      - bmi
      - height
      - pulse
      - pressure_min
      - pressure_max
      - weight
      - respiratory_rate
      - spo2
      - temperature
      example: pressure_max
    VitalUnits:
      type: string
      description: The unit used to record the vital.
      enum:
      - c
      - f
      - kgs
      - lb
      - bpm
      - breaths_pm
      - mmhg
      - cm
      - in
      - mmol_l
      - mg_dl
      - kg_m2
      - '%'
      example: mmhg
    VitalLatestList:
      type: object
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: A list of the latest vital for each type.
      properties:
        items:
          type: object
          description: The vital details for each vital type.
          properties:
            presure_max:
              $ref: '#/components/schemas/VitalLatest'
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
        items:
          type: array
          items:
            type: object
      required:
      - count
      - page
      - total_pages
      - items
    VitalLatest:
      type: object
      description: Latest vital details
      required:
      - name
      - group
      - date
      - value
      - unit
      properties:
        comments:
          type: string
          description: A comment.
          example: No unexpected results
        date:
          type: string
          description: The created date using ISO 8601 date-time formatting.
          example: '2018-01-01T00:30:00+00:00'
        group:
          type: string
          description: The vital group. This is used to group together separate vitals that are measured together like low and high blood pressure. If no group, this should default to `name`.
          example: blood_pressure
        name:
          $ref: '#/components/schemas/VitalName'
        session_guid:
          type: string
          description: A unique identifier to group vitals recorded together within the same `group`.
          example: 97a3e055-2fd1-469d-a058-b173499e37ff
        source:
          type: string
          description: A description of how the vital was recorded. This may be set if the client recorded the vital themselves.
          example: default
        threshold_level:
          type: string
          description: The level of threshold that was reached. This will be `null` if no threshold was reached.
          enum:
          - low
          - medium
          - high
          example: high
        threshold_reached:
          type: string
          description: The threshold that was reached.
          enum:
          - min
          - max
          example: max
        unit:
          $ref: '#/components/schemas/VitalUnits'
        value:
          type: number
          description: The value of the recorded vital.
          example: 38.4
  parameters:
    count:
      name: count
      in: query
      required: false
      description: Number of items per page. If not specified will default to 100.
      schema:
        type: integer
        default: 100
    page:
      name: page
      in: query
      required: false
      description: Filter by page number. If not specified will default to 1.
      schema:
        type: integer
        default: 1
  responses:
    AuthChallenge:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Please verify your access level for this url.
    InvalidRequest:
      description: Invalid data.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Invalid request
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
