openapi: 3.2.0
info:
  version: 1.0.4
  title: External Clinical Vital Metadata API
  description: "External Clinical API\n\n**Internal IDs**\nThe following terms are used to reference IDs that identify resources in AlayaCare:\n- id\n- created_by\n- client_id\n- risk_id\n- medication_id\n- admin_id\n- vital_id\n\n**External IDs**\nThe following terms are used to reference IDs that identify resources systems external to AlayaCare:\n- external_id\n- external_client_id\n\nExternal IDs are required to be unique.\nNo other assumptions are made regarding their format they are treated as strings.\n\n**Remarks**\n- All dates must be in ISO 8601 format.\n- Required fields marked with `*` cannot be null.\n\n**Progress Notes**\n  API for creating and viewing client progress notes.\n\n**Risks**\nAPI for creating, viewing, updating, and removing client risks.\n\n**Medication**\n  API for creating, editing, and viewing medications and medication administrations.\n\n**Vitals**\n  API for creating, editing and viewing vitals.\n\nEach individual vital type is identified by a `name`. Dependent vitals are given the same `group`. Currently this is only used to link names `pressure_min` and `pressure_max` with the group `blood_pressure`, as these values should be recorded together.\n\nThe metadata of the vitals includes the configuration and thresholds, the default and available units, and any other required options for each vital type.\n"
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/clinical
tags:
- name: Vital Metadata
paths:
  /vitals/client/{client_id}/metadata:
    parameters:
    - description: Client ID
      name: client_id
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Vital Metadata
      summary: Get a list of the metadata for a client's vitals by the client's AlayaCare ID
      responses:
        200:
          description: Metadata details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalMetadataList'
        401:
          $ref: '#/components/responses/AuthChallenge'
        404:
          $ref: '#/components/responses/NotFound'
  /vitals/client/by_id/{external_client_id}/metadata:
    parameters:
    - description: External client ID
      name: external_client_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Vital Metadata
      summary: Get a list of the metadata for a client's vitals by the client's external ID
      responses:
        200:
          description: Metadata details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalMetadataList'
        401:
          $ref: '#/components/responses/AuthChallenge'
        404:
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Progress note not found
    AuthChallenge:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Please verify your access level for this url.
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    VitalName:
      type: string
      description: The name identifying the vital type.
      enum:
      - blood_glucose
      - bmi
      - height
      - pulse
      - pressure_min
      - pressure_max
      - weight
      - respiratory_rate
      - spo2
      - temperature
      example: pressure_max
    VitalMetadataList:
      type: object
      description: A list of vital metadata
      required:
      - metadata
      properties:
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/VitalMetadata'
    VitalMetadata:
      type: object
      description: Vital metadata
      required:
      - active
      - label
      - groups
      - max
      - min
      - name
      - options
      - unit
      properties:
        active:
          type: boolean
          description: Whether the vital is active.
          example: true
        groups:
          type: array
          description: The groups to which the vital belongs. If no groups are set, this will be set to `name`.
          items:
            type: string
            example: blood_pressure
        label:
          type: string
          description: The vital label.
          example: Systolic Blood pressure
        max:
          type: number
          description: The maximum threshold for the vital.
          example: 120
        min:
          type: number
          description: The minimum threshold for the vital.
          example: 60
        name:
          $ref: '#/components/schemas/VitalName'
        options:
          $ref: '#/components/schemas/VitalMetadataOptions'
        unit:
          type: string
          description: The default unit used for the vital.
          example: mmhg
    VitalMetadataOptions:
      type: object
      description: The metadata options available for the vital.
      required:
      - units
      properties:
        type:
          type: string
          description: The options type.
          example: object
        properties:
          type: object
          properties:
            position:
              type: object
              properties:
                enum:
                  type: array
                  description: The list of available options for the position.
                  items:
                    type: string
                    example:
                    - lying
                    - sitting
                    - standing
                type:
                  type: string
                  description: The `enum` options type.
                  example: string
            route:
              type: object
              properties:
                enum:
                  type: array
                  description: The list of available options for the route.
                  items:
                    type: string
                    example:
                    - axillary
                    - oral
                    - rectal
                    - tympanic
                type:
                  type: string
                  description: The `enum` options type.
                  example: string
        units:
          type: array
          description: A list of units available for the vital.
          items:
            type: object
            properties:
              label:
                type: string
                description: The unit label.
                example: mmHg
              value:
                type: string
                description: The unit code.
                example: mmhg
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
