openapi: 3.2.0
info:
  version: 1.0.17
  title: AlayaCare Scheduler Visit accounting API
  description: '**External IDs:**

    The following terms are used to reference ids that identify resources in systems external to AlayaCare:

    - client_id

    - employee_id

    - service_id

    - funder_id

    - visit_id

    - facility_id


    External IDs are required to be unique. No other assumptions are made regarding their format; they are treated as strings.


    **AlayaCare IDs:**

    The following terms are used to reference ids that identify resources in AlayaCare:

    - alayacare_client_id

    - alayacare_employee_id

    - alayacare_service_id

    - alayacare_funder_id

    - alayacare_visit_id

    - alayacare_facility_id


    **Remarks**

    All dates must be in ISO 8601 format with timezone data

    '
  contact:
    name: AlayaCare
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/scheduler
tags:
- name: Visit accounting
paths:
  /visits/{alayacare_visit_id}/accounting:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Visit accounting
      summary: Get visit accounting
      responses:
        '200':
          description: Visit accounting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitAccounting'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/components/responses/ErrorResponseVisitNotFound'
  /visits/by_id/{visit_id}/accounting:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Visit accounting
      summary: Get visit accounting
      responses:
        '200':
          description: Visit accounting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitAccounting'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/components/responses/ErrorResponseVisitNotFound'
  /facility_visits/{alayacare_visit_id}/accounting:
    parameters:
    - name: alayacare_visit_id
      description: AlayaCare visit ID
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Visit accounting
      summary: Get visit accounting
      responses:
        '200':
          description: Visit accounting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitAccounting'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/components/responses/ErrorResponseVisitNotFound'
  /facility_visits/by_id/{visit_id}/accounting:
    parameters:
    - name: visit_id
      description: External visit ID
      in: path
      required: true
      schema:
        type: integer
    get:
      tags:
      - Visit accounting
      summary: Get visit accounting
      responses:
        '200':
          description: Visit accounting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitAccounting'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/components/responses/ErrorResponseVisitNotFound'
components:
  responses:
    ErrorResponseVisitNotFound:
      description: Visit not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Visit not found
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          example: 400
          description: Response code
        message:
          type: string
          example: Invalid request
          description: Detailed error message
      required:
      - code
      - message
    VisitAccounting:
      type: object
      properties:
        id:
          type: integer
          description: Visit ID
          example: 1
        hours_approved:
          type: number
          description: Hours Approved
          example: 1.0
        pay_code_regular:
          $ref: '#/components/schemas/PayCode'
        pay_code_overtime:
          $ref: '#/components/schemas/PayCode'
    PayCode:
      type: object
      properties:
        id:
          type: integer
          description: Pay Code ID
          example: 1
        code:
          type: string
          description: Pay Code Code
          example: '1'
        description:
          type: string
          description: Pay Code Description
          example: '1'
        rate:
          type: number
          description: Rate
          example: 23.345
        unit:
          type: string
          description: Unit
          example: hours | visits | amount
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
