openapi: 3.2.0
info:
  title: AlayaCare Skills Skill Categories API
  version: 1.0.0
  description: '**AlayaCare IDs:**

    The following terms are used to reference IDs that identify resources in AlayaCare:

    - employee_id

    - skill_id


    **External IDs**

    The following terms are used to reference IDs that identify resources systems external to AlayaCare:

    - external_employee_id


    External IDs are required to be unique.

    No other assumptions are made regarding their format they are treated as strings.


    **Remarks**

    - All dates must be in ISO 8601 format with timezone data


    **Skills Considerations**

    - The skill master list and employee skills management are supported by this API

    - Client specific skills are not supported by this API

    '
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/employees
tags:
- name: Skill Categories
paths:
  /skill_categories:
    get:
      tags:
      - Skill Categories
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/count'
      summary: Get a list of skill categories
      responses:
        '200':
          description: A list of skill categories details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillCategoryList'
        '401':
          $ref: '#/components/responses/ErrorResponseAuthentication'
components:
  schemas:
    SkillCategory:
      description: Skill Category
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          description: ID of the skill category
          example: 1
        name:
          type: string
          description: Name of the skill category
          example: Languages
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    SkillCategoryList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: List of skill Categories
      type: object
      properties:
        items:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/SkillCategory'
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
      required:
      - count
      - page
      - total_pages
      - items
  parameters:
    page:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
    count:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        type: integer
        default: 100
  responses:
    ErrorResponseAuthentication:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Authorization required.
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
