openapi: 3.2.0
info:
  version: 1.0.4
  title: External Clinical Care Plan Interventions API
  description: "External Clinical API\n\n**Internal IDs**\nThe following terms are used to reference IDs that identify resources in AlayaCare:\n- id\n- created_by\n- client_id\n- risk_id\n- medication_id\n- admin_id\n- vital_id\n\n**External IDs**\nThe following terms are used to reference IDs that identify resources systems external to AlayaCare:\n- external_id\n- external_client_id\n\nExternal IDs are required to be unique.\nNo other assumptions are made regarding their format they are treated as strings.\n\n**Remarks**\n- All dates must be in ISO 8601 format.\n- Required fields marked with `*` cannot be null.\n\n**Progress Notes**\n  API for creating and viewing client progress notes.\n\n**Risks**\nAPI for creating, viewing, updating, and removing client risks.\n\n**Medication**\n  API for creating, editing, and viewing medications and medication administrations.\n\n**Vitals**\n  API for creating, editing and viewing vitals.\n\nEach individual vital type is identified by a `name`. Dependent vitals are given the same `group`. Currently this is only used to link names `pressure_min` and `pressure_max` with the group `blood_pressure`, as these values should be recorded together.\n\nThe metadata of the vitals includes the configuration and thresholds, the default and available units, and any other required options for each vital type.\n"
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/clinical
tags:
- name: Care Plan Interventions
paths:
  /interventions/client/{client_id}:
    parameters:
    - name: client_id
      in: path
      required: true
      description: AlayaCare client ID
      schema:
        type: integer
    get:
      tags:
      - Care Plan Interventions
      summary: Get a list of a client's care plan interventions using AlayaCare client ID
      description: '- `service_id` and `external_service_id` are mutually exclusive, specifying both is an invalid request.

        '
      parameters:
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/external_service_id'
      - name: status
        description: Filter by status of the intervention
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - completed
          - archived
      responses:
        200:
          description: A list of interventions for a client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterventionList'
        400:
          $ref: '#/components/responses/ErrorResponseAdlsInvalidRequest'
        401:
          $ref: '#/components/responses/AuthChallenge'
        403:
          $ref: '#/components/responses/ErrorResponseCareplanFeatureFlagState'
        404:
          $ref: '#/components/responses/ClientNotFound'
  /interventions/client/by_id/{external_client_id}:
    parameters:
    - name: external_client_id
      in: path
      required: true
      description: External client ID
      schema:
        type: string
    get:
      tags:
      - Care Plan Interventions
      summary: Get a list of a client's interventions using external client ID
      description: '- `service_id` and `external_service_id` are mutually exclusive, specifying both is an invalid request.

        '
      parameters:
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/external_service_id'
      - name: status
        description: Filter by status of the intervention
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - completed
          - archived
      responses:
        200:
          description: A list of interventions for a client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterventionList'
        400:
          $ref: '#/components/responses/ErrorResponseAdlsInvalidRequest'
        401:
          $ref: '#/components/responses/AuthChallenge'
        403:
          $ref: '#/components/responses/ErrorResponseCareplanFeatureFlagState'
        404:
          $ref: '#/components/responses/ClientNotFound'
components:
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    InterventionList:
      allOf:
      - $ref: '#/components/schemas/PaginatedList'
      description: Paginated list of interventions
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Intervention'
    Intervention:
      type: object
      description: Care plan intervention
      properties:
        name:
          type: string
          description: Intervention name
          example: brush teeth
        description:
          type: string
          description: Intervention description
          example: brush teeth
        status:
          type: string
          description: Status of the intervention
          enum:
          - draft
          - active
          - completed
          - archived
        type:
          type: string
          description: One of the types defined in the setting "Care Documentation > Care Plan Intervention Types"
          example: Nursing
        start_date:
          type: string
          description: Intervention start date
          example: '2018-01-01'
        end_date:
          type: string
          description: Intervention end date
          example: '2018-01-01'
        services:
          type: array
          items:
            $ref: '#/components/schemas/InterventionService'
    PaginatedList:
      description: Base model of all paginated lists
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: 1
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages availbale
          example: 1
        items:
          type: array
          items:
            type: object
      required:
      - count
      - page
      - total_pages
      - items
    InterventionService:
      description: Intervention service
      type: object
      properties:
        id:
          type: integer
          description: AlayaCare service ID
          example: 1
        external_id:
          type:
          - string
          - 'null'
          description: External service ID
          example: sor_service_external_id_1
  responses:
    ErrorResponseAdlsInvalidRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: service_id and external_service_id are mutually exclusive
    AuthChallenge:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Please verify your access level for this url.
    ClientNotFound:
      description: Not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Client not found.
    ErrorResponseCareplanFeatureFlagState:
      description: Authorization required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: You do not have the required permissions to perform this action.
  parameters:
    external_service_id:
      name: external_service_id
      in: query
      required: false
      description: Filter by external service ID
      schema:
        type: string
    service_id:
      name: service_id
      in: query
      required: false
      description: Filter by alayacare service ID
      schema:
        type: integer
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
