openapi: 3.2.0
info:
  title: Alayacare Forms API
  version: '1.0'
  description: 'Operations tagged Forms across 2 of this provider''s published API definitions: alayacare-careplan-openapi.yml, alayacare-tasks-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://homecare.alayacare.ca/ext/api/v2/clinical
- url: https://homecare.alayacare.ca/ext/api/v2/tasks
tags:
- name: Forms
paths:
  /forms:
    parameters:
    - $ref: '#/components/parameters/page'
    - $ref: '#/components/parameters/count'
    - description: Search for a form using the form name. This will return all forms containing the search string.
      name: filter
      in: query
      schema:
        type: string
    - description: Filter by branch ID.
      name: branch_id
      in: query
      required: false
      schema:
        type: integer
    get:
      tags:
      - Forms
      summary: Get a list of report forms to attach to an intervention.
      description: '- Only forms that the current user can view will be returned.

        - Disabled forms will be excluded.

        - Results are ordered alphabetically by the form description.

        '
      responses:
        200:
          description: A list of report forms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormList'
        401:
          $ref: '#/components/responses/AuthChallenge'
        403:
          $ref: '#/components/responses/ErrorInsufficientAccess'
        404:
          $ref: '#/components/responses/ErrorResponseFormNotFound'
    servers:
    - url: https://homecare.alayacare.ca/ext/api/v2/clinical
components:
  schemas:
    ErrorResponse:
      description: Error response
      type: object
      properties:
        status_code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    Form:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          description: Report form ID of the task.
          example: 1604
        name:
          type: string
          description: 'Name of the report form. Limited to 256 chars.

            '
          example: New Client Assessment
        branch:
          $ref: '#/components/schemas/Branch'
    FormList:
      required:
      - count
      - page
      - total_pages
      - items
      type: object
      properties:
        count:
          type: integer
          description: Number of items in the response
          example: null
        page:
          type: integer
          description: Current page number
          example: 1
        total_pages:
          type: integer
          description: Total number of pages available
          example: 1
        items:
          type: array
          items:
            $ref: '#/components/schemas/Form'
    Branch:
      description: AlayaCare Branch
      type: object
      properties:
        id:
          type: integer
          description: Branch ID
          example: 1000
        name:
          type: string
          description: Branch name
          example: AlayaCare Health
    Form_2:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          description: Report form ID of the task.
          example: 1604
        name:
          type: string
          description: 'Name of the report form. Limited to 256 chars.

            '
          example: New Client Assessment
        dispatch_fields:
          type: array
          description: The dispatch fields associated to the report form.
          items:
            $ref: '#/components/schemas/FormField'
        branch:
          $ref: '#/components/schemas/Branch'
    ErrorResponse_2:
      description: Error response
      type: object
      properties:
        code:
          type: integer
          description: Response code
        message:
          type: string
          description: Detailed error message
      required:
      - code
      - message
    FormField:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          description: The form field identifier.
          example: 1234
        name:
          type: string
          description: The form field identifier.
          example: field_1234
        label:
          type: string
          description: The form field label.
          example: Enter the client pain levels.
        type:
          type: string
          description: The form field type. This should exclude any types associated to file uploads (e.g. `picture`, `signature`, etc).
          example: list
        list:
          type: array
          description: A list of options if the form field type is `list` or `ist_multiple`.
          items:
            type: string
            example: Moderate pain
  responses:
    AuthChallenge:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status_code: 401
            message: Please verify your access level for this url.
    ErrorInsufficientAccess:
      description: You do not have the required permissions to perform this action
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status_code: 403
            message: Access required
    ErrorResponseFormNotFound:
      description: Form not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            status_code: 404
            message: Form not found
    AuthChallenge_2:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
          example:
            code: 401
            message: Please verify your access level for this url.
  parameters:
    page:
      description: Filter by page number.
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
    count:
      description: Number of items per page.
      name: count
      in: query
      required: false
      schema:
        type: integer
        default: 100
    page_2:
      name: page
      in: query
      required: false
      description: Filter by page number. If not specified will default to 1.
      schema:
        type: integer
        default: 1
    count_2:
      name: count
      in: query
      required: false
      description: Number of items per page. If not specified will default to 100.
      schema:
        type: integer
        default: 100
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
      description: Basic HTTP auth over https
x-refined-from:
- alayacare-careplan-openapi.yml
- alayacare-tasks-openapi.yml
