openapi: 3.1.0
info:
  title: External Tasks 2.0 API
  version: 1.0.0
  description: |
    **Internal IDs:**
    The following terms are used to reference IDs that identify resources in AlayaCare:
    - client_id
    - comment_id
    - employee_id
    - form_id
    - subtask_id
    - task_id
    - 
    **External IDs**
    External IDs are required to be unique.
    No other assumptions are made regarding their form; they are treated as strings.

    The following terms are used to reference IDs that identify resources in systems external to AlayaCare:
    - external_client_id
    - external_employee_id

    **Remarks**
    - All dates must be in ISO 8601 format.
    - Required fields marked with `*` cannot be null.
    - Currently filtering by date is timezone-naive and will assume any filters to be provided in the timezone of branch associated to the task.


security:
 - BasicAuth: []

servers:
  - url: https://homecare.alayacare.com
    description: Production server
  - url: https://homecare.staging.alayacare.com
    description: Staging server
  - url: https://homecare.uat.alayacare.com
    description: UAT server
  

paths:
  /tasks:
    get:
      summary: Retrieve tasks
      description: Retrieve tasks by using various criteria.
      tags:
        - Tasks
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/branches'
        - $ref: '#/components/parameters/branch_id'
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/created_by'
        - $ref: '#/components/parameters/due_at_min'
        - $ref: '#/components/parameters/due_at_max'
        - $ref: '#/components/parameters/no_due_at'
        - $ref: '#/components/parameters/assigned_to_group_id'
        - $ref: '#/components/parameters/assigned_to_user_ids'
        - $ref: '#/components/parameters/assigned_to_external_employee_ids'
        - $ref: '#/components/parameters/assigned_to_user_id_groups'
        - $ref: '#/components/parameters/assigned_to_user_id_groups_mode'
        - $ref: '#/components/parameters/priorities'
        - $ref: '#/components/parameters/tags'
        - $ref: '#/components/parameters/statuses'
        - $ref: '#/components/parameters/is_assigned'
        - $ref: '#/components/parameters/is_assigned_to_user'
        - $ref: '#/components/parameters/contexts'
        - $ref: '#/components/parameters/context_external_client_id'
        - $ref: '#/components/parameters/client_group_ids'
        - $ref: '#/components/parameters/client_group_ids_mode'
        - $ref: '#/components/parameters/context_external_employee_id'
        - $ref: '#/components/parameters/employee_group_ids'
        - $ref: '#/components/parameters/employee_group_ids_mode'
        - $ref: '#/components/parameters/task_text'
      responses:
        '200':
          $ref: '#/components/schemas/PaginatedTaskList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      summary: Add a new task
      description: Add a new task.
      tags:
        - Tasks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
        description: Task
        required: true
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  
  /tasks/count:
    get:
      summary: Retrieve total number of tasks by various criteria
      description: Retrieve number of tasks by using various criteria.
      tags:
        - Tasks
      parameters:
        - $ref: '#/components/parameters/branches'
        - $ref: '#/components/parameters/branch_id'
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/created_by'
        - $ref: '#/components/parameters/due_at_min'
        - $ref: '#/components/parameters/due_at_max'
        - $ref: '#/components/parameters/no_due_at'
        - $ref: '#/components/parameters/assigned_to_group_id'
        - $ref: '#/components/parameters/assigned_to_user_ids'
        - $ref: '#/components/parameters/assigned_to_external_employee_ids'
        - $ref: '#/components/parameters/assigned_to_user_id_groups'
        - $ref: '#/components/parameters/assigned_to_user_id_groups_mode'
        - $ref: '#/components/parameters/priorities'
        - $ref: '#/components/parameters/tags'
        - $ref: '#/components/parameters/statuses'
        - $ref: '#/components/parameters/is_assigned'
        - $ref: '#/components/parameters/is_assigned_to_user'
        - $ref: '#/components/parameters/contexts'
        - $ref: '#/components/parameters/context_external_client_id'
        - $ref: '#/components/parameters/client_group_ids'
        - $ref: '#/components/parameters/client_group_ids_mode'
        - $ref: '#/components/parameters/context_external_employee_id'
        - $ref: '#/components/parameters/employee_group_ids'
        - $ref: '#/components/parameters/employee_group_ids_mode'
        - $ref: '#/components/parameters/task_sources'
        - $ref: '#/components/parameters/task_text'
      responses:
        '200':
          $ref: '#/components/schemas/TaskCount'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  
  /tasks/{task_id}:
    get:
      summary: Retrieve a task by id
      description: Get the full details of a task by using the `task_id` column.
      tags:
        - Tasks
      parameters:
        - $ref: '#/components/parameters/task_id'
      responses:
        '200':
          $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    put:
        summary: Update a task
        description: Update a Task
        tags:
          - Tasks
        parameters:
          - $ref: '#/components/parameters/task_id'
          - $ref: '#/components/parameters/update_contexts'
          - $ref: '#/components/parameters/update_escalation_dates'
          - $ref: '#/components/parameters/update_extensions'
          - $ref: '#/components/parameters/update_tags'
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Task
          required: true
        responses:
          '200':
            description: success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Task'
          '400':
            $ref: '#/components/responses/400BadRequest'
          '401':
            $ref: '#/components/responses/401Unauthorized'
          '403':
            $ref: '#/components/responses/403Forbidden'
          '404':
            $ref: '#/components/responses/404NotFound'    
    patch:
      summary: Patch a task
      description: >-
        Patch a task, only replacing those fields that are specified and
        retaining

        the existing value for fields that are not specified.
      tags:
        - Tasks
      parameters:
        - $ref: '#/components/parameters/task_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskPatchRequest'
        description: Fields to patch
        required: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    delete:
      summary: Delete a task
      description: Delete a task
      tags:
        - Tasks
      parameters:
        - $ref: '#/components/parameters/task_id'
      responses:
        '204':
          description: success, no content
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    

  /tasks/{task_id}/status/{status}:
      patch:
        summary: Change the status of a task by id
        description: Change the status of a task by id
        tags:
          - Tasks
        parameters:
          - $ref: '#/components/parameters/task_id'
          - $ref: '#/components/parameters/status_in_path'
        responses:
          '200':
            description: success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Task'
          '400':
            $ref: '#/components/responses/400BadRequest'
          '401':
            $ref: '#/components/responses/401Unauthorized'
          '403':
            $ref: '#/components/responses/403Forbidden'
          '404':
            $ref: '#/components/responses/404NotFound'

  /tasks/clone:
    post:
      summary: Clone a task
      description: >-
        Clone a task, creating a new task with the same details as the original
        task,
        including all sub tasks. Some fields, such as creator, created_at,
        assigned
        user and group, and status will be set to defaults instead.
      tags:
        - Tasks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneTaskRequest'
        description: Clone Task Request
        required: true
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'

  /tasks/{task_id}/comments:
    get:
      summary: Retrieve all comments for a task
      description: Retrieve all comments for a task.
      tags:
        - Comments
      parameters:
        - $ref: '#/components/parameters/task_id'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCommentList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      summary: Add a comment to a task
      description: Add a comment to a task.
      tags:
        - Comments
      parameters:
        - $ref: '#/components/parameters/task_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskComment'
        description: Task Comment
        required: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCommentList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  /tasks/{task_id}/comments/{comment_id}:
    get:
      summary: Retrieve specific comment for a task
      description: Retrieve a specific comment for a task.
      tags:
        - Comments
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/comment_id'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    put:
      summary: Update a specific comment for a task
      description: Update a specific comment for a task.
      tags:
        - Comments
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/comment_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskComment'
        description: Task Comment
        required: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    delete:
      summary: Delete a specific comment for a task
      description: Delete a comment for a task.
      tags:
        - Comments
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/comment_id'
      responses:
        '204':
          description: success, no content
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
 
  /tasks/{task_id}/sub_tasks:
    get:
      summary: Retrieve sub tasks
      description: Retrieve sub tasks for a task.
      tags:
        - Tasks
        - Subtasks
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubTaskList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    post:
      summary: Add a sub task
      description: Add a sub task to a task.
      tags:
        - Tasks
        - Subtasks
      parameters:
        - $ref: '#/components/parameters/task_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubTask'
        description: Sub Task
        required: true
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubTask'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  /tasks/{task_id}/sub_tasks/{subtask_id}:
    delete:
      summary: Delete a sub task
      description: Delete a sub task for a task.
      tags:
        - Subtasks
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/subtask_id'
      responses:
        '200':
          description: success
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    get:
      summary: Retrieve a single sub task
      description: Retrieve a single sub task for a task.
      tags:
        - Subtasks
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/subtask_id'
      responses:
        '204':
          description: success, no content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubTask'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    patch:
      summary: Patch a sub task
      description: >-
        Patch a sub task, only replacing those fields that are specified and
        retaining

        the existing value for fields that are not specified.
      tags:
        - Subtasks
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/subtask_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubTaskPatchRequest'
        description: Fields to patch
        required: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubTask'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
    put:
      summary: Update a sub task
      description: Update a sub task for a task.
      tags:
        - Subtasks
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/subtask_id'
        - $ref: '#/components/parameters/update_contexts'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubTask'
        description: Sub Task
        required: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubTask'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  /tasks/{task_id}/sub_tasks/{subtask_id}/status/{status}:
    patch:
      summary: Change the status of a sub task
      description: Change the status of a sub task
      tags:
        - Subtasks
      parameters:
        - $ref: '#/components/parameters/task_id'
        - $ref: '#/components/parameters/subtask_id'
        - $ref: '#/components/parameters/status_in_path'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubTask'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
  
  /tasks/bulk_action:
    delete:
      summary: Delete multiple tasks
      description: >-
        Delete multiple tasks at once. All tasks specified in the payload will
        be deleted.

        This operation either succeeds as a whole or fails as a whole. If any of
        the

        tasks does not exist or is inaccessible, the entire operation will fail.
      tags:
        - Tasks
        - Bulk Actions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteActionRequest'
      responses:
        '204':
          description: success, no content
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
    patch:
      summary: Update multiple tasks
      description: >-
        Update multiple tasks at once, changing only the values that are
        specified.

        All tasks specified in the payload will be updated. This operation
        either

        succeeds as a whole or fails as a whole. If any of the tasks does not
        exist or

        is inaccessible, the entire operation will fail.
      tags:
        - Tasks
        - Bulk Actions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdatePatchActionRequest'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateActionResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
    put:
      summary: Update multiple tasks
      description: >-
        Update multiple tasks at once. All tasks specified in the payload will
        be updated.

        This operation either succeeds as a whole or fails as a whole. If any of
        the

        tasks does not exist or is inaccessible, the entire operation will fail.
      tags:
        - Tasks
        - Bulk Actions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateActionRequest'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateActionResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
  /tasks/bulk_action/status:
    patch:
      summary: Change the status of multiple tasks
      description: >-
        Change the status of multiple tasks at once. All tasks specified in the
        payload

        will be updated. This operation either succeeds as a whole or fails as a
        whole.

        If any of the tasks does not exist or is inaccessible, the entire
        operation

        will fail.
      tags:
        - Tasks
        - Bulk Actions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateStatusActionRequest'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateActionResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'

components:
  parameters:
    assigned_to_external_employee_ids:
      name: assigned_to_external_employee_ids
      in: query
      schema:
        type: array
        items:
          type: string
      explode: true
      description: >-
        The external employee identifiers of the employee who is assigned the
        task. Please refer to the external employee API for more information on external employee id.
      example: abc_123
    assigned_to_group_id:
      name: assigned_to_group_id
      in: query
      schema:
        type: integer
      description: The group identifier of the group which is assigned the task. Please refer to the external employee API for more information on groups.
      example: 123
    assigned_to_user_ids:
      name: assigned_to_user_ids
      in: query
      schema:
        type: array
        items:
          type: integer
        explode: true
      description: The user identifiers of the user who is assigned the task. Please refer to the external employee API for more information on employee id.
      example: 1234
    assigned_to_user_id_groups:
      name: assigned_to_user_id_groups
      in: query
      schema:
        type: array
        items:
          type: integer
      explode: true
      description: >-
        Include tasks that are assigned to members of the specified groups.
        Depending on the value of `assigned_to_user_id_groups_mode`, tasks will be
        returned that are assigned to a user in any of the specified groups or all of the
        specified groups. Please refer to the external employee API for more information on groups.
      example: [100, 355, 150]

    assigned_to_user_id_groups_mode:
      name: assigned_to_user_id_groups_mode
      in: query
      schema:
        type: string
        oneOf:
          - title: all
            const: all
          - title: any
            const: any
      description: >-
        When set to 'all', only tasks that are assigned to a user in all of the specified groups will be returned. When set to 'any', tasks that are assigned to a user in any of the specified groups will be returned. To be used in conjunction with `assigned_to_user_id_groups`
      example: all
    
    branches:
      name: branches
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      explode: true
      description: Branch identifiers to filter on. Please refer to the external employee API for more information on branches.
      example: headquarter
    
    branch_id:
      name: branch_id
      in: query
      schema:
        type: integer
      description: The branch identifier to filter on. Please refer to the external employee API for more information on branches.
      example: 100
    
    client_context:
      name: client_context
      in: query
      schema:
        type: integer
      description: Return tasks that have the client context linked to task. Please refer to the external client API for more information on client id.
      example: 1234

    client_group_ids:
      name: client_group_ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
      explode: true
      description: >-
        Return tasks that have a client context that is associated with one of
        the specified client groups or all of the specified client groups (depending
        on the `client_group_ids_mode` parameter). Please refer to the external client API for more information on client groups.
      example: [100,101,102]

    client_group_ids_mode:
      name: client_group_ids_mode
      in: query
      required: false
      schema:
        type: string
        oneOf:
          - title: all
            const: all
          - title: any
            const: any
      description: >-
        When set to 'all', only tasks that have a client context that is
        associated with all of the specified client groups will be returned. When set to 'any', tasks that have a client context that is associated with any of
        the specified client groups will be returned. To be used in conjunction with `client_groups_ids`
      example: any
    comment_id:
      name: comment_id
      in: path
      required: true
      schema:
        type: integer
      description: The uniqut task comment identifier
      example: 11111
    contexts:
      name: contexts
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
        explode: true
      description: >-
        Search criteria for context. Each element is a comma separated list of
        context operator, context type, and context primary id. For example, `include,client,27` will return tasks that include the client context with client id 27. The context primary id may be omitted, in which case all tasks that have a context of the specified context type will be included. The context operator may be 'include' or 'exclude'. When set to 'include', tasks that are associated with the specified context will be included.
        When set to 'exclude', tasks that are not associated with the specified
        context will be included.
      example: [(include,client, 27),(include, form,123)]
    
    context_external_client_id:
      name: context_external_client_id
      in: query
      required: false
      schema:
        type: string
      description: |-
        The external client identifier of the client to filter on when searching for
        tasks associated with a client context. When set, a context search will be
        included for the specified client.
    context_external_employee_id:
      name: context_external_employee_id
      in: query
      required: false
      schema:
        type: string
      description: |-
        The external employee identifier of the employee to filter on when searching
        for tasks associated with an employee context. When set, a context search
        will be included for the specified employee.   
    created_at_max:
      name: created_at_max
      in: query
      schema:
        type: string
        format: datetime
      description: Maximum created date
      example: '2023-01-31T22:00:00.000Z'
    created_at_min:
      name: created_at_min
      in: query
      schema:
        type: string
        format: datetime
      description: Minimum created date
      example: '2023-01-31T22:00:00.000Z'
    count:
      name: count
      in: query
      schema:
        type: integer
        maxLength: 100
        minLength: 1
      description: Number of items per page to return
      example: 50
    created_by:
      name: created_by
      in: query
      schema:
        type: integer
      description: The user identifier of the user who created the task. Please refer to the external employee API for more information on employee id.
      example: 1123
    due_at_max:
      name: due_at_max
      in: query
      schema:
        type: string
        format: datetime
      description: Maximum due date
      example: '2023-01-31T22:00:00.000Z'
    due_at_min:
      name: due_at_min
      in: query
      schema:
        type: string
        format: datetime
      description: Minimum due date
      example: '2023-01-31T22:00:00.000Z'
    employee_context:
      name: employee_context
      in: query
      schema:
        type: integer
      description: Return tasks that have the employee context linked to task. Please refer to the external employee API for more information on employee id.
      example: 1234
    employee_group_ids:
      name: employee_group_ids
      in: query
      required: false
      schema:
        type: array
        items:
          type: integer
        explode: true
      description: >-
        Return tasks that have an employee context that is associated with one
        of the specified employee groups or all of the specified employee groups (depending on the `employee_group_ids_mode` parameter).
      example: [100, 101, 102]
    employee_group_ids_mode:
      name: employee_group_ids_mode
      in: query
      required: false
      schema:
        type: string
        oneOf:
          - title: all
            const: all
          - title: any
            const: any
      description: >-
        When set to 'all', only tasks that have a employee context that is
        associated with all of the specified employee groups will be returned. When set to 'any', tasks that have a employee context that is associated with any of
        the specified employee groups will be returned.
      example: all
    form_id:
      name: form_id
      in: query
      schema:
        type: integer
      description:  Return tasks that have a form context linked to task. Please refer to the external Forms API for more information on form id.
      example: 111
  
    is_assigned:
      name: is_assigned
      in: query
      schema:
        type: boolean
      description: >-
        When set, only tasks that are assigned to a user or group will be included.
      example: true
    is_assigned_to_user:
      name: is_assigned_to_user
      in: query
      schema:
        type: boolean
      description: >-
        When set, only tasks that are assigned to a user will be included.
      example: true
    no_due_at:
      name: no_due_at
      in: query
      schema:
        type: boolean
      description: Set to true to filter on tasks without a due date
      example: true
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
      example: 1
    priorities:
      name: priorities
      description: Priorities to include.
      in: query
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Priority'
        explode: true
      example:
    statuses:
      name: statuses
      description: Statuses to include.
      in: query
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Status'
        explode: true
    status_in_path:
      name: status
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/Status'
    subtask_id:
      name: subtask_id
      in: path
      required: true
      schema:
        type: integer
      description: The sub task identifier
    tags:
      name: tags
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
        explode: true
      description: Tags to include in results
    task_id:
      name: task_id
      in: path
      required: true
      schema:
        type: integer
      description: The task identifier
    task_id_in_query:
      name: task_id
      in: query
      required: true
      schema:
        type: integer
      description: The task identifier
    task_sort:
      name: sort
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
        explode: true
      description: |-
        Fields to sort tasks by. The following fields are supported:
        - `due_at_ascending`
        - `due_at_descending`
        - `created_at_ascending`
        - `created_at_descending`
        - `updated_at_ascending`
        - `updated_at_descending`
        - `current_priority_ascending`
        - `current_priority_descending`
        - `status_at_ascending`
        - `status_at_descending`
        - `task_id_ascending`
        - `task_id_descending`
        - `notify_at_ascending`
        - `notify_at_descending`
    task_sources:
      name: sources
      in: query
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TaskSource'
        explode: true
      description: Sources to include in results.
    task_text:
      name: text
      in: query
      required: false
      schema:
        type: string
      description: Search for text in tasks. The `name` and `details` fields are searched.
    update_contexts:
      name: update_contexts
      in: query
      required: false
      schema:
        type: boolean
      description: Whether to update contexts from the payload
    update_escalation_dates:
      name: update_escalation_dates
      in: query
      required: false
      schema:
        type: boolean
      description: Whether to update escalation dates from the payload
    update_extensions:
      name: update_extensions
      in: query
      required: false
      schema:
        type: boolean
      description: Whether to update extensions from the payload
    update_tags:
      name: update_tags
      in: query
      required: false
      schema:
        type: boolean
      description: Whether to update tags from the payload
  
  
  
  schemas:
    Person:
      type: object
      description: Encapsulates the bare details of a person
      properties:
        id:
          type: integer
          nullable: false
          description: Primary ID (Employee ID, User ID etc.) of person
        external_id:
          type: string
          nullable: True
          description: External ID of person
        guid:
          type: integer
          nullable: True
          description: GUID
        profile_id:
          type: integer
          nullable: True
          description: Profile ID
        last_name:
          type: string
          description: Last Name/Family Name
        first_name:
          type: string
          description: First Name
        full_name:
          type: string
          description: Full Name
        status:
          type: string
          description: Status of person
        deep_link:
          type: string
          description: Deep link to person
        profile_photo_url:
          type: string
          description: URL to profile photo    

    BulkDeleteActionRequest:
      type: object
      description: Encapsulates a bulk delete action request
      properties:
        items:
          type: array
          items:
            type: integer
          description: >-
            The task identifiers of the tasks to delete. All tasks specified in
            the

            payload will be deleted. This operation either succeeds as a whole
            or

            fails at a whole. If any of the tasks does not exist or is
            inaccessible,

            the entire operation will fail.
    BulkUpdateActionRequest:
      type: object
      description: Encapsulates a bulk update action request
      properties:
        update_contexts:
          type: boolean
          description: |-
            Whether to update contexts from the payload. If set to true, the
            `contexts` property must be set in the payload.
        update_escalation_dates:
          type: boolean
          description: >-
            Whether to update escalation dates from the payload. If set to true,
            the

            `escalation_dates` property must be set in the payload.
        update_extensions:
          type: boolean
          description: |-
            Whether to update extensions from the payload. If set to true, the
            `extensions` property must be set in the payload.
        update_tags:
          type: boolean
          description: |-
            Whether to update tags from the payload. If set to true, the `tags`
            property must be set in the payload.
        items:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Task'
          description: >-
            The tasks to update. All tasks specified in the payload will be
            updated.

            This operation either succeeds as a whole or fails at a whole. If
            any of

            the tasks does not exist or is inaccessible, the entire operation
            will

            fail. Use the task identifiers as keys in the dictionary, and the
            full

            task payload as values.
    BulkUpdateActionResponse:
      type: object
      description: Encapsulates a bulk update action response
      properties:
        items:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Task'
          description: >-
            The first 100 tasks that were updated. The task identifiers are the
            keys

            in the dictionary, and the full task payload are sent as values.

    BulkUpdateStatusActionRequest:
      type: object
      description: Encapsulates a bulk update status action request
      properties:
        items:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Status'
          description: >-
            The task identifiers and status to update. All tasks specified in
            the

            payload will be updated. This operation either succeeds as a whole
            or

            fails at a whole. If any of the tasks does not exist or is
            inaccessible,

            the entire operation will fail. Use the task identifiers as keys in
            the

            dictionary, and the status as values.
    BulkUpdatePatchActionRequest:
      type: object
      description: Encapsulates a bulk update patch action request
      properties:
        items:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TaskPatchRequest'
          description: >-
            The tasks to update. All tasks specified in the payload will be
            updated.

            This operation either succeeds as a whole or fails at a whole. If
            any of

            the tasks does not exist or is inaccessible, the entire operation
            will

            fail. Use the task identifiers as keys in the dictionary, and the
            patch

            data structure in the values.
    CloneTaskRequest:
      type: object
      description: Encapsulates a clone task request
      properties:
        task_id:
          type: integer
          description: The task identifier of the task to clone.
      name:
        type: string
        description: >-
          The name of the cloned task. If not provided, the name of the original
          task  will be used.

    NamedEntity:
      type: object
      description: Encapsulates an entity that has a name, but is not a person.
      properties:
        id:
          type: integer
          nullable: false
          description: Primary ID of entity
        name:
          type: string
          description: Name of entity
        status:
          type: string
          description: Status of entity
        deep_link:
          type: string
          description: Deep link to entity

    Priority:
      type: integer
      oneOf:
        - title: Low
          const: 1
        - title: Normal
          const: 2
        - title: Important
          const: 3
        - title: Urgent
          const: 4
      example: 4
      description: Priority of a Task or Sub Task
    Status:
      type: integer
      oneOf:
        - title: Open
          const: 1
        - title: In Progress
          const: 3
        - title: Completed
          const: 5
        - title: Closed
          const: 7
      example: 1
      description: Status of a Task or Sub Task


    SubTask:
      type: object
      description: >-
        Tasks can have 0 or more sub tasks. Progress on a parent task is tracked
        by

        reviewing the status of sub tasks.
      title: Sub Task
      properties:
        subtask_id:
          type: integer
          example: 12
        due_at:
          nullable: true
          type: string
          format: datetime
          example: '2023-02-27T10:00:00.000Z'
          description: When the sub task is due.
        name:
          type: string
          example: Update chart with results
          nullable: false
          description: Free-form entered by user
        details:
          type: string
          example: |-
            - Validate results.
            - Update most recent chart with new results.
        created_at:
          type: string
          format: datetime
          example: '2023-02-02T19:00:45.000Z'
          description: When the sub task was created
        created_by:
          $ref: '#/components/schemas/Person'
          description: Who created the sub task.
        updated_at:
          type: string
          format: datetime
          example: '2023-02-02T19:00:58.000Z'
          description: When the task was most recently updated.
        updated_by:
          $ref: '#/components/schemas/Person'
          description: Who updated the sub task.
        status:
          $ref: '#/components/schemas/Status'
          nullable: false
          description: Status of the Sub Task
        contexts:
          type: array
          items:
            $ref: '#/components/schemas/TaskContext'
          description: Applicable contexts.
    
    SubTaskPatchRequest:
      type: object
      description: >-
        Request body for patching a sub task. The request contains one or more
        fields to update in a sub task. The fields are optional, but at least one field
        must be provided.

        It should also be noted that there is a difference between providing a
        value of `null` for a field and not providing a field. When a field is not in
        the payload, it is ignored and the sub task will retain its current value.
        If a field is set to `null`, the value will be blanked out in the sub task
        object.
      title: Sub Task Patch Request
      properties:
        name:
          type: string
          example: Check vitals for Mrs. Doe
          nullable: false
          description: Free-form name of the task as entered by the user.
        due_at:
          type: string
          format: date-time
          example: '2023-01-31T22:00:00.000Z'
          nullable: true
          description: When the task is due.
        status:
          $ref: '#/components/schemas/Status'
        details:
          type: string
          example: |-
            Check Blood Pressure and Heart Rate.
            Recent readings were out of range.
            If readings are out of range again, alert nursing staff.
          description: Free text entered by user to provide more detail.
        contexts:
          type: array
          items:
            $ref: '#/components/schemas/TaskContext'
          description: Applicable contexts.
    TaskComment:
      type: object
      description: Comments on a task.
      title: Task Comment
      properties:
        comment_id:
          type: integer
          example: 1
          description: Primary Key
        comment:
          type: string
          example: Comment
        created_at:
          type: string
          format: datetime
          example: '2023-02-02T19:00:45.000Z'
          description: When the comment was created
        created_by:
          $ref: '#/components/schemas/Person'
          description: Who created the comment.
        updated_at:
          type: string
          format: datetime
          example: '2023-02-02T19:00:58.000Z'
          description: When the comment was most recently updated.
        updated_by:
          $ref: '#/components/schemas/Person'
          description: Who updated the comment
    
    TaskCommentList:
      type: object
      items:
        $ref: '#/components/schemas/TaskComment'
    
    TaskContext:
      type: object
      description: Context to which a task applies.
      title: Task Context
      properties:
        type:
          type: string
          example: api.patients.client
          description: >-
            Type of the context. Domain services define their contexts and
            provide

            instructions on how to connect to them through the component
            registry.
          nullable: false
        primary_id:
          type: string
          example: 27
          description: Identifies the referenced context.
          nullable: false
        display_name:
          type: string
          example: John Doe
          description: Display name of the context.
          nullable: true
        deep_link:
          type: string
          example: /#/employees/2s/overview
          description: >-
            Deep link to the context. Domain services define their deep links
            and

            provide instructions on how to connect to them through the component

            registry.
          nullable: true
        is_visible:
          type: boolean
          example: true
          description: >-
            Indicates whether the context is visible. If set to False, the
            context

            will not be displayed in the frontend.
        props:
          type: object
          additionalProperties: true
          description: >-
            Contents are context-dependent. Has the most important fields from a
            context.

            For examples, a Client context may contain `first_name` and
            `last_name`.

            Depending on the context type, this field may be two-way.
          example:
            name.last: Doe
            name.first: John
   
    TaskExtension:
          type: object
          description: |-
            Custom defined extensions
          title: Task Extension
          properties:
            field_id:
              type: integer
              example: 1
              description: Extension field ID
              nullable: False
            field_type:
              ref: '#/components/schemas/TaskExtensionType'
            field_label:
              type: string
              example: Health Care Number
              description: |-
                Label of the extension. The label is used as the title of the extension
                when rendered.
            field_value:
              type: object
              additionalProperties:
                type: [string, integer, number, boolean, object]
              example: True
              description: |-
                  Value. The type is dependent on the extension type.
            
    TaskExtensionSchema:
      type: object
      description: Schema for custom defined extension field
      title: Task Extension Schema
      properties:
        field_id:
          type: integer
          example: 1
          description: Extension field ID
          nullable: false
        type:
          $ref: '#/components/schemas/TaskExtensionType'
        label:
          type: string
          example: Health Care Number
          description: >-
            Label of the extension. The label is used as the title of the
            extension

            when rendered.
        tag:
          type: string
          example: intake
          description: Additional tag
        instructions:
          type: string
          example: Enter the health care number of the patient
          description: Instructions for the extension.
        rank:
          type: integer
          example: 1
          description: >-
            Rank of the extension. Extensions are rendered in ascending order of
            rank.
        required:
          type: boolean
          example: true
          description: >-
            Indicates whether the extension is required. If set to True, the
            extension

            must be filled.
        settings:
          type: object
          additionalProperties: true
          description: >-
            Additional settings for the extension. The settings are dependent on
            the

            extension type.
    
    TaskExtensionType:
      type: string
      oneOf:
        - title: text
          const: text
        - title: textarea
          const: textarea
        - title: number
          const: number
        - title: signature
          const: signature
        - title: checkbox
          const: checkbox
        - title: list
          const: list
        - title: list_multiple
          const: list_multiple
        - title: section
          const: section
        - title: time
          const: time
        - title: date
          const: date
        - title: hyperlink
          const: hyperlink
        - title: information
          const: information    
    
    
    Task:
      type: object
      description: |-
        Task Model
        Primary Key: task_id
      title: Task
      properties:
        task_id:
          type: integer
          example: 1
        branch:
          $ref: '#/components/schemas/NamedEntity'
          description: Branch to which the task belongs.
        source:
          $ref: '#/components/schemas/TaskSource'
          description: Source of the task.
        name:
          type: string
          example: Check vitals for Mrs. Doe
          nullable: false
          description: Free-form name of the task as entered by the user.
        created_at:
          type: string
          format: date-time
          example: '2023-01-17T18:00:05.000Z'
        created_by:
          $ref: '#/components/schemas/Person'
          description: Who created the Task
        due_at:
          type: string
          format: date-time
          example: '2023-01-31T22:00:00.000Z'
          nullable: true
          description: When the task is due.
        updated_at:
          type: string
          format: date-time
          example: '2023-01-20T19:23:05.000Z'
          description: Time the task was most recently updated.
        updated_by:
          $ref: '#/components/schemas/Person'
          description: Who most recently updated the Task.
        current_priority:
          $ref: '#/components/schemas/Priority'
          description: >-
            Current Priority of the Task. This is calculated based on the
            `initial_priority`, `escalation_dates` and current date/time.
        assigned_to_user:
          $ref: '#/components/schemas/Person'
          nullable: true
          description: Person to whom the task is assigned.
        assigned_to_group:
          $ref: '#/components/schemas/NamedEntity'
          nullable: true
          description: Group to which the task is assigned.
        custom_icon:
          type: string
          nullable: true
          description: Custom icon to be displayed for the task.
        status:
          $ref: '#/components/schemas/Status'
        status_at:
          type: string
          nullable: true
          format: date-time
          example: '2023-01-20T19:23:05.000Z'
          description: Time the task status was most recently updated.
        status_by:
          $ref: '#/components/schemas/Person'
          nullable: true
          description: Who most recently updated the status of the Task.
        details:
          type: string
          example: |-
            Check Blood Pressure and Heart Rate.
            Recent readings were out of range.
            If readings are out of range again, alert nursing staff.
          description: Free text entered by user to provide more detail.
        notify_at:
          type: string
          nullable: true
          format: date-time
          example: '2023-01-20T19:23:05.000Z'
          description: >-
            Time the assignee(s) should be notified. Assignee(s) will not be
            notified

            if blank.
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 25
          description: User-defined tags.
        has_comments:
          type: boolean
          nullable: false
          description: Indicates whether comments have been added to the task.
        has_sub_tasks:
          type: boolean
          nullable: false
          description: Indicates whether sub tasks have been created.
        contexts:
          type: array
          items:
            $ref: '#/components/schemas/TaskContext'
          description: Applicable contexts.
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/TaskExtension'
          description: Custom defined extension values
        extensions_schema:
          type: array
          items:
            $ref: '#/components/schemas/TaskExtensionSchema'
          description: Schema for custom defined extension fields
    TaskCount:
      type: object
      description: Task Count
      title: Task Count
      properties:
        count:
          type: integer
          example: 1
          description: Number of tasks
    TaskPatchRequest:
      type: object
      description: >-
        Request body for patching a task. The request contains one or more
        fields to update in a task. The fields are optional, but at least one field must
        be provided.

        It should also be noted that there is a difference between providing a
        value of `null` for a field and not providing a field. When a field is not in
        the payload, it is ignored and the task will retain its current value. If a
        field is set to `null`, the value will be blanked out in the task object.
      title: Task Patch Request
      properties:
        name:
          type: string
          example: Check vitals for Mrs. Doe
          nullable: false
          description: Free-form name of the task as entered by the user.
        due_at:
          type: string
          format: date-time
          example: '2023-01-31T22:00:00.000Z'
          nullable: true
          description: When the task is due.
        assigned_to_user:
          $ref: '#/components/schemas/Person'
          nullable: true
          description: Person to whom the task is assigned.
        assigned_to_group:
          $ref: '#/components/schemas/NamedEntity'
          nullable: true
          description: Group to which the task is assigned.
        custom_icon:
          type: string
          nullable: true
          description: Custom icon to be displayed for the task.
        initial_priority:
          $ref: '#/components/schemas/Priority'
          description: >-
            Reset the initial priority. if there are `escalation_dates` defined,
            then the `current_priority` may

            be immediately different from the `initial_priority`.
        status:
          $ref: '#/components/schemas/Status'
        details:
          type: string
          example: |-
            Check Blood Pressure and Heart Rate.
            Recent readings were out of range.
            If readings are out of range again, alert nursing staff.
          description: Free text entered by user to provide more detail.
        notify_at:
          type: string
          nullable: true
          format: date-time
          example: '2023-01-20T19:23:05.000Z'
          description: >-
            Time the assignee(s) should be notified. Assignee(s) will not be
            notified

            if blank.
        tags:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 25
          description: User-defined tags.
        contexts:
          type: array
          items:
            $ref: '#/components/schemas/TaskContext'
          description: Applicable contexts.
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/TaskExtension'
          description: Custom defined extensions
    TaskSource:
      type: integer
      oneOf:
        - title: Web
          const: 0
        - title: Client Family Portal
          const: 1
        - title: Mobile
          const: 2
        - title: External
          const: 3

    PaginatedSubTaskList:
      $reg: '#/components/schemas/PaginatedResults'
      properties:
        items:
          $ref: '#/components/schemas/SubTask'
    PaginatedTaskList:
      $reg: '#/components/schemas/PaginatedResults'
      properties:
        items:
          $ref: '#/components/schemas/Task'
    ErrorResponse:
      title: Error response
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
            required:
              - message
      required:
        - message
        - request_id

    PaginatedResults:
      type: object
      properties:
        items:
          type: array
          description: Resource collection
          items:
            type: object
        page:
          type: integer
          description: Current page number
          minimum: 1
          example: 1
        page_size:
          type: integer
          description: Number of items per page requested
          minimum: 1
          example: 10
        count:
          type: integer
          description: Count of items returned
          minimum: 0
          example: 10
        previous:
          type: string
          description: Link to previous page
          nullable: true
        next:
          type: string
          description: Link to next page
          nullable: true
        total_count:
          type: integer
          description: >-
            Total number of items available. Only returned if
            `include_total_pages` is

            set to true. Not supported on all resources.
        total_pages:
          type: integer
          description: >-
            Total number of pages. Only returned if `include_total_pages` is set
            to

            true. Not supported on all resources.
      x-example:
        examples-1:
          items: []
          page: 1
          count: 10
      required:
        - items
        - page
        - count
  

  responses:
    400BadRequest:
      description: Bad request
    401Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers: {}
    403Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers: {}
    404NotFound:
      description: Entity not found
    ApiStatus:
      description: Standard API Status response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
          examples:
            example-1:
              value:
                appVersion: 0.1.50594
                db:
                  connection: ok
                  date_executed: '2022-06-29T13:59:46.978527'
                  version: 8:152007c4ea5b9f0c0f7617c094780db5
                gitRef: 8996ce828ac3aab2103d8625a9c7a94accc70c21
                version: 0.1.50594 - 8996ce828ac3aab2103d8625a9c7a94accc70c21