swagger: '2.0'
info:
  version: 1.0.0
  title: AlayaCare External Files API
  description: |
    **Remarks:**
    Please note that the difference between a `Directory` and a `File` resource is that `Directory` requires a trailing `/` at the end of the path
    **AlayaCare IDs:**
    The following terms are used to reference IDs that identify resources in AlayaCare:
    - id

host: homecare.alayacare.com
basePath: /ext/api/v2/files
schemes:
 - https

paths:
  /client/{id}/{path}/:
    parameters:
      - name: id
        in: path
        required: true
        type: integer
      - name: path
        in: path
        required: true
        type: string
    get:
      tags: [Directory]
      summary: Get the content of a directory
      produces:
        - application/json
      responses:
        200:
          description: Content of a directory
          schema:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                  description: Path to file or directory
                  example: 'client/1002/report.pdf'
                last_modified:
                  type: string
                  format: 'date-time'
                  description: |
                    When the file or directory was last modified (ISO 8601)
                  example: '2017-07-08T13:30:00+00:00'
                size:
                  type: integer
                  description: Size of the file in bytes
          examples:
            application/json:
              [
               {
                 "last_modified": "2016-01-14T18:58:44+00:00",
                 "name": "client/1002/Physician Order/",
                 "size": 0
               },
               {
                 "last_modified": "2016-08-24T18:45:29+00:00",
                 "name": "client/1002/picture.jpg",
                 "size": 5499
               }
              ]
        404:
          description: Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'
    post:
      tags: [Directory]
      summary: Create a new directory
      description: |
        Create a directory at the `path` location, along with the underlying folder structure if it doesn't exist already
      produces:
        - application/json
      responses:
        201:
          description: Directory created
          schema:
            type: object
            properties:
              code:
                type: integer
                description: http status response code
                example: 201
              name:
                type: string
                description: Url to the directory created
                example: client/1002/new directory/
        400:
          description: |
            Bad Request: Can't post a file when creating a directory
          schema:
            type: object
            properties:
              code:
                type: integer
                description: http status response code
                example: 400
              message:
                type: string
                description: Detail on the error
                example: Can't post a file when creating a folder
    put:
      tags: [Directory]
      summary: Copy or move a directory
      description: |
        Copy or move a directory and create the underlying folder structure of the new location if it doesn't already exist.

        Whether the directory is moved or simply copied is defined by a `move` header that can be set to `true` (if the header is not provided, its value defaults to `false` and the `source` directory will remain).

        The url of the `PUT` request is the path to the destination location.
        i.e., if we have the following directories:
        - `dir1/child1/`
        - `dir2/child2/`

        and we want to copy `child1/` inside `dir2/` (the goal is to have `dir2/child1/`), the `path` in the url of the `PUT` request has to be: `dir2/child1/`. The `source` header of the request has to be `dir1/child1/`.

        A 400 response will be returned for a request to move a folder in one of its own subfolders.
      parameters:
        - name: source
          in: header
          type: string
          description: |
            path of the directory to copy or move (source directory)
        - name: move
          in: header
          type: boolean
          description: |
            specifies if the directory is moved or copied (defaults to false, i.e. copied)
      produces:
        - application/json
      responses:
        200:
          description: Directory copied or moved
          schema:
            type: object
            properties:
              code:
                type: integer
                description: http status response code
                example: 200
              name:
                type: string
                description: |
                  Url to the new location of the copied or moved directory
                example: client/1002/new directory copied/
        400:
          description: |
            Bad Request: Missing `source` header
          schema:
            type: object
            properties:
              message:
                type: object
                properties:
                  source:
                    type: string
                    description: Detail on the error
                    example:
                      The request cannot be processed without the source variable
        404:
          description: Source Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'
    delete:
      tags: [Directory]
      summary: Delete a directory
      description: |
        Delete a directory and its content. A `forced-delete` header set to `true` must be provided for the directory to be deleted. Otherwise, the reponse will be a confirmation message with a status `400`.
      parameters:
        - name: forced-delete
          in: header
          required: true
          type: boolean
          description: required header to delete a directory
      produces:
        - application/json
      responses:
        204:
          description: Directory deleted
        400:
          description: |
            Bad Request: Missing `forced-delete` header
          schema:
            type: object
            properties:
              code:
                type: integer
                description: http status response code
                example: 400
              message:
                type: string
                description: Detailon the error
                example:
                  This action will delete the folder and its content. Please confirm
        404:
          description: Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'

  /client/{id}/{path}:
    parameters:
      - name: id
        in: path
        required: true
        type: integer
      - name: path
        in: path
        required: true
        type: string
    get:
      tags: [File]
      summary: Get the content of a file (download a file)
      responses:
        200:
          description: Content of the file
        400:
          description: File not found
          schema:
            type: object
            properties:
              code:
                type: integer
                description: http status response code
                example: 404
              message:
                type: string
                description: Detail on the error
                example:
                  File "file.pdf" to delete not found
    post:
      tags: [File]
      summary: Upload a file
      description: |
        Upload a file at the `path` location and create the underlying folder structure if it doesn't exist already.

        `path` **cannot** end with `/` in order to create a file based on the request body.

        **Note:** This consumes `multipart form-data` as defined in the parameters below.
        
        **Note on content attributes:** When specifying the key that references the file, the key must be set as `file` in the request in order for the API to find the file.
        
      parameters:
        - name: file
          in: formData
          type: file
          description: The file to upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      responses:
        201:
          description: File uploaded
          schema:
            type: object
            properties:
              code:
                type: integer
                description: http status response code
                example: 201
              name:
                type: string
                description: Url to the file uploaded
                example: client/1002/file.pdf
        400:
          description: |
            Bad Request: File missing
          schema:
            type: object
            properties:
              code:
                type: integer
                description: http status response code
                example: 400
              message:
                type: string
                description: Detail on the error
                example: Could not find a file to upload
    put:
      tags: [File]
      summary: Copy or move a file
      description: |
        Copy or move a directory and create the underlying folder structure of the new location if it doesn't already exist.

        Whether the directory is moved or simply copied is defined by a `move` header that can be set to `true` (if the header is not provided, its value defaults to `false` and the `source` directory will remain).

        The url of the `PUT` request is the path to the destination location.
        i.e., if we have the following directories:
        - `dir1/child1/`
        - `dir2/child2/`

        and we want to copy `child1/` inside `dir2/` (the goal is to have `dir2/child1/`), the `path` in the url of the `PUT` request has to be: `dir2/child1/`. The `source` header of the request has to be `dir1/child1/`.

        A 400 response will be returned for a request to move a folder in one of its own subfolders.
      produces:
        - application/json
      responses:
        200:
          description: File copied or moved
          schema:
            type: object
            properties:
              code:
                type: integer
                description: http status response
                example: 200
              name:
                type: integer
                description: |
                  Url to the new location of the copied or moved file
                example: client/1002/new_location.txt
        400:
          description: |
            Bad Request: Missing `source` header
          schema:
            type: object
            properties:
              message:
                type: object
                properties:
                  source:
                    type: string
                    description: Detail on the error
                    example:
                      The request cannot be processed without the source variable
        404:
          description: Source file not found
          schema:
            $ref: '#/definitions/FileNotFoundSchema'
    delete:
      tags: [File]
      summary: Delete a file
      description:
        Delete a file. As opposed to deleting a directory, the forced-delete header is not required to delete a single file.
      produces:
        - application/json
      responses:
        204:
          description: File deleted
        404:
          description: File not found
          schema:
            $ref: '#/definitions/FileNotFoundSchema'

definitions:
  DirectoryNotFoundSchema:
    type: object
    properties:
      code:
        type: integer
        description: http status response code
        example: 404
      message:
        type: string
        description: detail on the error
        example: Folder "Ghost Directory" not found
  FileNotFoundSchema:
    type: object
    properties:
      code:
        type: integer
        description: http status response code
        example: 404
      message:
        type: string
        description: Detail on the error
        example:
          File "file.pdf" not found