swagger: '2.0'
info:
  title: External Employee API
  version: 1.0.8
  description: |
    **AlayaCare IDs:**
    The following terms are used to reference IDs that identify resources in AlayaCare:
    - employee_id
    - contact_id

    **External IDs**
    The following terms are used to reference IDs that identify resources systems external to AlayaCare:
    - external_employee_id
    - external_contact_id

    External IDs are required to be unique.
    No other assumptions are made regarding their format they are treated as strings.

    **Remarks**
    - All dates must be in ISO 8601 format with timezone data
    
    **Employee Status Considerations**
    - When updating the `status` of an employee to `terminated`, it is possible to add a `comment`. This `comment` is saved as an Employee Note with a `note_type` of type `terminated`.
    - Updating the `status` of an employee will have repercussions in the AlayaCare application. Please refer to this link for more information: 
      https://alayacare.zendesk.com/hc/en-us/articles/360020774691

host: homecare.alayacare.ca
basePath: /ext/api/v2/employees
securityDefinitions:
  basic_auth:
    type: basic
    description: Basic HTTP auth over https
schemes:
- https
consumes:
- application/json
produces:
- application/json

paths:
  /note_types:
    parameters:
      - name: filter
        description: Substring search on note types
        in: query
        type: string
    get:
      tags: [Note Types]
      summary: A list of employee note types
      responses:
        200:
          description: A list of employee note types
          schema:
            $ref: '#/definitions/NoteTypesList'
        401:
          $ref: '#/responses/ErrorResponseAuthentication'
          
  /branches:
      get:
        tags: [Branches]
        parameters:
          - $ref: '#/parameters/page'
          - $ref: '#/parameters/count'
        summary: |
          Get a list of available branches
        responses:
          '200':
            description: A list of branches
            schema:
              $ref: '#/definitions/BranchList'
          "401":
            $ref: '#/responses/ErrorResponseAuthentication'

  /departments:
    get:
      tags: [Departments]
      summary: |
        Get a list of available departments
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
        - $ref: '#/parameters/branch_id'
      responses:
        "200":
          description: A list of departments
          schema:
            $ref: '#/definitions/DepartmentList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /groups:
    get:
      tags: [Groups]
      summary: |
        Get a list of available groups
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
        - $ref: '#/parameters/branch_id'
      responses:
        "200":
          description: A list of groups
          schema:
            $ref: '#/definitions/GroupList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /designations:
    get:
      tags: [Designations]
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
      summary: |
        Get a list of available employee designations
      responses:
        "200":
          description: A list of designations
          schema:
            $ref: '#/definitions/DesignationList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /roles:
    get:
      tags: [Roles]
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
      summary: |
        Get a list of available employee roles
      responses:
        "200":
          description: A list of roles
          schema:
            $ref: '#/definitions/RoleList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /employee_notes/{employee_id}:
    parameters:
    - name: employee_id
      description: AlayaCare ID of the employee
      in: path
      type: string
      required: true
    get:
      tags: [Employee Notes]
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
        - name: note_type
          description: Filter on the employee note type category
          in: query
          type: string
        - name: created_at
          description: |
              Filter employee notes by creation date greater or equal than specified value.
              Expected format is ISO 8601.
              Ex: `2018-02-03T08:00:00-05:00`
          type: string
          format: 'date-time'
          in: query
      summary: Get a list of employee notes by the employee's AlayaCare ID
      responses:
        "200":
          description: A list of employee notes
          schema:
            $ref: '#/definitions/EmployeeNotesDetailsList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
    post:
      summary: Create an employee note by the employee's AlayaCare ID
      tags: [Employee Notes]
      description: |
        * A subset of HTML is accepted in the content. Supported HTML is based upon the following library: https://bleach.readthedocs.io/en/latest/
        * Note `status` is optional, if omitted the employee note will be created with status set to `Active`.
      parameters:
      - name: body
        description: Employee note data in JSON format
        in: body
        required: true
        schema:
          $ref: '#/definitions/EmployeeNotesCreate'
      responses:
        201:
          description: Employee note created successfully
          schema:
            $ref: '#/definitions/EmployeeNotesDetails'
        401:
          $ref: '#/responses/ErrorResponseAuthentication'
        400:
          $ref: '#/responses/ErrorResponseCreateNoteInvalidRequest'
        404:
          $ref: '#/responses/ErrorResponseEmployeeNotFound'
  
  /employee_notes/by_id/{external_employee_id}:
    parameters:
    - name: external_employee_id
      description: External ID of the employee
      in: path
      type: string
      required: true
    get:
      tags: [Employee Notes]
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
        - name: note_type
          description: Filter on the employee note type category
          in: query
          type: string
        - name: created_at
          description: |
              Filter employee notes by creation date greater or equal than specified value.
              Expected format is ISO 8601.
              Ex: `2018-02-03T08:00:00-05:00`
          type: string
          format: 'date-time'
          in: query
      summary: Get a list of employee notes by the employee's external ID
      responses:
        "200":
          description: A list of employee notes
          schema:
            $ref: '#/definitions/EmployeeNotesDetailsList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
    post:
      summary: Create an employee note by the employee's external ID
      tags: [Employee Notes]
      description: |
        * A subset of HTML is accepted in the content. Supported HTML is based upon the following library: https://bleach.readthedocs.io/en/latest/
        * Note `status` is optional, if omitted the employee note will be created with status set to `Active`.
      parameters:
      - name: body
        description: Employee note data in JSON format
        in: body
        required: true
        schema:
          $ref: '#/definitions/EmployeeNotesCreate'
      responses:
        201:
          description: Employee note created successfully
          schema:
            $ref: '#/definitions/EmployeeNotesDetails'
        401:
          $ref: '#/responses/ErrorResponseAuthentication'
        400:
          $ref: '#/responses/ErrorResponseCreateNoteInvalidRequest'
        404:
          $ref: '#/responses/ErrorResponseEmployeeNotFound'

  /employment_types:
    get:
      tags: [Employment Types]
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
      summary: Get a list of employment types
      responses:
        "200":
          description: A list of employment types
          schema:
            $ref: '#/definitions/EmploymentTypeDetailsList'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /profile/employee:
    parameters:
    - $ref: '#/parameters/page'
    - $ref: '#/parameters/count'
    get:
      tags:
      - Profile
      summary: Get a list of employee profile attributes
      responses:
        '200':
          description: A list of profile attributes
          schema:
            $ref: '#/definitions/ProfileAttributeList'
        '401':
          $ref: '#/responses/ErrorResponseAuthentication'

  /profile/employee_contact:
    get:
      tags: [Profile]
      parameters:
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/count'
      summary: Get a list of employee contact profile attributes
      responses:
        '200':
          description: A list of profile attributes
          schema:
            $ref: '#/definitions/ProfileAttributeList'
        '401':
          $ref: '#/responses/ErrorResponseAuthentication'


  /employees:
    get:
      tags: [Employees]
      summary: |
        Get a list of employees.
      parameters:
        - $ref: '#/parameters/page'
        - $ref: '#/parameters/count'
        - $ref: '#/parameters/branch'
        - $ref: '#/parameters/status'
        - name: filter
          in: query
          description: Substring search on profile attributes
          type: string
        - name: group
          in: query
          description: Filter by group ID, one or more using **OR**
          type: array
          items:
            type: integer
          collectionFormat: multi
        - name: department
          in: query
          description: |
            Filter by department ID. For available departments
            see resource `/departments`
          type: integer
        - name: designation
          in: query
          description: |
            Filter by designation. For available designations
            see resource `/designations`
          type: string
      responses:
        "200":
          description: A list of employees
          schema:
            $ref: "#/definitions/EmployeeList"
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'
    post:
      tags: [Employees]
      summary: |
        Create an employee.
      description: |
        - `branch_id` is optional, if omitted employee will be created in the default branch.
        - `status` is optional, if omitted employee will be created with an `active` status.
        - `branch_id` and `status` can only be set at creation.
        - Only one of `profile_id` or a `demographics` object can be specified.
        - Adding a `comment` when creating an employee with a `status` set to `terminated` is not supported by this endpoint. Any `comment` sent will be ignored.
      parameters:
      - name: body
        description: Employee definition in JSON format
        in: body
        required: true
        schema:
          $ref: "#/definitions/EmployeeCreate"
      responses:
        "201":
          $ref: '#/responses/SuccessResponseEmployeeCreate'
        "409":
          description: Conflict
          examples:
            application/json:
              {
                  'code': 409,
                  'message': 'Employee already exists with external ID: external_id_3'
              }
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 400
              message: 'Field first_name is required in demographics'
        "401":
          $ref: '#/responses/ErrorResponseAuthentication'

  /employees/{employee_id}:
    parameters:
    - name: employee_id
      description: AlayaCare ID of the employee
      in: path
      type: string
      required: true
    get:
      tags: [Employees]
      summary: Get employee details using its AlayaCare ID
      responses:
        "200":
          description: Employee details
          schema:
            $ref: "#/definitions/EmployeeDetails"
        "404":
          $ref: '#/responses/ErrorResponseEmployeeNotFound'

    put:
      tags: [Employees]
      summary: Modify employee details using its AlayaCare ID
      description: |
        * Changing the `branch_id` of an employee is not supported by this API. Any `branch_id` sent will be ignored.
        * Changing the `status` of an employee is not supported by this endpoint. Any `status` sent will be ignored.
      parameters:
      - name: body
        description: Object with fields to be updated
        in: body
        schema:
          $ref: "#/definitions/EmployeeUpdate"
      responses:
        "200":
          $ref: '#/responses/SuccessResponseEmployeeUpdate'
        "404":
          $ref: '#/responses/ErrorResponseEmployeeNotFound'

  /employees/by_id/{external_employee_id}:
    parameters:
    - name: external_employee_id
      description: External ID of the employee to retrieve
      in: path
      type: string
      required: true
    get:
      tags: [Employees]
      summary: |
        Get employee using an external ID provided on creation
      responses:
        "200":
          description: Employee details
          schema:
            $ref: "#/definitions/EmployeeDetails"
        "404":
          $ref: '#/responses/ErrorResponseEmployeeNotFound'

    put:
      tags: [Employees]
      summary: |
        Modify employee details using an external ID provided on creation
      description: |
        * Changing the `branch_id` of an employee is not supported by this API. Any `branch_id` sent will be ignored.
        * Changing the `status` of an employee is not supported by this endpoint. Any `status` sent will be ignored.
      parameters:
      - name: body
        description: Object with fields to be updated
        in: body
        schema:
          $ref: "#/definitions/EmployeeUpdate"
      responses:
        "200":
          $ref: '#/responses/SuccessResponseEmployeeUpdate'
        "404":
          $ref: '#/responses/ErrorResponseEmployeeNotFound'
          
          
  /employees/{employee_id}/status:
    parameters:
    - name: employee_id
      description: AlayaCare ID of the employee
      in: path
      type: string
      required: true
    put:
      tags: [Employees]
      summary: |
        Update employee status using its AlayaCare ID
      description: |
        * A `comment` can only be set when updating an employee status to `terminated`.
      parameters:
      - name: body
        description: Object with status to be updated
        in: body
        schema:
          $ref: '#/definitions/EmployeeStatusUpdate'
      responses:
        "200":
          $ref: '#/responses/SuccessResponseEmployeeUpdate'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 400
              message: 'Field status is required'
        "404":
          $ref: '#/responses/ErrorResponseEmployeeNotFound'      
      

  /employees/by_id/{external_employee_id}/status:
    parameters:
    - name: external_employee_id
      description: External ID of the employee
      in: path
      type: string
      required: true
    put:
      tags: [Employees]
      summary: |
        Update employee status using an external ID provided on creation
      description: |
        * A `comment` can only be set when updating an employee status to `terminated`.
      parameters:
      - name: body
        description: Object with status to be updated
        in: body
        schema:
          $ref: '#/definitions/EmployeeStatusUpdate'
      responses:
        "200":
          $ref: '#/responses/SuccessResponseEmployeeUpdate'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              code: 400
              message: 'Field status is required'
        "404":
          $ref: '#/responses/ErrorResponseEmployeeNotFound' 

  /employees/{employee_id}/picture:
    parameters:
    - name: employee_id
      description: AlayaCare ID of the employee
      in: path
      type: string
      required: true
    get:
      tags: [Employees]
      summary: Get employee profile picture pre-authorized URL.
      parameters:
        - $ref: '#/parameters/ttl'
      responses:
        "200":
          description: Profile picture URL.
          schema:
            $ref: "#/definitions/ProfilePictureUrl"
        "404":
          $ref: '#/responses/ErrorResponseEmployeeNotFound'

  /employees/by_id/{external_employee_id}/picture:
    parameters:
    - name: external_employee_id
      description: External ID of the employee
      in: path
      type: string
      required: true
    get:
      tags: [Employees]
      summary: Get employee profile picture pre-authorized URL.
      parameters:
        - $ref: '#/parameters/ttl'
      responses:
        "200":
          description: Profile picture URL.
          schema:
            $ref: "#/definitions/ProfilePictureUrl"
        "404":
          $ref: '#/responses/ErrorResponseEmployeeNotFound'

  /contacts:
    post:
      tags: [Employee Contacts]
      summary: Create employee contact
      description: |
        - Only one of `employee_id` or `external_employee_id` can be specified
      parameters:
      - name: body
        description: Employee contact data in JSON format
        in: body
        required: true
        schema:
          $ref: '#/definitions/EmployeeContactCreate'
      responses:
        '201':
          $ref: '#/responses/SuccessResponseEmployeeContactCreate'
        '400':
          $ref: '#/responses/ErrorResponseEmployeeContactInvalidRequest'
        '401':
          $ref: '#/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/responses/ErrorResponseEmployeeNotFound'

  /contacts/{contact_id}:
    parameters:
    - name: contact_id
      description: AlayaCare ID of the employee contact
      in: path
      type: string
      required: true
    get:
      tags: [Employee Contacts]
      summary: Get employee contact details using AlayaCare ID
      description: |
        A contact may be shared by more than one employee or client. Some
        properties of a contact are tied to the specific relation between
        a given employee and their contact. These properties include:
          - `contact_type`
          - `relationship`

        For backward compatibility, the employee ID parameters can be
        omitted, but this operation will only succeed if the contact is
        not shared, therefore ensuring the employee ID is unambiguous.
        
         The relationship properties will be specified in the employees array of the response schema.
        
      parameters:
      - name: employee_id
        in: query
        type: integer
        required: false
      - name: external_employee_id
        in: query
        type: string
        required: false
      responses:
        '200':
          description: Contact details
          schema:
            $ref: '#/definitions/EmployeeContactDetails'
        '400':
          $ref: '#/responses/ErrorResponseEmployeeContactInvalidRequest'
        '401':
          $ref: '#/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/responses/ErrorResponseEmployeeContactNotFound'
    put:
      tags: [Employee Contacts]
      summary: Update employee contact details using AlayaCare ID
      description: |
        A contact may be shared by more than one employee or client. Some
        properties of a contact are tied to the specific relation between
        a given employee and their contact. These properties include:
          - `contact_type`
          - `relationship`

        For backward compatibility, the employee ID attribute can be omitted
        from the payload, but the operation will only succeed if the contact
        is not shared, therefore ensuring the employee ID is unambiguos.
      parameters:
      - name: body
        description: Employee contact data in JSON format
        in: body
        required: true
        schema:
          $ref: '#/definitions/EmployeeContactUpdate'
      responses:
        '200':
          $ref: '#/responses/SuccessResponseEmployeeContactUpdate'
        '400':
          $ref: '#/responses/ErrorResponseEmployeeContactInvalidRequest'
        '401':
          $ref: '#/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/responses/ErrorResponseEmployeeContactNotFound'

  /contacts/by_id/{external_contact_id}:
    parameters:
    - name: external_contact_id
      description: External ID of the employee contact
      in: path
      type: string
      required: true
    get:
      tags: [Employee Contacts]
      summary: Get employee contact details using external ID
      description: |
        A contact may be shared by more than one employee or client. Some
        properties of a contact are tied to the specific relation between
        a given employee and their contact. These properties include:
          - `contact_type`
          - `relationship`

        For backward compatibility, the employee ID attribute can be omitted
        from the payload, but the operation will only succeed if the contact
        is not shared, therefore ensuring the employee ID is unambiguos.
      responses:
        '200':
          description: Contact details
          schema:
            $ref: '#/definitions/EmployeeContactDetails'
        '400':
          $ref: '#/responses/ErrorResponseEmployeeContactInvalidRequest'
        '401':
          $ref: '#/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/responses/ErrorResponseEmployeeContactNotFound'
    put:
      tags: [Employee Contacts]
      summary: Update employee contact details using external ID
      description: |
        A contact may be shared by more than one employee or client. Some
        properties of a contact are tied to the specific relation between
        a given employee and their contact. These properties include:
          - `contact_type`
          - `relationship`

        For backward compatibility, the employee ID attribute can be omitted
        from the payload, but the operation will only succeed if the contact
        is not shared, therefore ensuring the employee ID is unambiguos.
      parameters:
      - name: body
        description: Employee contact data in JSON format
        in: body
        required: true
        schema:
          $ref: '#/definitions/EmployeeContactUpdate'
      responses:
        '200':
          $ref: '#/responses/SuccessResponseEmployeeContactUpdate'
        '400':
          $ref: '#/responses/ErrorResponseEmployeeContactInvalidRequest'
        '401':
          $ref: '#/responses/ErrorResponseAuthentication'
        '404':
          $ref: '#/responses/ErrorResponseEmployeeContactNotFound'

  /employees/{employee_id}/attachments/{directory_path}/:
    parameters:
      - name: employee_id
        in: path
        required: true
        type: integer
        description: |
          AlayaCare internal ID of the employee
      - name: directory_path
        in: path
        required: true
        type: string
        description: |
          Path where the directory lives
    get:
      tags: [Attachment Directory]
      summary: Get the content of a directory
      produces:
        - application/json
      responses:
        200:
          $ref: '#/responses/SuccessResponseDirectoryContent'
        404:
          description: Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'
    post:
      tags: [Attachment Directory]
      summary: Create a new directory
      description: |
        Create a directory at the `path` location, along with the underlying directory structure if it doesn't exist already.
        The path location represents the destination of the directory.
      produces:
        - application/json
      responses:
        201:
          $ref: '#/responses/SuccessResponseAttachmentDirectoryCreate'
        400:
          $ref: '#/responses/ErrorResponseDirectoryInvalidRequest'
        404:
          $ref: '#/responses/ErrorResponseEmployeeNotFound'
        409:
          $ref: '#/responses/ErrorResponseDirectoryAlreadyExists'
    put:
      tags: [Attachment Directory]
      summary: Copy, move or rename directory
      description: |
        Copy, move or rename a directory and create the underlying directory structure of the new location if it doesn't already exist.
        
        The url of the `PUT` request is the path to the source location.
        
        The payload must indicate whether the intention of the action is to copy, move or rename the file.
        
        If a directory is being copied or moved, the destination is mandatory in the payload.

        The url of the `PUT` request is the path to the source location.
        i.e., if we have the following directories:
        - `dir1/child1/`
        - `dir2/child2/`
        
        and we want to copy `child1/` inside `dir2/` (the goal is to have `dir2/child1/`), the action to copy must be specified in the payload and must be: `dir2/child1/`. The `source` URL request has to be `dir1/child1/`.
        
      parameters:
        - name: body
          description: Object with fields to be updated
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachmentAction'
      responses:
        200:
            $ref: '#/responses/SuccessResponseAttachmentDirectoryUpdate'
        400:
            $ref: '#/responses/ErrorResponseDirectoryStructureInvalidRequest'
        404:
          description: Source Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'
        409:
            $ref: '#/responses/ErrorResponseDirectoryAlreadyExists'
    delete:
      tags: [Attachment Directory]
      summary: Delete a directory
      description: |
        Delete a directory which does not contain underlying directory or files.
        
        If the directory contains underlying directories or files, a `forced-delete` field set to `true` must be provided in the request payload for the directory to be deleted. 
        .
      parameters:
        - name: forced-delete
          in: body
          required: false
          description: required to delete a directory
          schema:
            $ref: '#/definitions/DeleteDirectoryActionSchema'
          
      produces:
        - application/json
      responses:
        204:
          description: Directory deleted
        400:
          $ref: '#/responses/ErrorResponseHeaderMissing'
        404:
          description: Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'

            
  /employees/by_id/{external_employee_id}/attachments/{directory_path}/:
    parameters:
      - name: external_employee_id
        in: path
        required: true
        type: string
      - name: directory_path
        in: path
        required: true
        type: string
    get:
      tags: [Attachment Directory]
      summary: Get the content of a directory
      produces:
        - application/json
      responses:
        200:
          $ref: '#/responses/SuccessResponseDirectoryContent'
        404:
          description: Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'
            
    post:
      tags: [Attachment Directory]
      summary: Create a new directory
      description: |
        Create a directory at the `path` location, along with the underlying directory structure if it doesn't exist already
      produces:
        - application/json
      responses:
        201:
          $ref: '#/responses/SuccessResponseAttachmentDirectoryCreate'
        400:
          $ref: '#/responses/ErrorResponseDirectoryInvalidRequest'
        404:
          $ref: '#/responses/ErrorResponseEmployeeNotFound'
        409:
          $ref: '#/responses/ErrorResponseDirectoryAlreadyExists'      
        
    put:
      tags: [Attachment Directory]
      summary: Copy, move or rename a directory
      description: |
        Copy, move or rename a directory and create the underlying directory structure of the new location if it doesn't already exist.
        
        The url of the `PUT` request is the path to the source location.
        
        The payload must indicate whether the intention of the action is to copy, move or rename the file.
        
        If a directory is being copied or moved, the destination is mandatory in the payload.

        The url of the `PUT` request is the path to the source location.
        i.e., if we have the following directories:
        - `dir1/child1/`
        - `dir2/child2/`
        
        and we want to copy `child1/` inside `dir2/` (the goal is to have `dir2/child1/`), the action to copy must be specified in the payload and must be: `dir2/child1/`. The `source` URL request has to be `dir1/child1/`.

      parameters:
        - name: body
          description: Object with fields to be updated
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachmentAction'
      responses:
        200:
            $ref: '#/responses/SuccessResponseAttachmentDirectoryUpdate'
        400:
            $ref: '#/responses/ErrorResponseDirectoryStructureInvalidRequest'
        404:
          description: Source Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'
        409:
          $ref: '#/responses/ErrorResponseDirectoryAlreadyExists'
    delete:
      tags: [Attachment Directory]
      summary: Delete a directory
      description: |
        Delete a directory which does not contain underlying directory or files.
        
        If the directory contains underlying directories or files, a `forced-delete` field set to `true` must be provided in the request payload for the directory to be deleted. 
        
      parameters:
        - name: forced-delete
          in: body
          required: false
          description: required to delete a directory
          schema:
            $ref: '#/definitions/DeleteDirectoryActionSchema'
      produces:
        - application/json
      responses:
        204:
          description: Directory deleted
        400:
          $ref: '#/responses/ErrorResponseHeaderMissing'
        404:
          description: Directory not found
          schema:
            $ref: '#/definitions/DirectoryNotFoundSchema'

  /employees/{employee_id}/attachments/{file_path}:
    parameters:
      - name: employee_id
        in: path
        required: true
        type: integer
      - name: file_path
        in: path
        required: true
        type: string
    get:
      tags: [Attachment File]
      summary: Get the content of a file (download a file)
      responses:
        200:
          description: Content of the file
        400:
          description: File not found
          schema:
            $ref: '#/definitions/FileNotFoundSchema'
    post:
      tags: [Attachment File]
      summary: Upload a file
      description: |
        Upload a file at the `path` location and create the underlying directory structure if it doesn't exist already.

        `path` **cannot** end with `/` in order to create a file based on the request body.

        **Note:** This consumes `multipart form-data` as defined in the parameters below. 
        
        **Note on content attributes:** When specifying the key that references the file, the key must be set as `file` in the request in order for the API to find the file and the file must be attached as well.
        
      parameters:
        - name: file
          in: formData
          type: file
          description: The file to upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      responses:
        201:
          $ref: '#/responses/SuccessResponseFileUpload'
        400:
          $ref: '#/responses/ErrorResponseFileMissing'
        409:
          $ref: '#/responses/ErrorResponseFileAlreadyExists'
        404:
          $ref: '#/responses/ErrorResponseEmployeeNotFound'
                
    put:
      tags: [Attachment File]
      summary: Copy, move or rename a file
      description: |
        Copy, move or rename a file.

        The url of the `PUT` request is the path to the source location.
        
        The payload must indicate whether the intention of the action is to copy, move or rename the file.
        
        If a file is being copied or moved, the destination is mandatory in the payload.

        i.e., if we have the following directories:
        - `dir1/child1/file1.txt`
        - `dir2/child2/file2.txt`
        
        and we want to copy `file1.txt` inside `dir2/child2/` (the goal is to have `dir2/child2/file1.txt`), the action to copy must be specified in the payload and must be: `dir2/child2/file1.txt`. The `source` URL request has to be `dir1/child1/file1.txt`.
        
      parameters:
        - name: body
          description: Object with fields to be updated
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachmentAction'
      produces:
        - application/json
      responses:
        200:
          $ref: '#/responses/SuccessResponseAttachmentFileUpdate'
        400:
          $ref: '#/responses/ErrorResponseInvalidFileName'
        404:
          description: Source file not found
          schema:
            $ref: '#/definitions/FileNotFoundSchema'
        409:
          $ref: '#/responses/ErrorResponseFileAlreadyExists'
    delete:
      tags: [Attachment File]
      summary: Delete a file
      description:
        Delete a file.
      produces:
        - application/json
      responses:
        204:
          description: File deleted
        404:
          description: File not found
          schema:
            $ref: '#/definitions/FileNotFoundSchema'
            
  /employees/by_id/{external_employee_id}/attachments/{file_path}:
    parameters:
      - name: external_employee_id
        in: path
        required: true
        type: string
      - name: file_path
        in: path
        required: true
        type: string
    get:
      tags: [Attachment File]
      summary: Get the content of a file (download a file)
      responses:
        200:
          description: Content of the file
        400:
          description: File not found
          schema:
            $ref: '#/definitions/FileNotFoundSchema'
    post:
      tags: [Attachment File]
      summary: Upload a file
      description: |
        Upload a file at the `path` location and create the underlying directory structure if it doesn't exist already.

        `path` **cannot** end with `/` in order to create a file based on the request body.

        **Note:** This consumes `multipart form-data` as defined in the parameters below.
        
        **Note on content attributes:** When specifying the key that references the file, the key must be set as `file` in the request in order for the API to find the file and the file must be attached as well.
        
      parameters:
        - name: file
          in: formData
          type: file
          description: The file to upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      responses:
        201:
          $ref: '#/responses/SuccessResponseFileUpload'
        400:
          $ref: '#/responses/ErrorResponseFileMissing'
        409:
          $ref: '#/responses/ErrorResponseFileAlreadyExists'
        404:
          $ref: '#/responses/ErrorResponseEmployeeNotFound'
    put:
      tags: [Attachment File]
      summary: Copy, move or rename a file
      description: |
        Copy, move or rename a file.

        The url of the `PUT` request is the path to the source location.
        
        The payload must indicate whether the intention of the action is to copy, move or rename the file.
        
        If a file is being copied or moved, the destination is mandatory in the payload.

        i.e., if we have the following directories:
        - `dir1/child1/file1.txt`
        - `dir2/child2/file2.txt`
        
        and we want to copy `file1.txt` inside `dir2/child2/` (the goal is to have `dir2/child2/file1.txt`), the action to copy must be specified in the payload and must be: `dir2/child2/file1.txt`. The `source` URL request has to be `dir1/child1/file1.txt`.
        
      parameters:
        - name: body
          description: Object with fields to be updated
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachmentAction'
      produces:
        - application/json
      responses:
        200:
          $ref: '#/responses/SuccessResponseAttachmentFileUpdate'
        400:
          $ref: '#/responses/ErrorResponseInvalidFileName'
        404:
          description: Source file not found
          schema:
            $ref: '#/definitions/FileNotFoundSchema'
        409:
          $ref: '#/responses/ErrorResponseFileAlreadyExists' 
    delete:
      tags: [Attachment File]
      summary: Delete a file
      description:
        Delete a file.
      produces:
        - application/json
      responses:
        204:
          description: File deleted
        404:
          description: File not found
          schema:
            $ref: '#/definitions/FileNotFoundSchema'

parameters:
  page:
    description: Filter by page number.
    name: page
    default: 1
    in: query
    required: false
    type: integer
  count:
    description: Number of items per page.
    name: count
    default: 100
    in: query
    required: false
    type: integer
  branch:
    description: 'Filter by branch ID'
    name: branch
    in: query
    required: false
    type: integer
  branch_id:
    description: 'Filter by branch ID'
    name: branch_id
    in: query
    required: false
    type: integer
  status:
    description: 'Filter by employee status, one or more using **OR**'
    name: status
    in: query
    type: array
    items:
      type: string
      enum:
        - active
        - terminated
        - suspended
        - on_hold
        - pending
        - applicant
        - rejected
        - unknown
    collectionFormat: multi
  ttl:
    description: 'Pre-authorized URL time to live in seconds. `(default: 86400)`'
    name: ttl
    in: query
    type: integer
    required: false
    default: 86400

responses:

  SuccessResponseEmployeeCreate:
    description: Employee created successfuly
    schema:
      $ref: '#/definitions/SuccessResponse'
    examples:
      application/json:
        {
          "id": 1001,
          "external_id": "sor_employee_external_id_1"
        }

  SuccessResponseEmployeeUpdate:
    description: Employee updated successfuly
    schema:
      $ref: '#/definitions/SuccessResponse'
    examples:
      application/json:
        {
          "id": 1001,
          "external_id": "sor_employee_external_id_1"
        }

  SuccessResponseEmployeeContactCreate:
    description: Employee contact created successfuly
    schema:
      $ref: '#/definitions/SuccessResponse'
    examples:
      application/json:
        {
          "id": 1001,
          "external_id": "crm_employee_contact_external_id_1"
        }

  SuccessResponseEmployeeContactUpdate:
    description: Employee contact updated successfuly
    schema:
      $ref: '#/definitions/SuccessResponse'
    examples:
      application/json:
        {
          "id": 1001,
          "external_id": crm_employee_contact_external_id_1
        }
  
  SuccessResponseDirectoryContent:
    description: Content of a directory
    schema:
      type: array
      items:
        type: object
        properties:
            code:
              type: integer
              description: http status response code
              example: 200
            name:
              type: string
              description: Path to directory
              example: 'employee/1002/report.pdf'
            last_modified:
              type: string
              format: 'date-time'
              description: |
                When the directory was last modified (ISO 8601)
                example: '2020-07-08T13:30:00+00:00'
            size:
              type: integer
              description: Size of the file in bytes
    examples:
            application/json:
              {
                "employee_id": 1002,
                "employee_external_id": "ext_id",
                "entries": [
                  {
                    "last_modified": "2020-01-14T18:58:44+00:00",
                    "name": "Physician Order/",
                    "size": 0
                  },
                  {
                    "last_modified": "2020-01-14T18:58:44+00:00",
                    "name": "Physician Order/file.pdf",
                    "size": 123456
                  }
                ]
              }
              
  SuccessResponseAttachmentDirectoryCreate:
    description: Directory created
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 201
        name:
          type: string
          description: Url to the directory created
          example: /new_directory/
  
  SuccessResponseAttachmentDirectoryUpdate:
    description: Directory copied, moved or renamed
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 200
        name:
          type: string
          description: |
            Url to the new location of the copied or moved directory
          example: /new_directory_copied/
  
  SuccessResponseFileUpload:
    description: File uploaded
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 201
        name:
          type: string
          description: Url to the file uploaded
          example: Physician Order/file.pdf
          
  SuccessResponseAttachmentFileUpdate:
    description: File copied, moved or renamed
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 200
        name:
          type: string
          description: |
            Url to the new location of the copied or move file
          example: /new_location.txt
          
  ErrorResponseDirectoryInvalidRequest:
    description: Can't post a file when creating a directory
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 400
        message:
          type: string
          description: Detail on the error
          example: Can't post a file when creating a directory
          
  ErrorResponseDirectoryStructureInvalidRequest:
    description: Can't move a directory to one of its own sub-directories
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 400
        message:
          type: string
          description: Detail on the error
          example: Can't move a directory to one of its own sub-directories
          
  ErrorResponseDirectoryContainsContent:
    description: This directory contains an underlying directory or file. Confirmation to delete directory required.
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 409
        message:
          type: string
          description: Detail on the error
          example: Existing underlying directory or files. Directory cannot be deleted
          
  ErrorResponseHeaderMissing:
    description: |
      Missing `forced-delete` set to true in body.
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 400
        message:
          type: string
          description: Detail on the error
          example:
            This action will delete the directory and its content. Please confirm.
  
  ErrorResponseDirectoryAlreadyExists:
    description: Directory already exists.
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 409
        message:
          type: string
          description: Detail on the error
          example: Directory "Ghost Directory" already exists.
          
  ErrorResponseFileAlreadyExists:
    description: File already exists.
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 409
        message:
          type: string
          description: Detail on the error
          example: File "/path/file.txt" already exists
  
  ErrorResponseFileMissing:
    description: File missing
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 400
        message:
          type: string
          description: Detail on the error
          example: Could not find a file to upload
          
  ErrorResponseInvalidFileName:
    description: The file name contains unsupported characters
    schema:
      type: object
      properties:
        code:
          type: integer
          description: http status response code
          example: 400
        message:
          type: string
          description: Detail on the error
          example: Invalid file name

  ErrorResponseEmployeeContactInvalidRequest:
    description: Invalid request
    schema:
      $ref: '#/definitions/ErrorResponse'
    examples:
      application/json:
        {
          "code": 400,
          "message": "Only employee_id or external_employee_id can be specified"
        }

  ErrorResponseAuthentication:
    description: Authorization required
    schema:
      $ref: '#/definitions/ErrorResponse'
    examples:
      application/json:
        {
          "code": 401,
          "message": "Authorization required."
        }

  ErrorResponseEmployeeNotFound:
    description: Employee not found
    schema:
      $ref: '#/definitions/ErrorResponse'
    examples:
      application/json:
        {
          "code": 404,
          "message": "Employee not found."
        }

  ErrorResponseCategoryNotFound:
    description: Category not found
    schema:
      $ref: '#/definitions/ErrorResponse'
    examples:
      application/json:
        {
          "code": 404,
          "message": "Category not found."
        }

  ErrorResponseEmployeeContactNotFound:
    description: Employee contact not found
    schema:
      $ref: '#/definitions/ErrorResponse'
    examples:
      application/json:
        {
          "code": 404,
          "message": "Employee contact not found."
        }

  ErrorResponseCreateNoteInvalidRequest:
    description: Invalid data submitted for creation
    schema:
      $ref: '#/definitions/ErrorResponse'
    examples:
      application/json:
          code: 400,
          message: "Invalid note type"

definitions:

  ErrorResponse:
    description: Error response
    type: object
    properties:
      code:
        type: integer
        description: Response code
      message:
        type: string
        description: Detailed error message
    required:
    - code
    - message
    
  DirectoryNotFoundSchema:
    type: object
    properties:
      code:
        type: integer
        description: http status response code
        example: 404
      message:
        type: string
        description: Detail on the error
        example: Directory "Ghost Directory" not found
        
  DeleteDirectoryActionSchema:
    type: object
    properties:
      forced-delete:
          type: boolean
          description: required to delete a non-empty directory
          example: true
 
        
  FileNotFoundSchema:
    type: object
    properties:
      code:
        type: integer
        description: http status response code
        example: 404
      message:
        type: string
        description: Detail on the error
        example:
          File "/path/file.txt" not found

  SuccessResponse:
    description: Success response.
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare ID
      external_id:
        type: string
        description: External ID
        x-nullable: true
    required:
    - id
    - external_id

  Branch:
    description: AlayaCare branch.
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare branch ID
        example: 1
      name:
        type: string
        description: AlayaCare branch name
        example: Toronto branch
      profile:
        $ref: '#/definitions/BranchProfile'
    required:
    - id
    - name
    
  AttachmentAction:
    description: Attachment actions
    type: object
    properties:
      action: 
        type: string
        example: move
        enum:
          - move
          - copy
          - rename
      destination:
        type: string
        example: dir2/child1/
  
  BranchList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of branches
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Branch'

  Department:
    description: AlayaCare department.
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare department ID
        example: 1
      name:
        type: string
        description: AlayaCare department name
        example: Nursing
    required:
    - id
    - name

  DepartmentListItem:
    allOf:
    - $ref: '#/definitions/Department'
    description: AlayaCare department.
    type: object
    properties:
      branch:
        $ref: '#/definitions/BranchSummary'
    required:
    - id
    - name

  DepartmentList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of departments
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/DepartmentListItem'

  Group:
    description: AlayaCare group.
    type: object
    properties:
      id:
        type: integer
        description: AlayaCare group ID
        example: 1
      name:
        type: string
        description: AlayaCare group name
        example: Group 1
    required:
    - id
    - name

  GroupListItem:
    allOf:
      - $ref: '#/definitions/Group'
    description: AlayaCare group item.
    type: object
    properties:
      branch:
        $ref: '#/definitions/BranchSummary'

  GroupList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of groups
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/GroupListItem'

  Designation:
    description: AlayaCare designation.
    type: object
    properties:
      designation:
        type: string
        description: AlayaCare designation
        example: RN
    required:
    - designation

  DesignationList:
    allOf:
     - $ref: "#/definitions/PaginatedList"
    description: Paginated list of designations
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Designation'

  Role:
    description: AlayaCare role
    type: object
    properties:
      id:
        type: integer
        description: ID of the role
        example: 1
      name:
        type: string
        description: Name of the role
        example: 'csc'
      description:
        type: string
        description: Name of the role in the web application
        example: 'Coordinator'
      category:
        type: string
        description: Category of the role
        example: 'admin'
    required:
    - id
    - name

  RoleList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of roles
    type: object
    properties:
      items:
        type: array
        items:
            allOf:
            - $ref: '#/definitions/Role'
            properties:
              branch:
                $ref: '#/definitions/BranchSummary'

  EmploymentType:
    description: Employment Type
    type: object
    properties:
      id:
        type: integer
        description: ID of the employment type
        example: 1
      name:
        type: string
        description: Name of employment type
        example: 'Full time'
    required:
    - id

  EmploymentTypeDetailsList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of employment types
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/EmploymentTypeDetails'

  EmploymentTypeDetails:
    description: Employment Type Details
    type: object
    properties:
      id:
        type: integer
        description: ID of the employment type
        example: 1
      name:
        type: string
        description: Name of employment type
        example: 'Full time'
      branch:
        $ref: '#/definitions/BranchSummary'

  EmployeeNotesDetailsList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of employee notes
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/EmployeeNotesDetails'

  EmployeeNotesDetails:
    description: An employee note
    type: object
    properties:
      id:
        type: integer
        description: ID of the employee note
        example: 123
      status:
        type: string
        default: active
        description: Status of the employee note. Either `active` or `archived`.
        example: active
        enum:
        - active
        - archived
      note_type:
        type: string
        description: Note type category of the employee note
        example: employee_general
      content:
        type: string
        description: Content of the employee note. A subset of HTML is accepted.
        example: 'Employee requested additional training.'
      created_at:
        type: string
        format: 'date-time'
        description: Date employee note was created (ISO 8601)
        example: '2018-07-08T13:30:00+00:00'
      created_by:
        type: integer
        description: AlayaCare ID of the employee who created the employee note.
        example: 1001
  
  EmployeeNotesCreate:
    description: Employee note data required for creation.
    type: object
    properties:
      status:
        type: string
        default: active
        description: Status of the employee note. Either `active` or `archived`.
        example: active
        enum:
        - active
        - archived
      note_type:
        type: string
        description: Note type category of the employee note
        example: employee_general
      content:
        type: string
        description: Content of the employee note. A subset of HTML is accepted.
        example: 'Employee requested additional training.'
    required:
      - note_type
      - content

  NoteTypesList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of a employee note types
    properties:
      items:
        type: array
        items:
          properties:
            note_type:
              type: string
              description: Employee note type code
              example: employee_general
            name:
              type: string
              description: Employee note type display name
              example: General

  BranchSummary:
    description: Branch summary
    type: object
    properties:
      id:
        type: integer
        description: ID of the branch
        example: 1
      name:
        type: string
        description: Name of the branch
        example: 'Headquarters'

  ProfileAttribute:
    type: object
    properties:
      tag:
        description: Attribute key in the demographics object
        type: string
        example: first_name
      description:
        description: Attribute description as it shows in the web application
        type: string
        example: First Name

  ProfileAttributeList:
    allOf:
    - $ref: "#/definitions/PaginatedList"
    description: Paginated list of profile attributes
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/ProfileAttribute'

  ProfilePictureUrl:
    type: object
    properties:
      url:
        description: Pre-authorized profile picture url.
        type: string
        example: https://place-hold.it/200

  Skill:
    description: A skill or qualification associated to an employee
    type: object
    properties:
      id:
        type: integer
        example: 1234
      name:
        type: string
        example: Hoyer lift

  EmployeeDetails:
    description: AlayaCare employee entity
    type: object
    properties:
      demographics:
        $ref: "#/definitions/EmployeeDemographics"
      id:
        type: integer
      ac_id:
        type: string
        description: AlayaCare ID for display in-app
        example: AC000000024
      external_id:
        type: string
        x-nullable: true
      profile_id:
        type: integer
        example: 7890
      branch_id:
        type: integer
      status:
        $ref: "#/definitions/EmployeeStatus"
      roles:
        type: array
        description: Employee roles
        items:
          $ref: '#/definitions/Role'
      groups:
        type: array
        description: Employee groups
        items:
          $ref: '#/definitions/Group'
      departments:
        type: array
        description: Employee departments
        items:
          $ref: '#/definitions/Department'
      designation:
        type: string
        x-nullable: true
      max_biweekly_capacity:
        type: number
        x-nullable: true
        example: 50.5
      min_biweekly_capacity:
        type: number
        example: 20.5
      max_weekly_capacity:
        type: string
        x-nullable: true
        example: "24.5"
      min_weekly_capacity:
        type: string
        example : "10"
      max_daily_capacity:
        type: string
        x-nullable: true
        example: 10
      min_daily_capacity:
        type: string
        example: 0
      default_availability:
        type: string
        example: "available"
      username:
        type: string
      skills:
        type: array
        description: List of skills associated to an employee
        items:
          $ref: '#/definitions/Skill'
      ssn_sin:
        type: string
        description: Social security number or Social insurance number of the employee
        example: 123456789
        x-nullable: true          
      contacts:
        type: array
        description: Employee contacts
        items:
          $ref: '#/definitions/EmployeeContact'
      language:
        type: string
        example: en
      payroll_number:
        type: string
        example: A123
      seniority:
        type: string
        example: 897563
      employment_type:
        $ref: '#/definitions/EmploymentType'
      cost_centre:
        $ref: '#/definitions/CostCentre'
      timezone:
        description: |
          Timezone name in IANA format (iana.org/time-zones). If not set, returns the branch timezone.
        type: string
        example: America/Toronto
    required:
      - id
      - ac_id
      - external_id
      - demographics
      - branch_id
      - status
      - contacts

  EmployeeStatus:
    description: |
        Enum of the status of an employee
    type: string
    enum:
    - active
    - pending
    - on_hold
    - suspended
    - terminated
    - applicant
    - rejected
    - unknown

  EmployeeStatusCreate:
    description: |
        Enum of the status of an employee
    type: string
    enum:
    - active
    - pending
    - on_hold
    - suspended
    - terminated
    - applicant
    - rejected

  EmployeeStatusUpdate:
    description: AlayaCare employee entity data for status update
    type: object
    properties:
      status:
        description: Updatable status of an employee
        type: string
        example: terminated
        enum:
          - active
          - pending
          - on_hold
          - suspended
          - terminated
          - applicant
          - rejected
      comment:
        description: Can only be set for employee termination  
        type: string
        example: Employee is moving to another agency
    required:
      - status

  EmployeeList:
    allOf:
    - $ref: '#/definitions/PaginatedList'
    description: |
      List of employees
    type: object
    properties:
      items:
        type: array
        items:
          allOf:
          - $ref: "#/definitions/Employee"
          properties:
            branch:
              $ref: '#/definitions/BranchSummary'

  Employee:
    description: |
      AlayaCare employee list view
    type: object
    properties:
      id:
        type: integer
        example: 1
      ac_id:
        type: string
        description: AlayaCare ID for display in-app
        example: AC000000024
      external_id:
        type: string
        example: external_id_1
        x-nullable: true
      profile_id:
        type: integer
        example: 7890
      first_name:
        type: string
        example: John
      last_name:
        type: string
        example: Smith
        x-nullable: true
      status:
        $ref: "#/definitions/EmployeeStatus"
      job_title:
        type: string
        x-nullable: true
      email:
        type: string
        example: john@smith.com
      phone:
        type: string
        x-nullable: true
        example: "+15555555555"
      phone_other:
        type: string
        x-nullable: true
        example: "+15555555555"
      designation:
        type: string
        x-nullable: true
      departments:
        type: array
        items:
          type: integer
          description: ID of a department
      _link:
        type: string

  EmployeeUpdate:
    description: AlayaCare employee entity data for creation
    type: object
    properties:
      demographics:
        $ref: '#/definitions/EmployeeDemographics'
      external_id:
        type: string
      username:
        type: string
        example: john.smith
      roles:
        description: |
          List of roles. Role objects have ID for convenience
          of input, but only the IDs are used here. For valid IDs,
          request /roles.
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              example: 1
      groups:
        description: |
          List of groups. Group objects have ID for convenience
          of input, but only the IDs are used here. For valid IDs,
          request /groups.
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              example: 1
      departments:
        description: |
          List of departments. Department objects have ID for convenience
          of input, but only the IDs are used here. For valid IDs,
          request /departments.
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              example: 1
      designation:
        type: string
        example: Nurse
      payroll_number:
        type: string
        example: A123
      seniority:
        description: |
          The employee seniority value is determined by the Employee Seniority Type defined in the system settings. 
          This value must correspond to the selected type, which can be RANK, DATE, or NUMBER.
        type: string
        example: 897563
      max_biweekly_capacity:
        type: number
        example: 50.5
      min_biweekly_capacity:
        type: number
        example: 20.5
      max_weekly_capacity:
        type: string
        example : "24.5"
      min_weekly_capacity:
        type: string
        example : "10"
      max_daily_capacity:
        type: string
        example : 10
      min_daily_capacity:
        type: string
        example : 2
      default_availability:
        type: string
        description: |
          Default employee's availability. If not set, will inherit the branch default availability.
          Accepted values: "available", "unavailable"
        example: "available"
      employment_type:
        type: object
        properties:
          id:
            type: integer
            example: 1
      timezone:
        description: |
          Timezone name in IANA format (iana.org/time-zones). If set to null, will inherit the branch timezone.
        type: string
        example: America/Toronto

  EmployeeCreate:
    allOf:
    - $ref: "#/definitions/EmployeeUpdate"
    properties:
      branch_id:
        type: integer
        description: |
          Set employee branch. If not specified, will default to branch of the user creating the employee.
      profile_id:
        description: |
          Use an existing client or contact profile ID when creating an employee.
          Demographics will be shared between this employee and the previously
          existing entity.
          A unique username is still required for any new employee.
        type: integer
        example: 7890
      status:
        $ref: '#/definitions/EmployeeStatusCreate'
    required:
      - username

  BranchProfile:
    description: |
      Collection of key/value pairs where keys are existing attributes in the agency profile, defined through
      the AlayaCare web application.
      On the example below default profile keys for the agency profile are used.

      Example profile attributes:
      + `first_name`: string
      + `last_name`: string
      + `city`: string
      + `title`: string
      + `state`: string
      + `gender`: string
      + `relationship`: string
      + `contact_type`: string
      + `fax`: string
      + `company`: string
      + `phone_other`: string
      + `phone_main`: string
      + `address`: string
      + `country`: string
      + `zip`: string
      + `address_suite`: string
      + `remarks`: string
    type: object
    properties:
      name:
        description: Branch company name
        type: string
        example: Alayacare
      phone_main:
        description: Branch main phone number
        type: string
        example: 514-999-9999

  EmployeeDemographics:
    description: |
      Collection of key/value pairs where keys are existing attributes in the employee profile, defined through the AlayaCare webapp.
      On the example below default profile keys for the employee are used.

      Example profile attributes:

      + `address_suite`: string
      + `address`: string
      + `birthday`: string
      + `city`: string
      + `company`: string
      + `country`: string
      + `department`: string
      + `email_preferred`: string
      + `email`: string
      + `employee_id`: string
      + `fax`: string
      + `first_name`: string
      + `gender`: string
      + `group`: string
      + `last_name`: string
      + `phone_main`: string
      + `phone_other`: string
      + `phone_personal`: string
      + `remarks`: string
      + `salutation`: string
      + `state`: string
      + `timeframe`: string
      + `title`: string
      + `zip`: string
      + `termination_date`: string
    type: object
    required:
    - first_name
    - last_name
    - email
    properties:
      first_name:
        type: string
      last_name:
        type: string
      email:
        type: string
        format: email
      location:
        $ref: '#/definitions/Location'
    example:
      first_name: John
      last_name: Doe
      email: john@doe.com
      salutation: Mr.
      gender: M

  EmployeeContactDemographics:
      description: |
        Collection of key/value pairs where keys are existing attributes in the employee contact profile, defined through the AlayaCare web application.
        On the example below default profile keys for the employeecontact are used.

        Example profile attributes:
        + `first_name`: string
        + `last_name`: string
        + `city`: string
        + `title`: string
        + `state`: string
        + `gender`: string
        + `relationship`: string
        + `contact_type`: string
        + `fax`: string
        + `company`: string
        + `phone_other`: string
        + `phone_main`: string
        + `address`: string
        + `country`: string
        + `zip`: string
        + `address_suite`: string
        + `remarks`: string
      type: object
      properties:
        first_name:
          description: Employee first name
          type: string
          example: Jane
        last_name:
          description: Employee last name
          type: string
          example: Smith

  EmployeeContact:
    type: object
    properties:
      id:
        type: integer
        description: Employee contact ID
        example: 1
      ac_id:
        type: string
        description: AlayaCare ID for display in-app
        example: AC000000024  
      external_id:
        type: string
        example: crm_employee_contact_external_id_1
        description: Employee contact external ID
        x-nullable: true
      status:
        description: Status of a contact
        type: string
        enum:
        - enabled
        - disabled
      contact_type:
        type: string
        example: Medical
        x-nullable: true
      relationship:
        type: string
        example: Doctor
        x-nullable: true
      language:
        type: string
        example: en
      demographics:
        $ref: '#/definitions/EmployeeContactDemographics'
    required:
    - id
    - ac_id
    - external_id
    - status
    - demographics

  EmployeeContactDetails:
    description: AlayaCare employee list item  
    type: object
    allOf:
    - $ref: '#/definitions/EmployeeContact'
    properties:  
      employees:
        type: array
        items:
          $ref: "#/definitions/EmployeeContactListDetails"

  EmployeeContactListDetails:
    description: Employee contact list details
    type: object          
    properties:
      id:
        description: AlayaCare employee ID
        type: integer
        example: 1000
      ac_id:
        type: string
        description: AlayaCare employee ID for display in-app
        example: AC000000024
      branch:
        type: object
        description: AlayaCare branch
        properties:
          id:
            description: Branch ID
            type: integer
            example: 1000
          name:
            description: Branch name
            type: string
            example: "Toronto branch"
      email:
        type: string
        description: employee email address
        example: "employee@homecare.com"
      external_id:
        description: External employee ID
        type: string
        example: employee_external_id_1
        x-nullable: true
      first_name:
        description: employee first name
        type: string
        example: John
      last_name:
        description: employee last name
        type: string
        example: Smith         
      status:
        $ref: '#/definitions/EmployeeStatus'        
      contact_relationship:
        $ref: '#/definitions/EmployeeContactRelationship'
      _link:
        description: employee link on the web application
        type: string
        example: "https://demo3.alayacare.ca/permalink/employee/b1"
  
  EmployeeContactRelationship:
    description: AlayaCare employee contact relationship specific properties details
    type: object
    properties:
        contact_type:
          type: string
          example: Medical
          x-nullable: true
        relationship:
          type: string
          example: Doctor
          x-nullable: true
        status:
          $ref: '#/definitions/EmployeeContactStatus'

  EmployeeContactStatus:
    type: string
    enum:
    - enabled
    - disabled

  EmployeeContactCreate:
    allOf:
    - $ref: "#/definitions/EmployeeContactUpdate"
    type: object
    description: |
      When creating an employee contact, either `employee_id` or
      `external_employee_id` must be provided; that will be the
      employee to which the contact is associated.
      If a `profile_id` is provided
    properties:
      profile_id:
        description: AlayaCare profile ID
        type: integer
        example: 7890

  EmployeeContactUpdate:
    type: object
    properties:
      external_id:
        type: string
        example: crm_employee_contact_external_id_1
        description: Employee contact external ID
      status:
        description: Status of a contact
        type: string
        enum:
        - enabled
        - disabled
      contact_type:
        type: string
        example: Medical
      relationship:
        type: string
        example: Doctor
      employee_id:
        type: integer
        description: AlayaCare employee ID
        example: 1001
      external_employee_id:
        type: string
        description: External employee ID
        example: sor_employee_external_id_1
      demographics:
        $ref: '#/definitions/EmployeeContactDemographics'

  PaginatedList:
    description: Base model of all paginated lists
    type: object
    properties:
      count:
        type: integer
        description: Number of items in the response
        example: 1
      page:
        type: integer
        description: Current page number
        example: 1
      total_pages:
        type: integer
        description: Total number of pages availbale
        example: 1
    required:
    - count
    - page
    - total_pages
    - items

  Location:
    description: Location information
    type: object
    x-nullable: true
    properties:
      lat:
        type: number
        description: latitude
        example: 45.518
      lon:
        type: number
        description: longitude
        example: -73.582
      zip:
        type: string
        description: postal code
        example: H0H 0H0

  CostCentre:
    description: Details of a cost centre
    type: object
    x-nullable: true
    properties:
      description:
        type: string
        description: Cost centre description
        example: Montreal
      id:
        type: integer
        description: Cost centre ID
        example: 2
      number:
        type: string
        description: Cost centre number for display in-app
        example: "5555"
      status:
        type: string
        description: Cost centre status
        example: enabled